<%= content_for :header do %>
  <%= index_header "Activity" %>
<% end %>

<table class="table monthly-adjustments">
  <thead>
    <tr>
      <th></th>
      <th class="left-lined" colspan="2">Activity</th>
      <th class="left-lined" colspan="2">Members</th>
      <th class="left-lined" colspan="2">Appointments</th>
    </tr>
    <tr>
      <th>Month</th>
      <th class="left-lined">Loans</th>
      <th>Members</th>
      <th class="left-lined">New</th>
      <th>Pending</th>
      <th class="left-lined">Scheduled</th>
      <th>Completed</th>
    </tr>
  </thead>
  <tbody>
    <% @monthly_activities.each do |date, activities| %>
      <tr>
        <% year, month = date.split("-") %>
        <td><%= Date::MONTHNAMES[month.to_i] %> <%= year %></td>
        <td class="left-lined"><%= activities[:loans_count] %></td>
        <td class="left-lined"><%= activities[:active_members_count] %></td>
        <td class="left-lined"><%= activities[:new_members_count] %></td>
        <td class="left-lined"><%= activities[:pending_members_count] %></td>
        <td class="left-lined"><%= activities[:appointments_count] %></td>
        <td class="left-lined"><%= activities[:completed_appointments_count] %></td>
      </tr>
    <% end %>
  <tfoot>
    <tr>
      <td>Total</td>
      <td class="left-lined"><%= @monthly_activities.values.sum { |a| a[:loans_count] } %></td>
      <td class="left-lined"><%= @monthly_activities.values.sum { |a| a[:active_members_count] } %></td>
      <td class="left-lined"><%= @monthly_activities.values.sum { |a| a[:new_members_count] } %></td>
      <td class="left-lined"><%= @monthly_activities.values.sum { |a| a[:pending_members_count] } %></td>
      <td class="left-lined"><%= @monthly_activities.values.sum { |a| a[:appointments_count] } %></td>
      <td class="left-lined"><%= @monthly_activities.values.sum { |a| a[:completed_appointments_count] } %></td>
    </tr>
  </tfoot>
</table>
