<%= content_for :header do %>
  <%= index_header "Activity" %>
<% end %>

<table class="table monthly-adjustments">
  <thead>
    <tr>
      <th></th>
      <th class="left-lined" colspan="2">Activity</th>
      <th class="left-lined" colspan="2">Members</th>
      <th class="left-lined" colspan="2">Appointments</th>
    </tr>
    <tr>
      <th>Month</th>
      <th class="left-lined">Loans</th>
      <th>Members</th>
      <th class="left-lined">New</th>
      <th>Pending</th>
      <th class="left-lined">Scheduled</th>
      <th>Completed</th>
    </tr>
  </thead>
  <tbody>
    <% @monthly_activities.each do |ma| %>
      <tr>
        <td><%= Date::MONTHNAMES[ma.month] %> <%= ma.year %></td>
        <td class="left-lined"><%= ma.loans_count %></td>
        <td class="left-lined"><%= ma.active_members_count %></td>
        <td class="left-lined"><%= ma.new_members_count %></td>
        <td class="left-lined"><%= ma.pending_members_count %></td>
        <td class="left-lined"><%= ma.appointments_count %></td>
        <td class="left-lined"><%= ma.completed_appointments_count %></td>
      </tr>
    <% end %>
  <tfoot>
    <tr>
      <td>Total</td>
      <td class="left-lined"><%= @monthly_activities.sum(&:loans_count) %></td>
      <td class="left-lined"><%= @monthly_activities.sum(&:active_members_count) %></td>
      <td class="left-lined"><%= @monthly_activities.sum(&:new_members_count) %></td>
      <td class="left-lined"><%= @monthly_activities.sum(&:pending_members_count) %></td>
      <td class="left-lined"><%= @monthly_activities.sum(&:appointments_count) %></td>
      <td class="left-lined"><%= @monthly_activities.sum(&:completed_appointments_count) %></td>
    </tr>
  </tfoot>
</table>
