<%# mobile nav %>
<div class="homepage-navbar show-sm">
  <div class="columns ">
    <div class="dropdown">
      <div class="btn-group">
        <a href="#" class="btn dropdown-toggle menu-button" tabindex="0">
          <i class="icon icon-menu"></i>
        </a>

        <ul class="menu dropdown-menu">
          <li><a href="#" class="btn btn-link navlink">About Us</a></li>
          <li><a href="#" class="btn btn-link navlink">How It Works</a></li>
          <li><a href="#" class="btn btn-link navlink">Contact us</a></li>
        </ul>
      </div>
    </div>

    <%= image_pack_tag "logo_small.png", alt: "Circulate logo", class: "homepage-mobile-navbar-logo" %>
    <p class="homepage-nav-header">Circulate</p>
  </div>
</div>

<%# desktop nav %>
<header class="navbar homepage-navbar hide-sm">
  <section class="navbar-section">
    <%= image_pack_tag "logo_small.png", alt: "Circulate logo", class: "homepage-navbar-logo" %>
    <p class="homepage-nav-header ml-2">Circulate</p>
  </section>
  <section class="navbar-section navlink-section">
    <a href="#" class="btn btn-link navlink">About Us</a>
    <a href="#" class="btn btn-link navlink">How It Works</a>
    <a href="#" class="btn btn-link navlink">Contact us</a>
  </section>
</header>

<div class="container grid-xl main-container">
  <p class="header-text text-center mb-lg">Software for Lending Libraries</p>
  <div class="columns col-oneline mb-xl">
    <div class="column col-6 pr-4">
      <%= image_pack_tag "items.png", alt: "Items example", class: "full-width" %>
    </div>
    <div class="column col-6 pl-4">
      <p class="body-text">
        CIRCULATE is an <a href="https://github.com/rubyforgood/circulate">open source</a> lending library software solution backed by <a href="https://rubyforgood.org/">Ruby for Good</a> that allows community libraries lend out tools, insert another item here, and another one here, and more.

        <br /><br />

        Dui id ornare arcu odio ut sem nulla pharetra. Egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam. Ultricies tristique nulla aliquet enim tortor at auctor. Sed felis eget velit aliquet sagittis id consectetur purus ut.

        <br /><br />

        Lorem ipsum dolor sit amet consectetur adipiscing elit duis. Facilisis sed odio morbi quis commodo odio aenean sed adipiscing. Lectus quam id leo in vitae turpis massa sed. Adipiscing enim eu turpis egestas pretium aenean pharetra. Nibh cras pulvinar mattis nunc sed blandit libero.

        <br /><br />

        Mattis rhoncus urna neque viverra justo nec ultrices dui sapien. Vel quam elementum pulvinar etiam. Vitae semper quis lectus nulla at. Dui ut ornare lectus sit amet est placerat. Euismod elementum nisi quis eleifend quam. Dolor sit amet consectetur adipiscing. Sed tempus urna et pharetra pharetra massa massa. Non arcu risus quis varius. Dui nunc mattis enim ut. Nisl rhoncus mattis rhoncus urna neque viverra justo nec ultrices.
      </p>

      <button class="primary-button">Learn More</button>
    </div>
  </div>
</div>

<div class="background-cream pb-xl">
  <div class="container grid-xl">
    <div class="mb-lg pt-xl">
      <p class="header-text">How it Works</p>
    </div>
    <div class="pb-xl">
      <p class="body-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui id ornare arcu odio ut sem nulla pharetra. Egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam. Ultricies tristique nulla aliquet enim tortor at auctor. Sed felis eget velit aliquet sagittis id consectetur purus ut. Lorem ipsum dolor sit amet consectetur adipiscing elit duis. Facilisis sed odio morbi quis commodo odio aenean sed adipiscing. Lectus quam id leo in vitae turpis massa sed. Adipiscing enim eu turpis egestas pretium aenean pharetra. Nibh cras pulvinar mattis nunc sed blandit libero.
      <p>
    </div>
    <div class="columns col-oneline">
      <div class="column col-2 pr-4 vertical-center">
        <%= image_pack_tag "team.png", alt: "Items example", class: "full-width vertical-center" %>
      </div>
      <div class="column col-10 pr-4">
        <p class="sub-header-text">Membership</p>
        <p class="body-text">
          Maecenas ultricies mi eget mauris pharetra et. Neque gravida in fermentum et sollicitudin. Urna et pharetra pharetra massa massa ultricies mi quis. Viverra ipsum nunc aliquet bibendum enim facilisis. Sagittis eu volutpat odio facilisis mauris sit. Sollicitudin ac orci phasellus egestas. Commodo odio aenean sed adipiscing diam donec adipiscing tristique. Cursus euismod quis viverra nibh cras. Turpis massa sed elementum tempus egestas sed sed risus. Quis hendrerit dolor magna eget est. Nunc sed augue lacus viverra. Id diam maecenas ultricies mi eget mauris pharetra et.
        </p>
        <ul class="body-text">
          <li>Fact 1 placeholder information</li>
          <li>Fact 2 placeholder information</li>
          <li>Fact 3 placeholder information</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container grid-xl">
  <div class="columns col-oneline pb-xl pt-xl">
    <div class="column col-10 pr-4">
      <p class="sub-header-text">Inventory</p>
      <p class="body-text">
        Maecenas ultricies mi eget mauris pharetra et. Neque gravida in fermentum et sollicitudin. Urna et pharetra pharetra massa massa ultricies mi quis. Viverra ipsum nunc aliquet bibendum enim facilisis. Sagittis eu volutpat odio facilisis mauris sit. Sollicitudin ac orci phasellus egestas. Commodo odio aenean sed adipiscing diam donec adipiscing tristique. Cursus euismod quis viverra nibh cras. Turpis massa sed elementum tempus egestas sed sed risus. Quis hendrerit dolor magna eget est. Nunc sed augue lacus viverra. Id diam maecenas ultricies mi eget mauris pharetra et.
      </p>
      <ul class="body-text">
        <li>Fact 1 placeholder information</li>
        <li>Fact 2 placeholder information</li>
        <li>Fact 3 placeholder information</li>
      </ul>
    </div>
    <div class="column col-2 pr-4 vertical-center">
      <%= image_pack_tag "checklist.png", alt: "Items example", class: "full-width vertical-center" %>
    </div>
  </div>
</div>

<div class="background-cream">
  <div class="container grid-xl">
    <div class="columns col-oneline pb-xl pt-xl">
      <div class="column col-2 pr-4 vertical-center">
        <%= image_pack_tag "calendar.png", alt: "Items example", class: "full-width vertical-center" %>
      </div>
      <div class="column col-10 pr-4">
        <p class="sub-header-text">Schedule Volunteers</p>
        <p class="body-text">
          Maecenas ultricies mi eget mauris pharetra et. Neque gravida in fermentum et sollicitudin. Urna et pharetra pharetra massa massa ultricies mi quis. Viverra ipsum nunc aliquet bibendum enim facilisis. Sagittis eu volutpat odio facilisis mauris sit. Sollicitudin ac orci phasellus egestas. Commodo odio aenean sed adipiscing diam donec adipiscing tristique. Cursus euismod quis viverra nibh cras. Turpis massa sed elementum tempus egestas sed sed risus. Quis hendrerit dolor magna eget est. Nunc sed augue lacus viverra. Id diam maecenas ultricies mi eget mauris pharetra et.
        </p>
        <ul class="body-text">
          <li>Fact 1 placeholder information</li>
          <li>Fact 2 placeholder information</li>
          <li>Fact 3 placeholder information</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container grid-xl">
  <div class="columns col-oneline pb-xl pt-xl">
    <div class="column col-10 pr-4">
      <p class="sub-header-text">Pay Online</p>
      <p class="body-text">
        Maecenas ultricies mi eget mauris pharetra et. Neque gravida in fermentum et sollicitudin. Urna et pharetra pharetra massa massa ultricies mi quis. Viverra ipsum nunc aliquet bibendum enim facilisis. Sagittis eu volutpat odio facilisis mauris sit. Sollicitudin ac orci phasellus egestas. Commodo odio aenean sed adipiscing diam donec adipiscing tristique. Cursus euismod quis viverra nibh cras. Turpis massa sed elementum tempus egestas sed sed risus. Quis hendrerit dolor magna eget est. Nunc sed augue lacus viverra. Id diam maecenas ultricies mi eget mauris pharetra et.
      </p>
      <ul class="body-text">
        <li>Fact 1 placeholder information</li>
        <li>Fact 2 placeholder information</li>
        <li>Fact 3 placeholder information</li>
      </ul>
    </div>
    <div class="column col-2 pr-4 vertical-center">
      <%= image_pack_tag "donation.png", alt: "Items example", class: "full-width vertical-center" %>
    </div>
  </div>
</div>

<div class="background-cream">
  <div class="container grid-xl">
    <div class="columns col-oneline pb-xl pt-xl">
      <div class="column col-5 pr-4 vertical-center">
        <div class="video-wrap">
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/ZtE-gockUN8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="column col-7 pr-4">
        <p class="sub-header-text">Video Tour</p>
        <p class="body-text">
          Check out our other videos on <a href="https://www.youtube.com/">YouTube</a>. Neque gravida in fermentum et sollicitudin. Urna et pharetra pharetra massa massa ultricies mi quis. Viverra ipsum nunc aliquet bibendum enim facilisis. Sagittis eu volutpat odio facilisis mauris sit. Sollicitudin ac orci phasellus egestas. Commodo odio aenean sed adipiscing diam donec adipiscing tristique. Cursus euismod quis viverra nibh cras. Turpis massa sed elementum tempus egestas sed sed risus. Quis hendrerit dolor magna eget est. Nunc sed augue lacus viverra. Id diam maecenas ultricies mi eget mauris pharetra et.
        </p>
      </div>
    </div>
  </div>
</div>


  <%# form_for :homepage do |form| %>
    <%# form.label :name %>
    <%# form.text_field :name %>

    <%# form.label :email %>
    <%# form.email_field :email %>

    <%# form.label :address %>
    <%# form.text_field :address %>

    <%# form.label :appartment, "Appt or unit" %>
    <%# form.text_field :appartment %>

    <%# form.label :zip %>
    <%# form.text_field :zip %>

    <%# form.submit "Submit" %>
  <%# end  %>
</div>

<%# <footer>
  <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> or visit their website to learn how to attribute.
</footer> %>
