<div class="homepage-navbar show-sm">
  <div class="columns ">
    <div class="dropdown">
      <div class="btn-group">
        <a href="#" class="btn dropdown-toggle menu-button" tabindex="0">
          <i class="icon icon-menu"></i>
        </a>

        <ul class="menu dropdown-menu">
          <li><a href="#" class="btn btn-link navlink">About Us</a></li>
          <li><a href="#" class="btn btn-link navlink">How It Works</a></li>
          <li><a href="#" class="btn btn-link navlink">Video Description</a></li>
          <li><a href="#" class="btn btn-link navlink">Contact us</a></li>
        </ul>
      </div>
    </div>

    <%= image_pack_tag "logo_small.png", alt: "Circulate logo", class: "homepage-mobile-navbar-logo" %>
    <h3 class="mb-0">Circulate</h3>
    </div>
</div>

<header class="navbar homepage-navbar hide-sm">
  <section class="navbar-section">
    <%= image_pack_tag "logo_small.png", alt: "Circulate logo", class: "homepage-navbar-logo" %>
    <h3 class="ml-2 mb-0">Circulate</h3>
  </section>
  <section class="navbar-section navlink-section">
    <a href="#" class="btn btn-link navlink">About Us</a>
    <a href="#" class="btn btn-link navlink">How It Works</a>
    <a href="#" class="btn btn-link navlink">Video Description</a>
    <a href="#" class="btn btn-link navlink">Contact us</a>
  </section>
</header>

<div class="container main-container">

  <%= form_for :homepage do |form| %>
    <%= form.label :name %><br />
    <%= form.text_field :name %><br />

    <%= form.label :email %><br />
    <%= form.email_field :email %><br />

    <%= form.label :address %><br />
    <%= form.text_field :address %><br />

    <%= form.label :appartment, "Appt or unit" %><br />
    <%= form.text_field :appartment %><br />

    <%= form.label :zip %><br />
    <%= form.text_field :zip %><br />

    <%= form.label :name %><br />
    <%= form.text_field :name %><br />

    <%= form.label :email %><br />
    <%= form.email_field :email %><br />

    <%= form.label :address %><br />
    <%= form.text_field :address %><br />

    <%= form.label :appartment, "Appt or unit" %><br />
    <%= form.text_field :appartment %><br />

    <%= form.label :zip %><br />
    <%= form.text_field :zip %><br />

    <%= form.label :name %><br />
    <%= form.text_field :name %><br />

    <%= form.label :email %><br />
    <%= form.email_field :email %><br />

    <%= form.label :address %><br />
    <%= form.text_field :address %><br />

    <%= form.label :appartment, "Appt or unit" %><br />
    <%= form.text_field :appartment %><br />

    <%= form.label :zip %><br />
    <%= form.text_field :zip %><br />

    <%= form.submit "Submit" %>
  <% end  %>
</div>
