<%# mobile nav %>
<div class="homepage-navbar show-sm">
  <div class="columns ">
    <div class="dropdown">
      <div class="btn-group">
        <a href="" class="btn btn-link dropdown-toggle menu-button" tabindex="0">
          <i class="icon icon-menu"></i>
        </a>

        <ul class="menu dropdown-menu">
          <li><a href="#about-us" class="btn btn-link navlink">About Us</a></li>
          <li><a href="#how-it-works" class="btn btn-link navlink">How It Works</a></li>
          <li><a href="#contact-us" class="btn btn-link navlink">Contact Us</a></li>
        </ul>
      </div>
    </div>

    <%= image_pack_tag "logo_small.png", alt: "Circulate logo", class: "homepage-mobile-navbar-logo" %>
    <div class="homepage-nav-header">Circulate</div>
  </div>
</div>

<%# desktop nav %>
<header class="navbar homepage-navbar hide-sm">
  <section class="navbar-section">
    <%= image_pack_tag "logo_small.png", alt: "Circulate logo", class: "homepage-navbar-logo" %>
    <div class="homepage-nav-header ml-2">Circulate</div>
  </section>
  <section class="navbar-section navlink-section">
    <a href="#about-us" class="btn btn-link navlink">About Us</a>
    <a href="#how-it-works" class="btn btn-link navlink">How It Works</a>
    <a href="#contact-us" class="btn btn-link navlink">Contact Us</a>
  </section>
</header>

<div class="container mb-none-important grid-xl px-3 main-container">
  <a id="about-us"></a>
  <div class="header-text text-center mb-4">Software for Lending Libraries</div>
  <div class="columns mobile-mb-5">
    <div class="column col-md-12 col-6 right-item-padding mobile-pb-4">
      <%= image_pack_tag "items.png", alt: "Items example", class: "full-width" %>
    </div>
    <div class="column col-md-12 col-6 left-item-padding">
      <div class="body-text mb-4">
        CIRCULATE is an <a href="https://github.com/rubyforgood/circulate">open source</a> lending library software solution backed by <a href="https://rubyforgood.org/">Ruby for Good</a> that allows community libraries lend out tools, insert another item here, and another one here, and more.

        <br /><br />

        Dui id ornare arcu odio ut sem nulla pharetra. Egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam. Ultricies tristique nulla aliquet enim tortor at auctor. Sed felis eget velit aliquet sagittis id consectetur purus ut.

        <br /><br />

        Lorem ipsum dolor sit amet consectetur adipiscing elit duis. Facilisis sed odio morbi quis commodo odio aenean sed adipiscing. Lectus quam id leo in vitae turpis massa sed. Adipiscing enim eu turpis egestas pretium aenean pharetra. Nibh cras pulvinar mattis nunc sed blandit libero.

        <br /><br />

        Mattis rhoncus urna neque viverra justo nec ultrices dui sapien. Vel quam elementum pulvinar etiam. Vitae semper quis lectus nulla at. Dui ut ornare lectus sit amet est placerat. Euismod elementum nisi quis eleifend quam. Dolor sit amet consectetur adipiscing. Sed tempus urna et pharetra pharetra massa massa. Non arcu risus quis varius. Dui nunc mattis enim ut. Nisl rhoncus mattis rhoncus urna neque viverra justo nec ultrices.
      </div>

      <a href="#learn-more">
        <button class="btn primary-button mobile-full-width">Learn More</button>
      </a>
    </div>
  </div>
</div>

<div class="background-cream">
  <div class="container mb-none-important grid-xl px-3">
    <div class="mobile-py">
      <div class="header-text">How it Works</div>
    </div>
    <div class="mobile-mb-5">
      <div class="body-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui id ornare arcu odio ut sem nulla pharetra. Egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam. Ultricies tristique nulla aliquet enim tortor at auctor. Sed felis eget velit aliquet sagittis id consectetur purus ut. Lorem ipsum dolor sit amet consectetur adipiscing elit duis. Facilisis sed odio morbi quis commodo odio aenean sed adipiscing. Lectus quam id leo in vitae turpis massa sed. Adipiscing enim eu turpis egestas pretium aenean pharetra. Nibh cras pulvinar mattis nunc sed blandit libero.
      </div>
    </div>
    <div class="columns mobile-pb-5">
      <div class="column col-md-12 col-2 right-item-padding vertical-center mobile-pb-4">
        <%= image_pack_tag "team.png", alt: "Teams example", class: "mobile-width vertical-center" %>
      </div>
      <div class="column col-md-12 col-10 left-item-padding">
        <div class="sub-header-text mobile-mb-4 text-md-center">Membership</div>
        <div class="body-text">
          Maecenas ultricies mi eget mauris pharetra et. Neque gravida in fermentum et sollicitudin. Urna et pharetra pharetra massa massa ultricies mi quis. Viverra ipsum nunc aliquet bibendum enim facilisis. Sagittis eu volutpat odio facilisis mauris sit. Sollicitudin ac orci phasellus egestas. Commodo odio aenean sed adipiscing diam donec adipiscing tristique. Cursus euismod quis viverra nibh cras. Turpis massa sed elementum tempus egestas sed sed risus. Quis hendrerit dolor magna eget est. Nunc sed augue lacus viverra. Id diam maecenas ultricies mi eget mauris pharetra et.
        </div>
        <a id="how-it-works"></a>
        <ul class="body-text">
          <li>Fact 1 placeholder information</li>
          <li>Fact 2 placeholder information</li>
          <li>Fact 3 placeholder information</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container mb-none-important grid-xl px-3">
  <div class="columns mobile-py">
    <div class="column col-md-12 col-2 vertical-center mobile-pb-4 show-md">
      <%= image_pack_tag "checklist.png", alt: "Checklist example", class: "mobile-width vertical-center" %>
    </div>
    <div class="column col-md-12 col-10 right-item-padding">
      <div class="sub-header-text mobile-mb-4 text-md-center">Inventory</div>
      <div class="body-text">
        Maecenas ultricies mi eget mauris pharetra et. Neque gravida in fermentum et sollicitudin. Urna et pharetra pharetra massa massa ultricies mi quis. Viverra ipsum nunc aliquet bibendum enim facilisis. Sagittis eu volutpat odio facilisis mauris sit. Sollicitudin ac orci phasellus egestas. Commodo odio aenean sed adipiscing diam donec adipiscing tristique. Cursus euismod quis viverra nibh cras. Turpis massa sed elementum tempus egestas sed sed risus. Quis hendrerit dolor magna eget est. Nunc sed augue lacus viverra. Id diam maecenas ultricies mi eget mauris pharetra et.
      </div>
      <ul class="body-text">
        <li>Fact 1 placeholder information</li>
        <li>Fact 2 placeholder information</li>
        <li>Fact 3 placeholder information</li>
      </ul>
    </div>
    <div class="column col-2 vertical-center left-item-padding hide-md">
      <%= image_pack_tag "checklist.png", alt: "Checklist example", class: "full-width vertical-center" %>
    </div>
  </div>
</div>

<div class="background-cream">
  <div class="container mb-none-important grid-xl px-3">
    <div class="columns mobile-py">
      <div class="column col-md-12 col-2 right-item-padding vertical-center mobile-pb-4">
        <%= image_pack_tag "calendar.png", alt: "Calendar example", class: "mobile-width vertical-center" %>
      </div>
      <div class="column col-md-12 col-10 left-item-padding">
        <div class="sub-header-text mobile-mb-4 text-md-center">Schedule Volunteers</div>
        <div class="body-text">
          Maecenas ultricies mi eget mauris pharetra et. Neque gravida in fermentum et sollicitudin. Urna et pharetra pharetra massa massa ultricies mi quis. Viverra ipsum nunc aliquet bibendum enim facilisis. Sagittis eu volutpat odio facilisis mauris sit. Sollicitudin ac orci phasellus egestas. Commodo odio aenean sed adipiscing diam donec adipiscing tristique. Cursus euismod quis viverra nibh cras. Turpis massa sed elementum tempus egestas sed sed risus. Quis hendrerit dolor magna eget est. Nunc sed augue lacus viverra. Id diam maecenas ultricies mi eget mauris pharetra et.
        </div>
        <ul class="body-text">
          <li>Fact 1 placeholder information</li>
          <li>Fact 2 placeholder information</li>
          <li>Fact 3 placeholder information</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container mb-none-important grid-xl px-3">
  <div class="columns mobile-py">
    <div class="column col-md-12 col-2 vertical-center mobile-pb-4 show-md">
      <%= image_pack_tag "donation.png", alt: "Donation example", class: "mobile-width vertical-center" %>
    </div>
    <div class="column col-md-12 col-10 right-item-padding">
      <div class="sub-header-text mobile-mb-4 text-md-center">Pay Online</div>
      <div class="body-text">
        Maecenas ultricies mi eget mauris pharetra et. Neque gravida in fermentum et sollicitudin. Urna et pharetra pharetra massa massa ultricies mi quis. Viverra ipsum nunc aliquet bibendum enim facilisis. Sagittis eu volutpat odio facilisis mauris sit. Sollicitudin ac orci phasellus egestas. Commodo odio aenean sed adipiscing diam donec adipiscing tristique. Cursus euismod quis viverra nibh cras. Turpis massa sed elementum tempus egestas sed sed risus. Quis hendrerit dolor magna eget est. Nunc sed augue lacus viverra. Id diam maecenas ultricies mi eget mauris pharetra et.
      </div>
      <ul class="body-text">
        <li>Fact 1 placeholder information</li>
        <li>Fact 2 placeholder information</li>
        <li>Fact 3 placeholder information</li>
      </ul>
    </div>
    <div class="column col-2 vertical-center left-item-padding hide-md">
      <%= image_pack_tag "donation.png", alt: "Donation example", class: "full-width vertical-center" %>
    </div>
  </div>
</div>

<div class="background-cream">
  <div class="container mb-none-important grid-xl px-3">
    <div class="columns mobile-py">
      <div class="column col-md-12 col-5 right-item-padding vertical-center mobile-pb-4">
        <div class="video-wrap">
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/ZtE-gockUN8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
      </div>
      <div class="column col-md-12 col-7 left-item-padding">
        <div class="sub-header-text text-md-center">Video Tour</div>
        <div class="body-text">
          Check out our other videos on <a href="https://www.youtube.com/">YouTube</a>. Neque gravida in fermentum et sollicitudin. Urna et pharetra pharetra massa massa ultricies mi quis. Viverra ipsum nunc aliquet bibendum enim facilisis. Sagittis eu volutpat odio facilisis mauris sit. Sollicitudin ac orci phasellus egestas. Commodo odio aenean sed adipiscing diam donec adipiscing tristique. Cursus euismod quis viverra nibh cras. Turpis massa sed elementum tempus egestas sed sed risus. Quis hendrerit dolor magna eget est. Nunc sed augue lacus viverra. Id diam maecenas ultricies mi eget mauris pharetra et.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mb-none-important grid-sm px-3">
  <div class="mobile-py">
    <div class="header-text text-center mb-4">Get Started</div>
    <a id="learn-more"></a>
    <div class="body-text text-center mb-4">
      Maecenas ultricies mi eget mauris pharetra et. Neque gravida in fermentum et sollicitudin. Urna et pharetra pharetra massa massa ultricies mi quis. Viverra ipsum nunc aliquet bibendum enim facilisis. Sagittis eu volutpat odio facilisis mauris sit.
    </div>
    <div class="column col-12 full-width">
      <form id="get-started" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="form-group">
          <label class="form-label" for="homepage_name">Name</label>
          <input class="form-input input-height" type="text" name="homepage[name]" id="homepage_name">

          <label class="form-label" for="email">Email</label>
          <input class="form-input input-height" type="email" name="homepage[email]" id="homepage_email">

          <div class="columns col-oneline">
            <div class="column col-6 pr-1">
              <label class="form-label" for="city">City</label>
              <input class="form-input input-height" type="text" name="homepage[city]" id="homepage_city">
            </div>
            <div class="column col-6 pl-1">
              <label class="form-label" for="state">State / Province / Region</label>
              <input class="form-input input-height" type="text"  name="homepage[state]" id="homepage_state" >
            </div>
          </div>

          <a id="contact-us"></a>

          <label class="form-label" for="country">Country</label>
          <input class="form-input input-height" type="text" name="homepage[country]" id="homepage_country">

          <label class="form-label" for="description">Which best describes you?</label>
          <select class="form-select input-height" name="homepage[description]" id="homepage_description" required>
            <option disabled selected value>Select one</option>
            <option>I’m starting or planning to open a lending library</option>
            <option>I manage or volunteer with an established lending library</option>
            <option>I’m just interested in learning more about Circulate</option>
          </select>

          <label class="form-label" for="inventory">Items in your inventory (optional)</label>
          <textarea class="form-input" name="homepage[inventory]"id="homepage_inventory" placeholder="If you are a part of an existing lending organization, what kinds of items are in your inventory?" rows="4"></textarea>

          <button class="btn input-group-btn mt-3" type="submit" form="get-started">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>

<footer>
  <div class="background-blue">
    <div class="container mb-none-important grid-sm px-3 mobile-py">
      <div class="mobile-mb-4">
        <div class="header-nav-text text-center">
          Wish to contribute?
        </div>
      </div>
      <div class="pb-4">
        <div class="body-text white text-center">
          Circulate is an open source lending library software solution backed by Ruby for Good. Something about how to get involved with both Ruby for Good and Circulate.
        </div>
      </div>
      <div class="columns col-oneline pb-5">
        <div class="column col-6 pr-3 vertical-center">
          <a href="https://github.com/rubyforgood/circulate" class="text-right">
            <%= image_pack_tag "github-logo.png", alt: "Items example", class: "half-width" %>
          </a>
        </div>
        <div class="column col-6 pl-3 vertical-center">
          <a href="https://rubyforgood.org/">
            <%= image_pack_tag "ruby-for-good-logo.png", alt: "Items example", class: "half-width" %>
          </a>
        </div>
      </div>
      <div class="body-text white text-center">
        Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      </div>
    </div>
  </div>
</footer>
