<% content_for :header do %>
  <%= index_header "Holds" %>
<% end %>

<div class="columns">
  <div class="column col-12">

    <% if @holds.any? %>

      <table class="table table-scroll">
        <thead>
          <tr>
            <th>Item</th>
            <th>Number</th>
            <th>Member</th>
            <th>Created on</th>
          </tr>
        </thead>

        <tbody>
          <% @holds.each do |hold| %>
            <tr>
              <td><%= link_to hold.item.name, [:admin, hold.item] %></td>
              <td><%= link_to full_item_number(hold.item), [:admin, hold.item] %></td>
              <td><%= link_to preferred_or_default_name(hold.member), [:admin, hold.member] %></td>
              <td><%= date_with_time_title hold.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%== pagy_bootstrap_nav(@pagy) %>

    <% else %>
      <%= empty_state "No matching holds", icon: "time" %>
    <% end %>

  </div>
</div>
