<div class="users-confirmations-new container">
  <h2>Resend Confirmation Instructions</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field text mb-2">
      <%= f.label :email %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="actions text-center">
      <%= f.submit "Resend Confirmation Instructions", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
