<h1>New Membership</h1>

<div class="instructions">
  <p class="main">Memberships provide one year of borrowing privileges.</p>
  <p class="sub">We ask that members pay what they can.</p>
    <p>Our recommendation is that folks pay $1 for every $1,000 of income they make in a year.<br>For example, if a person makes $40,000 each year, we recommend their membership fee be $40.</p>
</div>

<%= form_with model: @payment, url: admin_member_memberships_path(@member), builder: SpectreFormBuilder do |form| %>

  <div class="columns">
    <div class="column col-sm-12 col-lg-5 col-mr-auto">
      <div class="panel">
        <div class="panel-header">
          <div class="panel-title"><strong>Accept a Payment</strong></div>
        </div>
        <div class="panel-body">
          <%= form.money_field :amount_dollars, label: "This year's membership fee", class: "input-lg" %>
          <%= form.select :payment_source, options_for_select(membership_payment_source_options, @payment.payment_source || "cash"), prompt: true %>
        </div>
        <div class="panel-footer">
          <%= form.submit "Save Membership" %>
        </div>
      </div>
    </div>

    <div class="divider-vert hide-sm" data-content="OR"></div>

    <div class="divider text-center show-sm" data-content="OR"></div>

    <div class="column col-sm-12 col-lg-5 col-mx-auto">
      <div class="panel">
        <div class="panel-header">
          <div class="panel-title"><strong>Create without Payment</strong></div>
        </div>
        <div class="panel-body">
          <p>Remember that we don't turn anyone away because they can't pay. Use this option to create a membership without accepting a payment.</p>
        </div>
        <div class="panel-footer">
          <%= form.button "Save without Payment", name: "without_payment", value: "1" %>
        </div>
      </div>
    </div>
  </div>

<% end %>