  <%= form.errors %>

  <%= form.text_field :full_name, hint: "Your full name, first and last; e.g. Octavia E. Butler" %>
  <%= form.text_field :preferred_name, hint: "What you like to be called; e.g. Tavi" %>

  <div data-controller="conditional-field" data-conditional-field-trigger="custom_pronoun">
    <%= form.select :pronoun, options_for_select(member_pronoun_options, form.object.pronoun), {prompt: true, hint: "How do you like to be addressed?"}, data: {action: "conditional-field#change", target: "conditional-field.parent"} %>
    <%= tag.div data: {target: "conditional-field.child"}, class: "conditional-field-child nested" do %>
      <%= form.text_field :custom_pronoun, placeholder: "Please specify" %>
    <% end %>
  </div>

  <%= form.text_field :email, hint: "e.g. you@domain.com" %>
  <%= form.text_field :phone_number, value: number_to_phone(form.object.phone_number, pattern: /^(\d{0,3})(\d{0,3})(\d{0,4})/, delimiter: " ")&.strip, hint: "Include area code; e.g. 312 123 4567" %>

  <%= form.text_field :postal_code, label: "ZIP code", hint: "5 digits only" %>

  <%= form.text_area :desires, label: "What tools would you be interested in checking from the library?", hint: "It's OK if we don't have them yet! This info will be helpful as we grow our inventory." %>

  <fieldset>
    <legend>Loan Reminders</legend>
    <%= form.check_box :reminders_via_email, label: "Send me loan reminders via email" %>
    <%= form.check_box :reminders_via_text, label: "Send me loan reminders via text (coming soon)" %>
  </fieldset>

  <fieldset>
    <legend>Subscribe to our Newsletter</legend>
    <%= form.check_box :receive_newsletter, label: "Send me occasional news about the library" %>
  </fieldset>

  <fieldset>
    <legend>Want to help us out?</legend>
    <%= form.check_box :volunteer_interest, label: "I am interested in volunteering with the library" %>
  </fieldset>
