<%= form.errors %>

  <%= form.text_field :full_name, hint: "Your full name, first and last, found on your ID and other official documents" %>
  <%= form.text_field :preferred_name, hint: "What you like to be called (we'll use this instead of your full name)" %>

  <%= render partial: 'account/members/pronoun_fields' , locals: { object: form.object } %>

<fieldset>
  <legend>How to Contact You</legend>

  <div class="columns form-group">
    <div class="column col-sm-12 col-6">
      <%= form.text_field :email %>
    </div>
    <div class="column col-sm-12 col-6">
      <%= form.text_field :phone_number, value: format_phone_number(form.object.phone_number), hint: "10 digits; include area code" %>
    </div>
  </div>

  <div class="columns form-group">
    <div class="column col-sm-12 col-6">
      <%= form.text_field :address1, label: "Address" %>
    </div>
    <div class="column col-sm-12 col-3">
      <%= form.text_field :address2, label: "Apt or unit" %>
    </div>
    <div class="column col-sm-12 col-3">
      <%= form.text_field :postal_code, label: "ZIP", hint: "5 digits only" %>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Borrowing Interests</legend>
  <%= form.text_area :desires, label: "What kind of tools are you interested in borrowing, today or sometime the future?", hint: "We want to know if we don't have something you are interested in borrowing" %>
</fieldset>

<fieldset>
  <legend>Loan Reminders</legend>
  <%= form.check_box :reminders_via_email, label: "Send me loan reminders via email", required: false %>
  <%= form.check_box :reminders_via_text, label: "Send me loan reminders via text (coming soon)", required: false %>
</fieldset>

<fieldset>
  <legend>Subscribe to our Newsletter</legend>
  <%= form.check_box :receive_newsletter, label: "Send me occasional news about the library", required: false %>
</fieldset>

<fieldset>
  <legend>Want to help us out?</legend>
  <%= form.check_box :volunteer_interest, label: "I am interested in volunteering with the library", required: false %>
</fieldset>