<div class="responsive-table four-columns members-table">
  <%= tag.div "Name", class: "responsive-table-header" %>
  <%= tag.div "Email", class: "responsive-table-header" %>
  <%= tag.div "Phone", class: "responsive-table-header" %>
  <%= tag.div "", class: "responsive-table-header" %>

  <% @members.each do |member| %>
    <%= tag.div class: "responsive-table-cell" do %>
      <%= link_to preferred_or_default_name(member), [:admin, member] %>
      <%= tag.div(member_pronoun(member), class: "label") if member.pronoun %>
    <% end %>
    <%= tag.div member.email, class: "responsive-table-cell" %>
    <%= tag.div format_phone_number(member.phone_number), class: "responsive-table-cell" %>
    <%= tag.div class: "responsive-table-cell" do %>
      <% if member.active_membership %>
        <span class="chip">membership</span>
      <% end %>
      <% if member.status_verified? %>
        <span class="chip">verified</span>
      <% end %>
    <% end %>
  <% end %>
</div>