<div class="responsive-table four-columns members-table">
  <%= tag.div "Name", class: "responsive-table-header" %>
  <%= tag.div "Email", class: "responsive-table-header" %>
  <%= tag.div "Phone", class: "responsive-table-header" %>
  <%= tag.div "", class: "responsive-table-header" %>

  <% @members.each do |member| %>
    <%= tag.div class: "responsive-table-cell" do %>
      <%= link_to preferred_or_default_name(member), [:admin, member] %>
      <%= tag.div(member_pronoun(member), class: "label") if member.pronoun %>
    <% end %>
    <%= tag.div member.email, class: "responsive-table-cell" %>
    <%= tag.div format_phone_number(member.phone_number), class: "responsive-table-cell" %>
    <%= tag.div class: "responsive-table-cell" do %>
      <%= member_status(member) %>
      <% if member.status_pending? %>
        <%= link_to 'Activate', edit_admin_member_activation_path(member), class: "btn btn-sm" %>
      <% end %>
    <% end %>
  <% end %>
</div>