<% content_for :header do %>
  <%= index_header preferred_or_default_name(@member) do %>
    <%= link_to 'Edit Member', edit_admin_member_path(@member), class: "btn" %>
    <%# <%= link_to 'Record Payment', new_admin_member_payment_path(@member), class: "btn" %>
  <% end %>
<% end %>

<div class="columns">
  <div class="column col-4 col-sm-12">
    <%= render "admin/members/member_details", member: @member %>
  </div>

  <div class="column col-sm-12 col-8">

    <%= render partial: "admin/members/membership_status", locals: { member: @member } %>

    <% unless @member.status_verified? %>
      <div class="toast clearfix member-membership">
        <p class="float-left"><i class="icon icon-stop"></i> Member's ID and zipcode need to be verified.</p>
        <p class="float-right"><%= link_to "Verify Info", edit_admin_member_verification_path(@member) %></p>
      </div>
    <% end %>

    <ul class="tab">
      <%= tab_link "Current Loans", admin_member_path(@member) %>
      <%= tab_link "Holds", admin_member_holds_path(@member) %>
      <%= tab_link "Appointments", admin_member_appointments_path(@member) %>
      <%= tab_link "Previous Loans", admin_member_loan_summaries_path(@member) %>
      <%= tab_link "Membership", admin_member_memberships_path(@member) %>
      <%= tab_link "Account", admin_member_adjustments_path(@member) %>
    </ul>

    <%= yield %>

  </div>
</div>