<% content_for :header do %>
  <%= index_header preferred_or_default_name(@member) do %>
    <%= link_to "Edit Member", edit_admin_member_path(@member), class: "btn" %>
    <%= link_to "Add Note to Member", new_admin_member_note_path(@member), class: "btn", data: {turbo_frame: "new-note"} %>
    <%= link_to "View Notifications", admin_reports_notifications_path(member_id: @member), class: "btn" %>
    <%# <%= link_to 'Record Payment', new_admin_member_payment_path(@member), class: "btn" %>
  <% end %>
<% end %>

<div class="columns">
  <div class="column col-4 col-sm-12">
    <%= render "admin/members/member_details", member: @member %>
  </div>

  <div class="column col-sm-12 col-8">

    <%= render partial: "admin/members/membership_status", locals: {member: @member} %>

    <% unless @member.status_verified? %>
      <div class="toast clearfix member-membership">
        <p class="float-left"><i class="icon icon-stop"></i> Member's ID and zipcode need to be verified.</p>
        <p class="float-right"><%= link_to "Verify Info", edit_admin_member_verification_path(@member) %></p>
      </div>
    <% end %>

    <% unless @member.user.confirmed? %>
      <div class="toast clearfix member-membership">
        <p class="float-left"><i class="icon icon-stop"></i> Member's email address has not been verified.</p>
        <p class="float-right">
          <%= link_to "Resend Verification Email", resend_verification_email_admin_member_path(@member), data: {turbo_method: "post", turbo_confirm: "Resend verification email to #{@member.user.email}?"} %>
        </p>
      </div>
    <% end %>

    <div class="member-notes">
      <%= render partial: "admin/members/notes/list", locals: {member: @member} %>
    </div>

    <ul class="tab member-tabs">
      <%= tab_link "Current Loans", admin_member_path(@member) %>
      <%= tab_link "Holds", admin_member_holds_path(@member) %>
      <% if @current_library.allow_appointments? %>
        <%= tab_link "Appointments", admin_member_appointments_path(@member) %>
      <% end %>
      <%= tab_link "Previous Loans", admin_member_loan_summaries_path(@member) %>
      <%= tab_link "Membership", admin_member_memberships_path(@member) %>
      <li class="tab-item tab-action">
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-turbo="false" tabindex="0">
            <i class="icon icon-more-vert"></i>
          </a>
          <ul class="menu text-left">
            <li class="menu-item"><%= link_to "Previous Holds", history_admin_member_holds_path(@member) %></li>
            <li class="menu-item"><%= link_to "Notifications", admin_member_notifications_path(@member) %></li>
          </ul>
        </div>
      </li>
    </ul>

    <div class="member-tabs-content">
      <%= yield %>
    </div>

  </div>
</div>
