<%= content_for :header do %>
  <%= index_header "Editing Member" %>
<% end %>

<div class="columns">
  <div class="column col-12">

    <%= render 'form', member: @member %>

  <div class="destroy-area">
    <details>
      <summary>Destroy this member record?</summary>
      <%= action_bar "If you destroy this member record, it can not be recovered. All member information, including loan history, will be removed from the system.", icon: "alert-octagon", type: :warning do %>
        <%= button_to 'Destroy Member', [:admin, @member], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm" %>
      <% end %>
    </details>
  </div>

</div>