<%= index_header "Members" %>

<div class="sort-controls">
  showing:
  <div class="btn-group">
    <%= link_to_unless params[:filter].blank?, "pending and active", {sort: params[:sort]}, class: "btn btn-sm" do %>
      <button class="btn btn-sm active">pending and active</button>
    <% end %>
    <%= link_to_unless params[:filter] == "closed", "closed", {filter: "closed", sort: params[:sort]}, class: "btn btn-sm" do %>
      <button class="btn btn-sm active">closed</button>
    <% end %>
  </div> 

  sort by: 
  <div class="btn-group">
    <%= link_to_unless params[:sort] == "added" || params[:sort].blank?, "added", {filter: params[:filter]}, class: "btn btn-sm" do %>
      <button class="btn btn-sm active">added</button>
    <% end %>
    <%= link_to_unless params[:sort] == "full_name", "full name", {sort: "full_name", filter: params[:filter]}, class: "btn btn-sm" do %>
      <button class="btn btn-sm active">full name</button>
    <% end %>
  </div> 
</div> 

<% if @members.any? %>
  <div class="responsive-table five-columns">
    <%= tag.div "Full Name", class: "responsive-table-header" %>
    <%= tag.div "Name and Pronoun", class: "responsive-table-header" %>
    <%= tag.div "Email", class: "responsive-table-header" %>
    <%= tag.div "Phone", class: "responsive-table-header" %>
    <%= tag.div "", class: "responsive-table-header" %>

    <% @members.each do |member| %>
      <%= tag.div class: "responsive-table-cell" do %>
        <%= link_to member.full_name, [:admin, member] %>
      <% end %>
      <%= tag.div class: "responsive-table-cell" do %>
        <%= member.preferred_name %>
        <%= tag.div member_pronoun(member), class: "label" %>
      <% end %>
      <%= tag.div member.email, class: "responsive-table-cell" %>
      <%= tag.div member.phone_number, class: "responsive-table-cell" %>
      <%= tag.div class: "responsive-table-cell" do %>
        <%= member_status(member) %>
        <% if member.status_pending? %>
          <%= link_to 'Activate', edit_admin_member_activation_path(member), class: "btn btn-sm" %>
        <% end %>
      <% end %>
    <% end %>
  </div>

<% else %>
  <%= empty_state "There are no members.", subtitle:"Create one?", icon: "people" do %>
    <%= link_to "Add a Member", new_admin_member_path, class: "btn btn-primary" %>
  <% end %>
<% end %>