<div class="columns">
  <div class="column col-12">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "All Members", admin_members_path %>
      </li>
        <li class="breadcrumb-item">
        <%= link_to @member.preferred_name, admin_member_path(@member) %>
      </li>
    </ul>
  </div>
</div>

<div class="columns member-details">
  <div class="column col-sm-6">
    <h1>
      <%= @member.preferred_name %>
      <small class="label"><%= member_pronoun(@member) %></small>
    </h1>
    <p><%= @member.full_name %></p>
    <%= member_status(@member) %>
  </div>
  <div class="column col-sm-3">
    <p>
      <span class="label">Email:</span>
      <%= @member.email %>
    </p>

    <p>
      <span class="label">Phone:</span>
      <%= format_phone_number @member.phone_number %>
    </p>

    <p>
      <span class="label">Account balance:</span>
      <%= @member.account_balance.format %>
    </p>
  </div>
  <div class="column col-sm-3">
    <%= link_to 'Edit Member', edit_admin_member_path(@member), class: "btn" %>
  </div>
</div>

<% unless @member.notes.blank? %>
  <div class="columns">
    <div class="column col-12">
      <div class="rich-text">
        <%= @member.notes %>
      </div>
    </div>
  </div>
<% end %>

<% if @member.status_active? %>
  <div class="columns">
    <div class="column col-12">
        <% if @member.active_membership %>
          <div class="info-box clearfix member-membership">
            <p class="float-left">Current membership expires on <%= @member.active_membership.ended_on.strftime("%B %-d, %Y") %>.</p>
            <p class="float-right"><%= link_to "Membership History", admin_member_memberships_path(@member) %></p>
          </div>
        <% else %>
          <div class="toast toast-warning member-membership clearfix">
            <p class="float-left">Does not have an active membership.</p>
            <p class="float-right"><%= link_to "Create Membership", new_admin_member_membership_path(@member) %></p>
          </div>
        <% end %>
    </div>
  </div>

  <% if @member.loans.any? %>
    <div class="columns">
      <div class="column col-12">
        <h2 class="float-left">Recent Loans</h2>
        <%= link_to "View All Loans", admin_member_loan_history_path(@member), class: "btn float-right" %>
        <div class="container member-recent-loans">
          <% @recent_loans.each do |loan| %>
            <div class="columns">
              <div class="col-1 col-sm-4">
                <p><%= full_item_number(loan.item) %></p>
              </div>
              <div class="col-3 col-sm-8">
                <p><%= link_to loan.item.name, admin_item_path(loan.item) %></p>
              </div>
              <div class="col-4 col-sm-12">
                <p>
                  <%= checked_out_date(loan.created_at) %> ->
                  <%= checked_out_date(loan.ended_at) %>
                </p>
              </div>
              <div class="col-4 col-sm-12">
              <% if loan.adjustment %>
                <%= loan.adjustment.amount.format %>
              <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if @member.active_loans.any? %>

    <h2>Currently Checked Out</h2>

    <div class="container member-active-loans">
      <% @active_loans.each do |loan| %>
        <div class="columns">
          <div class="col-1 col-sm-4">
            <p><%= full_item_number(loan.item) %></p>
          </div>
          <div class="col-3 col-sm-8">
            <p><%= loan.item.name %></p>
          </div>
          <div class="col-4 col-sm-12">
            <p><%= checked_out_date(loan.created_at) %> &mdash;
              due <%= "in " if loan.due_at >= Time.current %>
              <%= time_ago_in_words(loan.due_at) %>
              <%= "ago" if loan.due_at < Time.current %>
            </p>
          </div>
          <div class="col-4 col-sm-12">
            <%= button_to "Return", [:admin, loan], params: {loan: {ended: 1}}, method: :patch, class:"btn btn-sm btn-primary" %>
          </div>
        </div>
        <div class="divider"></div>
      <% end %>
    </div>
  <% end %>

  <h2 id="checkout">Checkout Items</h2>

  <%= form_with(model: [:admin, @member.loans.new]) do |form| %>
    <% if flash.key? :checkout_error %>
      <div class="toast toast-error"><%= flash[:checkout_error] %></div>
    <% end %>

    Lookup an item by number: 
    <%= form.text_field :item_number, pattern: "[0-9]{1,4}", placeholder: "1-4 digit item number", autofocus: true %>
    <%= form.hidden_field :member_id %>
    <%= button_tag "Checkout", class: "btn" %> 
  <% end %>

<% elsif @member.status_pending? %>

  <div class="divider"></div>

  <div class="toast toast-warning">
    <h6>Member not active</h6>
    <p>
      This member must be <%= link_to "activated", edit_admin_member_activation_path(@member) %> before checking out items.
    </p>
  </div>
<% end %>