<%= render "profile" do %>

  <% unless @member.bio.blank? %>
    <div class="rich-text">
      <%= @member.bio %>
    </div>
  <% end %>

  <% if @returned_loan_summaries.any? %>
    <div id="returned-loans" class="member-active-loans">
      <div class="columns">
        <div class="column">
          <p class="h5 due-date">Returned <strong>Today</strong></p>
        </div>
      </div>
      <% @returned_loan_summaries.each do |summary| %>
        <div id="<%= dom_id summary.latest_loan %>" class="columns mt-2 mb-2 highlightable">
          <div class="column col-sm-6 col-4">
            <%= tag.div class: "item-image" do %>
              <% if summary.item.image.attached? %>
                <%= link_to admin_item_path(summary.item) do %>
                  <%= image_tag url_for(rotated_variant(summary.item.image, resize_to_limit: [160, 112])), class: "p-right" %>
                <% end %>
              <% else %>
                <div class="image-placeholder"></div>
              <% end %>
            <% end %>
          </div>
          <div class="column col-sm-6 col-4">
            <p><%= full_item_number(summary.item) %></p>
            <p><%= link_to summary.item.name, admin_item_path(summary.item) %></p>
            <% if summary.renewed? %>
              <p>
                <%= tag.span class:"tooltip tooltip-bottom more-info", data: {tooltip:"Initial check out #{checked_out_date(summary.created_at)}"} do %>Renewed <%= pluralize(summary.renewal_count, "time") %><% end %>
              </p>
            <% end %>
          </div>
          <div class="column col-sm-12 col-4 text-right">
            <%= undo_button summary.latest_loan %>
          </div>
        </div>
      <% end %>
      <div class="divider"></div>
    </div>
  <% end %>

  <% if @active_loan_summaries.any? %>
    <div id="current-loans" class="member-active-loans">
      <div class="column col-sm-12 col-12 text-right">
        <%= button_to admin_bulk_renewal_path(@member), method: :put, class:"btn ml-2 mb-2", data: { confirm: "Are you sure you want renew all renewable loans for #{@member.full_name}?" }, remote: true do %>
          <%= feather_icon "repeat" %>Renew All
        <% end %>
      </div>
      <% @active_loan_summaries.group_by(&:due_at).each do |due_at, summaries| %>
        <div class="columns">
          <div class="column">
            <p class="h5 due-date">Due <strong><%= checked_out_date(due_at) %></strong>
              (<%= "in " if due_at >= Time.current -%><%= time_ago_in_words(due_at) -%><%= " ago" if due_at < Time.current -%>)
            </p>
          </div>
        </div>
        <% summaries.sort_by { |s| s.latest_loan.updated_at }.each do |summary| %>
          <div id="<%= dom_id summary.latest_loan %>" class="columns mt-2 mb-2 highlightable">
            <div class="column col-sm-6 col-4">
              <%= tag.div class: "item-image" do %>
                <% if summary.item.image.attached? %>
                  <%= link_to admin_item_path(summary.item) do %>
                    <%= image_tag url_for(rotated_variant(summary.item.image, resize_to_limit: [160, 112])), class: "p-right" %>
                  <% end %>
                <% else %>
                  <div class="image-placeholder"></div>
                <% end %>
              <% end %>
            </div>
            <div class="column col-sm-6 col-4">
              <p><%= full_item_number(summary.item) %></p>
              <p><%= link_to summary.item.name, admin_item_path(summary.item) %></p>
              <% if summary.renewed? %>
                <p>
                  <%= tag.span class:"tooltip tooltip-bottom more-info", data: {tooltip:"Initial check out #{checked_out_date(summary.created_at)}"} do %>Renewed <%= pluralize(summary.renewal_count, "time") %><% end %>
                </p>
              <% end %>
              <% if summary.overdue_as_of?(Time.current) %>
                <span class="text-error">
                  <%= feather_icon "alert-triangle", class: "error" %> Overdue
                </span>
              <% end %>
            </div>
            <div class="column col-sm-12 col-4 text-right">
              <%= button_to [:admin, summary.latest_loan], params: {loan: {ended: 1}}, method: :patch, class:"btn btn-primary mb-2", remote: true do %>
                <%= feather_icon "download" %>Return
              <% end %>
              <%= renewal_tooltop summary.latest_loan.renewable?, summary.item.borrow_policy.renewal_limit do %>
                <%= button_to admin_renewals_path(loan_id: summary.latest_loan), method: :post, class:"btn ml-2 mb-2", disabled: !summary.latest_loan.renewable?, remote: true do %>
                  <%= feather_icon "repeat" %>Renew
                <% end %>
              <% end %>
              <% if Time.current - summary.latest_loan.created_at < 24.hours %>
                <%= undo_button summary.latest_loan %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="divider"></div>
      <% end %>
    </div>
  <% end %>

  <% unless @returned_loan_summaries.any? || @active_loan_summaries.any? %>
    <p class="mt-2">No current loans or recently returned items.</p>
  <% end %>

  <%= render partial: "admin/members/lookup", locals: {member: @member}%>

  <div class="columns member-notes">
    <div class="column col-12">
      <h2 id="checkout" class="h4">Member Notes</h2>
      <div data-controller="toggle">
      <button data-target="toggle.button" data-action="click->toggle#toggle" class="btn">
        <%= feather_icon "message-square" %>Add a Note
      </button>

      <div data-target="toggle.toggled">
        <%= portal do %>
          <%= render partial: "admin/notes/form", locals: { parent: @member } %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<% end %>
