<%= form_with(model: [:admin, item], builder: SpectreFormBuilder, data: {controller: "form"}, id: dom_id(item)) do |form| %>
  <%= form.errors %>

  <%= form.autocomplete_text_field :name, path: admin_ui_names_path(format: :json), autofocus: true, 
      hint: "Generic name for the tool; e.g. Impact driver, Orchard ladder, Flathead screwdriver" %>

  <%= form.text_field :other_names,
      hint: "Search terms that should return this item; typically slang or other names for the item" %>

  <%= form.tag_select :category_ids, @categories %>

  <% if item.new_record? %>
    <details class="form-group">
      <summary>Description</summary>
      <%= form.rich_text_area :description, hint: "Optional; additional information about this tool" %>
    </details>
  <% else %>
    <%= form.rich_text_area :description %>
  <% end %>

  <%= form.text_area :checkout_notice, hint: "Shown when checking item out" %>

  <%= form.autocomplete_text_field :size, path: admin_ui_sizes_path(format: :json), 
      hint: "Blade or bit diameter, width or height; e.g. 3/8\"" %>

  <%= form.autocomplete_text_field :strength, path: admin_ui_strengths_path(format: :json),
      hint: "i.e. voltage or amps; e.g. 18v, heavy duty" %>

  <%= form.autocomplete_text_field :brand, path: admin_ui_brands_path(format: :json), hint: "e.g. Dewalt, Craftsman, Singer" %>
  <%= form.text_field :model, hint: "e.g. ABC-123; usually found on the back or bottom" %>
  <%= form.text_field :serial, hint: "Usually near the model number" %>

  <%= form.file_field :image, hint: "Take a photo with the device's camera", data: {"turbolinks-permanent": true} %>
  <%= form.file_field :manual, hint: "This item's manual", data: {"turbolinks-permanent": true} %>
  <%= form.check_box :delete_manual, label: "Delete current manual" %>

  <%= form.select :status, options_for_select(item_status_options, item.status || Item.statuses[:active]), prompt: true, hint: "Only active items can be checked out" %>

  <div data-controller="conditional-field" data-conditional-field-trigger="<%= BorrowPolicy.not_uniquely_numbered_ids.join(",") %>">
    <%= form.select :borrow_policy_id, options_for_select(borrow_policy_options, item.borrow_policy_id || BorrowPolicy.default&.id), {hint: "Borrowing rules used for this item"}, data: {action: "conditional-field#change", target: "conditional-field.parent"} %>
    <%= tag.div data: {target: "conditional-field.child"}, class: "conditional-field-child" do %>
      <%= form.text_field :quantity, label: "Approximate quantity", hint: "Just an estimate for planning purposes" %>
    <% end %>
  </div>

  <% unless item.new_record? %>
    <details>
      <summary>Number: <strong><%= item.number %></strong></summary>
      <%= form.text_field :number, hint: "Only change this with good reason! Next available A number is #{Item.next_number(999)}." %>
    </details>
  <% end %>

  <%= form.actions do %>
    <%= form.submit %>
  <% end %>
<% end %>
