<%= form_with(model: [:admin, item], builder: SpectreFormBuilder, data: {controller: "form"}, id: dom_id(item)) do |form| %>
  <%= form.errors %>

  <%= form.autocomplete_text_field :name, path: admin_ui_names_path(format: :json), autofocus: true,
        hint: "Generic name for the tool; e.g. Impact driver, Orchard ladder, Flathead screwdriver" %>

  <%= form.text_field :other_names, label: "Other names and keywords",
        hint: "Search terms that should return this item; typically slang or other names for the item" %>

  <%= form.tag_select :category_ids, @categories %>

  <%= form.text_field :myturn_item_type, label: "MyTurn Item Type" %>

  <div class="columns">
    <div class="column col-4 col-sm-12">
      <%= form.autocomplete_text_field :size, path: admin_ui_sizes_path(format: :json),
            hint: "Blade or bit diameter, width or height; e.g. 3/8\"" %>
    </div>
    <div class="column col-4 col-sm-12">
      <%= form.autocomplete_text_field :strength, path: admin_ui_strengths_path(format: :json),
            hint: "i.e. voltage or amps; e.g. 18v, heavy duty" %>
    </div>
    <div class="column col-4 col-sm-12">
      <%= form.select :power_source, options_for_select(item_power_source_options, item.power_source), include_blank: "Not powered", hint: "Specify how the item is powered, if it is powered" %>
    </div>
  </div>

  <div class="columns">
    <div class="column col-4 col-sm-12">
      <%= form.autocomplete_text_field :brand, path: admin_ui_brands_path(format: :json), hint: "e.g. Dewalt, Craftsman, Singer" %>
    </div>
    <div class="column col-4 col-sm-12">
      <%= form.text_field :model, hint: "e.g. ABC-123; usually found on the back or bottom" %>
    </div>
    <div class="column col-4 col-sm-12">
      <%= form.text_field :serial, hint: "Usually near the model number" %>
    </div>
  </div>

  <div class="columns" data-controller="conditional-field" data-conditional-field-trigger="<%= BorrowPolicy.not_uniquely_numbered_ids.join(",") %>">
    <div class="column col-4 col-sm-12">
      <%= form.select :status, options_for_select(item_status_options, item.status || Item.statuses[:active]), prompt: true, hint: "Only active items can be checked out" %>
    </div>
    <div class="column col-4 col-sm-12">
      <%= form.select :borrow_policy_id, options_for_select(borrow_policy_options, item.borrow_policy_id || BorrowPolicy.default&.id), {hint: "Borrowing rules used for this item"}, data: {action: "conditional-field#change", target: "conditional-field.parent"} %>
    </div>
    <div class="column col-4 col-sm-12">
      <%= tag.div data: {target: "conditional-field.child"}, class: "conditional-field-child" do %>
        <%= form.text_field :quantity, label: "Approximate quantity", hint: "Just an estimate for planning purposes" %>
      <% end %>
    </div>
  </div>

  <div class="columns mt-2">
    <div class="column col-4 col-sm-12">
      <%= form.money_field :purchase_price, label: "Approximate purchase price" %>
    </div>
    <div class="column col-8 col-sm-12">
      <%= form.text_field :purchase_link %>
    </div>
  </div>

  <%= form.rich_text_area :description,
        hint: "Any details about the tool. Could be notes about parts, usage, etc and will appear on the tool's public page" %>

  <%= form.text_area :checkout_notice, hint: "Shown when checking item out" %>

  <%= form.text_field :url, label: "URL", hint: "Link to more info, e.g. a manufacturer website" %>

  <fieldset>
    <legend>Item Location</legend>
    <div class="columns">
      <div class="column col-4 col-sm-12">
        <%= form.text_field :location_area, label: "Area", hint: "General location of the item" %>
      </div>
      <div class="column col-4 col-sm-12">
        <%= form.text_field :location_shelf, label: "Shelf", hint: "Location within the area" %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Item Image</legend>
    <div class="columns">
      <div class="column col-4 col-sm-12">
        <%= form.file_field :image, hint: "Take a photo with the device's camera", data: {"turbolinks-permanent": true} %>
      </div>
      <div class="column col-4 col-sm-12">
        <%= form.check_box :delete_image, label: "Delete current image", required: false %>
      </div>
    </div>
  </fieldset>

  <% unless item.new_record? %>
    <details>
      <summary>Number: <strong><%= item.number %></strong></summary>
      <%= form.text_field :number, hint: "Only change this with good reason! Next available A number is #{Item.next_number}." %>
    </details>
  <% end %>

  <%= form.actions do %>
    <%= form.submit %>
  <% end %>
<% end %>
