<div class="items-table">
  <% items.each do |item| %>
    <%= tag.div class: "items-table-image" do %>
      <% if item.image.attached? %>
        <%= link_to admin_item_path(item) do %>
          <%= image_tag item_image_url(item.image, resize_to_limit: [200, 140]), class: "p-centered" %>
        <% end %>
      <% else %>
        <div class="image-placeholder"></div>
      <% end %>
    <% end %>

    <%= tag.div class: "items-table-name" do %>
      <strong><%= full_item_number(item) %></strong>
      <%= item_status_label(item) %>
      <br>
      <%= link_to item.name, admin_item_path(item) %>
      <% if item.size.present? %>
        <span class="label"><%= item.size %></span>
      <% end %>
      <% if item.strength.present? %>
        <span class="label"><%= item.strength %></span>
      <% end %>
      <br>

      <%= tag.div [item.brand, item.model].select(&:present?).join(", ") %>

      <div class="items-index-buttons">
        <%= link_to "Edit", edit_admin_item_path(item), class: "btn btn-sm" %>
        <% if item.image.attached? %>
          <%= link_to "Edit Photo", edit_admin_item_image_path(item), class: "btn btn-sm" %>
        <% end %>
        <%= link_to "Duplicate", new_admin_item_path(item_id: item), class: "btn btn-sm" %>
      </div>
    <% end %>

    <%= tag.div class: "items-table-categories" do %>
      <% item.categories.each do |category| %>
        <%= link_to tag.name, admin_items_path(category: category.id) %>
      <% end %>
    <% end %>
    <div class="item-table-divider"></div>
  <% end %>
</div>
