<div class="panel item-panel">
    <div class="item-image">
        <% if item.image.attached? %>
            <%= link_to edit_admin_item_image_path(item) do %>
            <%= image_tag item_image_url(item.image, resize_to_limit: [600, 600]), class: "p-centered" %>
            <% end %>
        <% end %>
    </div>

    <div class="panel-header">
        <h6>
            <strong><%= item.complete_number %></strong>
            <%= item_status_label(item) %>
            <span class="label item-checkout-status">
                <%= item.status.capitalize %>
                <% if item.status == "retired" %>(<%= item_retired_reason_name(item.retired_reason) %>)<% end %>
            </span>
        </h6>
    </div>

    <div class="panel-body">
        <ul class="item-stats">
            <%= icon_stat "map-pin", title: "location", css_class: "with-inner-stats" do %>
                    <ul class="inner-stats">
                        <% if item.location_area.present? %>
                            <li><span class="text-italic">area</span> <%= item.location_area %></li>
                        <% end %>
                        <% if item.location_shelf.present? %>
                            <li><span class="text-italic">shelf</span> <%= item.location_shelf %></li>
                        <% end %>
                    </ul>
            <% end %>
            <% if item.tracks_quantity? %>
                <%= icon_stat "layers", "#{item.quantity} in stock", title: "quantity", placeholder: "No quantity" %>
            <% end %>
            <%= icon_stat "maximize", item.size, title: "size", placeholder: "No size" %>
            <%= icon_stat "zap", item.strength, title: "strength", placeholder: "No strength" %>
            <%= icon_stat "battery-charging", item_powered_by_label(item), title: "powered by", placeholder: "Not powered" %>
            <%= icon_stat "package", item.brand, title: "brand", placeholder: "No brand" %>
            <%= icon_stat "box", item.model, title: "model", placeholder: "No model" %>
            <%= icon_stat "hash", item.serial, title: "serial number", placeholder: "No serial number" %>
            <%= icon_stat "link", item.url, title: "URL", placeholder: "No URL" do %>
                <% if item.url.present? %>
                    <%= link_to "More info", item.url %>
                <% end %>
            <% end %>
            <%= icon_stat "tag", title: "categories", css_class: "with-inner-stats", placeholder: "No categories" do %>
                <% if item.categories.size > 0 %>
                    <ul class="inner-stats">
                        <% item.categories.sort_by(&:name).each do |category| %>
                            <li><%= link_to category.name, admin_items_path(category: category) %></li>
                        <% end %>
                    </ul>
                <% end %>
            <% end %>
            <%= icon_stat "file", title: "files", placeholder: "No files" do %>
                <% if (count = item.attachments.count) > 0 %>
                    <%= link_to(pluralize(count, "files"), admin_item_attachments_path(item)) %>
                <% end %>
            <% end %>
            <%= icon_stat "list", title: "hold list status" do %>
                holds <%= @item.holds_enabled_status %>
            <% end %>

            <% if @item.accessories? %>
                <%= icon_stat "box", title: "accessories", css_class: "with-inner-stats" do %>
                    <ul class="inner-stats">
                        <% @item.accessories.each do |accessory| %>
                            <li><%= accessory %></li>
                        <% end %>
                    </ul>
                <% end %>
            <% end %>
        </ul>
    </div>
</div>
