<%= content_for :header do %>
  <%= index_header @item.name do %>
    <div class="hide-md">
      <%= link_to 'Edit', edit_admin_item_path(@item), class: "btn" %>
      <% if @item.image.attached? %>
        <%= link_to 'Edit Photo', edit_admin_item_image_path(@item), class: "btn" %>
      <% end %>
      <%= link_to 'Import Manual', edit_admin_item_manual_import_path(@item), class: "btn" %>
      <%= link_to 'Duplicate', new_admin_item_path(item_id:@item), class: "btn" %>
    </div>
    <div class="show-md item-btn-group">
    <%= link_to 'Edit', edit_admin_item_path(@item), class: "btn" %>
    <% if @item.image.attached? %>
      <%= link_to 'Edit Photo', edit_admin_item_image_path(@item), class: "btn" %>
    <% end %>
    <%= link_to 'Import Manual', edit_admin_item_manual_import_path(@item), class: "btn" %>
    <%= link_to 'Duplicate', new_admin_item_path(item_id:@item), class: "btn" %>

  </div>
  <% end %>

<% end %>

<div class="columns">
  <div class="column col-4 col-sm-12">

    <div class="panel item-panel">

      <div class="item-image">
        <% if @item.image.attached? %>
          <%= link_to edit_admin_item_image_path(@item) do %>
            <%= image_tag url_for(rotated_variant(@item.image, resize_to_limit: [600, 600])), class: "p-centered" %>
          <% end %>
        <% end %>
      </div>

      <div class="panel-header">
        <h6>
          <strong><%= @item.complete_number %></strong>
          <%= item_status_label(@item) %>
        </h6>
      </div>

      <div class="panel-body">
        <ul class="item-stats">
          <%= icon_stat "maximize", @item.size, title: "size", placeholder: "No size" %>
          <%= icon_stat "zap", @item.strength, title: "strength", placeholder: "No strength" %>
          <%= icon_stat "battery-charging", item_powered_by_label(@item), title: "powered by", placeholder: "Not powered" %>
          <%= icon_stat "package", @item.brand, title: "brand", placeholder: "No brand" %>
          <%= icon_stat "box", @item.model, title: "model", placeholder: "No model" %>
          <%= icon_stat "hash", @item.serial, title: "serial number", placeholder: "No serial number" %>
          <%= icon_stat "tag", title: "categories", css_class: "categories", placeholder: "No category" do %>
            <% if @item.categories.size > 0 %>
              <ul class="category-stats">
                <% @item.categories.map(&:name).sort.each do |name| %>
                  <li><%= name %></li>
                <% end %>
              </ul>
            <% else %>
              <span class="placeholder-text">No categories</span>
            <% end %>
          <% end %>
          <% file = @item.manual.attached? ? link_to("View Manual", url_for(@item.manual)) : nil %>
          <%= icon_stat "file", file, title: "manual", placeholder: "No files" %>
        </ul>

      </div>
    </div>
  </div>

  <div class="column col-sm-12 col-8">

    <% if loan = @item.checked_out_exclusive_loan %>
      <%= action_bar loan_description(loan), icon: "user" do %>
        Due on <%= checked_out_date(loan.due_at) %>.
      <% end %>
    <% end %>

    <ul class="tab">
      <%= tab_link "Description", admin_item_path(@item) %>
      <%= tab_link "Holds", admin_item_item_holds_path(@item) %>
      <%= tab_link 'Loan History', admin_item_loan_history_path(@item) %>
      <%= tab_link 'Edit History', admin_item_item_history_path(@item) %>
    </ul>

    <%= yield %>

  </div>
</div>
