<%= content_for :header do %>
  <%= index_header @item.name do %>
    <div class="hide-md">
      <%= link_to "Edit", edit_admin_item_path(@item), class: "btn btn-sm" %>
      <% if @item.image.attached? %>
        <%= link_to "Edit Photo", edit_admin_item_image_path(@item), class: "btn btn-sm" %>
      <% end %>
      <%# <%= link_to 'Import Manual', edit_admin_item_manual_import_path(@item), class: "btn btn-sm" %>
      <%= link_to "Add File", new_admin_item_attachment_path(item_id: @item), class: "btn btn-sm" %>
      <%= link_to "Duplicate", new_admin_item_path(item_id: @item), class: "btn btn-sm" %>
      <%= link_to("View in Inventory", item_path(@item), class: "btn btn-sm", target: "_blank") if @item.active? %>
    </div>
    <div class="show-md item-btn-group">
    <%= link_to "Edit", edit_admin_item_path(@item), class: "btn btn-sm" %>
    <% if @item.image.attached? %>
      <%= link_to "Edit Photo", edit_admin_item_image_path(@item), class: "btn btn-sm" %>
    <% end %>
    <%# <%= link_to 'Import Manual', edit_admin_item_manual_import_path(@item), class: "btn btn-sm" %>
    <%= link_to "Add File", new_admin_item_attachment_path(item_id: @item), class: "btn btn-sm" %>
    <%= link_to "Duplicate", new_admin_item_path(item_id: @item), class: "btn btn-sm" %>
    <%= link_to("View in Inventory", item_path(@item), class: "btn btn-sm", target: "_blank") if @item.active? %>
  </div>
  <% end %>

<% end %>

<div class="columns">
  <div class="column col-4 col-sm-12">
    <%= render partial: "admin/items/item_panel", locals: {item: @item, admin: true} %>
  </div>

  <div class="column col-sm-12 col-8">

    <% if loan = @item.checked_out_exclusive_loan %>
      <%= action_bar loan_description(loan), icon: "user" do %>
        Due on <%= checked_out_date(loan.due_at) %>.
      <% end %>
    <% end %>

    <ul class="tab">
      <%= tab_link "Description", admin_item_path(@item) %>
      <%= tab_link "Files", admin_item_attachments_path(@item) %>
      <%= tab_link "Holds", admin_item_holds_path(@item), badge: @item.active_holds.count %>
      <%= tab_link "Loan History", admin_item_loan_history_path(@item) %>
      <%= tab_link "Edit History", admin_item_history_path(@item) %>
      <% if ENV["FEATURE_MAINTENANCE_WORKFLOW"] %>
        <%= tab_link "Maintenance Tickets", admin_item_tickets_path(@item), badge: @item.tickets.active.count %>
      <% end %>
    </ul>

    <%= yield %>

  </div>
</div>
