
<div class="columns">
  <div class="column col-12">

    <%= index_header "Items" do %>
      <%= link_to 'New Item', new_admin_item_path, class: "btn" %>
    <% end %>

    <div class="items-summary">
      Viewing
      <% if @tag %>
        <strong><%= pluralize @pagy.count, "item" %></strong> tagged with
        <span class="chip">
          <%= @tag.name %>
          <%= link_to "", items_path, :class => "btn btn-clear", "aria-label" => "Clear filter", :role => "button", title: "Clear filter" %>
        </span>,
      <% else %>
        all <strong><%= pluralize @pagy.count, "item" %></strong>,
      <% end %>

      sorted by: 

      <div class="btn-group">
        <%= link_to_unless params[:sort] == "name" || params[:sort].blank?, "name", {tag: params[:tag]}, class: "btn btn-sm" do %>
          <button class="btn btn-sm active">name</button>
        <% end %>
        <%= link_to_unless_current "number", {sort: "number", tag: params[:tag]}, class: "btn btn-sm" do %>
          <button class="btn btn-sm active">number</button>
        <% end %>
        <%= link_to_unless_current "added", {sort: "added", tag: params[:tag]}, class: "btn btn-sm" do %>
          <button class="btn btn-sm active">added</button>
        <% end %>
      </div>

    </div> 

  </div>
</div>

<div class="columns">
  <div class="column col-9">

    <% if @items.any? %>
      <%= render partial: "admin/items/items", locals: { items: @items } %>
      <%== pagy_bootstrap_nav(@pagy) %>
    <% elsif @tag %>
      <%= empty_state "There are no items in this tag", subtitle:"Create one?" do %>
        <%= link_to "Add an Item to #{@tag.name}", new_admin_item_path(tag_id: @tag.id), class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>

  <div class="column col-3">
    <%= tag_nav(Tag.sorted_by_name, @tag) %>
  </div>

</div>