<%= render "profile" do %>
  <div class="item-description">
    <%= @item.description %>
  </div>

  <% if @item.checkout_notice.present? %>
    <div class="info-box">
      <p>
        <strong>Checkout Notice:</strong><br>
        <%= @item.checkout_notice %>
      </p>
    </div>
  <% end %>

  <% @item.notes.by_creation_date.each do |note| %>
    <%= portal do %>
      <%= render partial: "admin/notes/show", locals: {note: note, parent: @item } %>
    <% end %>
  <% end %>

  <div data-controller="toggle">
    <button data-target="toggle.button" data-action="click->toggle#toggle" class="btn">
      <%= feather_icon "message-square" %>Add a Note
    </button>

    <div data-target="toggle.toggled">
      <%= portal do %>
        <%= render partial: "admin/notes/form", locals: { parent: @item } %>
      <% end %>
    </div>
  </div>
<% end %>