<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to "Items", admin_items_path %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to @item.name, admin_item_path(@item) %>
  </li>
</ul>

<%= index_header @item.name do %>
  <%= link_to 'Edit', edit_admin_item_path(@item), class: "btn" %>
  <%= link_to 'Loan History', admin_item_loan_history_path(@item), class: "btn" %>
<% end %>

<div class="columns">
  <div class="column col-4">
    <p>
      <strong>Number:</strong>
      <%= @item.number %>
    </p>

    <p>
      <strong>Size:</strong>
      <%= @item.size %>
    </p>

    <p>
      <strong>Strength:</strong>
      <%= @item.strength %>
    </p>

    <p>
      <strong>Brand:</strong>
      <%= @item.brand %>
    </p>

    <p>
      <strong>Model:</strong>
      <%= @item.model %>
    </p>

    <p>
      <strong>Serial:</strong>
      <%= @item.serial %>
    </p>

    <p>
      <strong>Categories:</strong>
      <%= item_tags(@item) %>
    </p>
  </div>

  <div class="column col-4">
    <%= @item.description %>
  </div>

  <div class="column col-4">
    <% if @item.image.attached? %>
      <%= link_to admin_item_image_path(@item) do %>
        <%= image_tag url_for(rotated_variant(@item.image, resize_to_limit: [200, 140])), class: "p-centered" %>
      <% end %>
    <% end %>
  </div>
</div>

<h2>Edit history</h2>

<div class="timeline item-edit-history">
  <% @item.audits.reverse.each do |audit| %>
    <div class="timeline-item" id="<%= dom_id(audit) %>">
      <div class="timeline-left">
        <a class="timeline-icon" href="#<%= dom_id(audit) %>"></a>
      </div>
      <div class="timeline-content">
        <div class="tile-content">
          <p class="tile-title"><%= audit.created_at.to_s(:short) %> by <%= audit.user.email %></p>
        </div>
        <% audit.audited_changes.each do |key, values| %>
          <p class="tile-subtitle">
            <em><%= key %></em> set to <em><%= audit.action == "create" ? values : values.last %></em></li>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>