<%= render "profile" do %>
  <div class="item-description">
    <%= @item.description %>
  </div>

  <% if @item.checkout_notice.present? %>
    <div class="info-box">
      <p>
        <strong>Checkout Notice:</strong><br>
        <%= @item.checkout_notice %>
      </p>
    </div>
  <% end %>

  <% @item.notes.each do |note| %>
    <%= portal do %>
      <%= render partial: "admin/notes/show", locals: {note: note, parent: @item } %>
    <% end %>
  <% end %>

  <%= portal do %>
    <%= render partial: "admin/notes/form", locals: { parent: @item } %>
  <% end %>
<% end %>