<div class="card">
  <div class="card-header">
    <div class="card-title h5">
      <%= link_to preferred_or_default_name(appointment.member), admin_member_path(appointment.member) %><br>
    </div>
    <div class="card-subtitle text-gray">
      <%= l appointment.starts_at, format: :hour %> - <%= l appointment.ends_at, format: :hour %>
    </div>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="columns">
        <div class="column col-md-6 col-sm-12" style="border-bottom-style:solid;margin:0em 0em 2em 0em">
          <div class="columns">
            <div class="column col-12">
              Pickup Items
              <% appointment.holds.take(10).each do |hold| %>
                <div class="columns">
                  <div class="column col-4">
                    <%= link_to hold.item.name, admin_item_path(hold.item), title: hold.item.complete_number %>
                  </div>
                  <div class="column col-4">
                    <%= hold.item.complete_number %>
                  </div>
                  <div class="column col-4">
                    <% if hold.item.categories.size > 0 %>
                        <% hold.item.categories.sort_by(&:name).each do |category| %>
                            <p><%= category.name %></p>
                        <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="column col-md-6 col-sm-12" style="border-bottom-style:solid;margin:0em 0em 2em 0em">
          <div class="columns">
            <div class="column col-12">
              Dropoff Items
              <% appointment.loans.take(10).each do |loan| %>
                <div class="columns">
                  <div class="column col-4">
                    <%= link_to loan.item.name, admin_item_path(loan.item), title: loan.item.complete_number %>
                  </div>
                  <div class="column col-4">
                    <%= loan.item.complete_number %>
                  </div>
                  <div class="column col-4">
                    <% if loan.item.categories.size > 0 %>
                        <% loan.item.categories.sort_by(&:name).each do |category| %>
                            <p><%= category.name %></p>
                        <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>