<tr id="<%= dom_id(appointment) %>" class="appointment <%= appointment.completed? ? "completed" : "pending" %>">
  <td class="time"><%= l appointment.starts_at, format: :hour %> - <%= l appointment.ends_at, format: :hour %></td>
  <td class="member">
    <%= link_to preferred_or_default_name(appointment.member), admin_member_path(appointment.member) %><br>
    <%= appointment.member.display_pronouns %>
  </td>
  <td class="items">
    <% appointment.holds.take(10).each do |hold| %>
        pick-up
        <%= link_to hold.item.name, admin_item_path(hold.item), title: hold.item.complete_number%> <br/>
    <% end %>
    <% if appointment.holds.count > 10 %>
      <details>
        <summary>and <%= appointment.holds.count - 10 %> more</summary>
        <% appointment.holds[10..].each do |hold| %>
            pick-up
            <%= link_to hold.item.name, admin_item_path(hold.item), title: hold.item.complete_number%> <br/>
        <% end %>
      </details>
    <% end %>
    <% appointment.loans.each do |loan| %>
        drop-off
        <%= link_to loan.item.name, admin_item_path(loan.item) %> <br/>
    <% end %>
  </td>
  <td class="notes"><%= appointment.comment %></td>
  <td>
    <%= link_to "view/edit", admin_appointment_path(appointment), class: "mb-2 view-appointment" %><br>
    <% if appointment.completed? %>
      <%= button_to "restore", admin_appointment_completion_path(appointment), 
        method: :delete, class: "btn btn-sm", remote: true, data: { disable_with: "saving" } %>   
    <% else %>
      <%= button_to "complete", admin_appointment_completion_path(appointment),
        method: :post, class: "btn btn-sm", remote: true, data: { disable_with: "saving" } %>   
    <% end %>
  </td>
</tr>
