<%= tag.tr(
      id: "#{dom_id(appointment)}-desktop",
      class: "appointment #{appointment.completed? ? "completed" : "pending"}",
      data: {sort_key: appointment_sort_key(appointment), appointment_id: appointment.id}
    ) do %>
  <td class="time"><%= l appointment.starts_at, format: :hour %> - <%= l appointment.ends_at, format: :hour %></td>
  <td class="member">
    <%= link_to preferred_or_default_name(appointment.member), admin_member_path(appointment.member), class: "tooltip", data: {tooltip: appointment.member.full_name} %><br>
    <%= appointment.member.display_pronouns %>
  </td>
  <td class="items">
    <% appointment.holds.each do |hold| %>
      <span><%= hold.item.complete_number %></span>
      <%= link_to hold.item.name, admin_item_path(hold.item) %> <br>
    <% end %>
  </td>
  <td class="items">
    <% appointment.loans.each do |loan| %>
      <span><%= loan.item.complete_number %></span>
      <%= link_to loan.item.name, admin_item_path(loan.item) %> <br>
    <% end %>
  </td>
  <td class="notes"><%= appointment.comment %></td>
  <td>
    <%= link_to "view/edit", admin_appointment_path(appointment), class: "mb-2 view-appointment" %><br>
    <% if appointment.completed? %>
      <%= button_to "restore", admin_appointment_completion_path(appointment, params: {new: true}),
            method: :delete, class: "btn btn-sm", data: {turbo_stream: true, turbo_disable: "saving"} %>
    <% else %>
      <%= button_to "complete", admin_appointment_completion_path(appointment, params: {new: true}),
            method: :post, class: "btn btn-sm", data: {disable_with: "saving"} %>
    <% end %>
  </td>
<% end %>
