<div class="panel-body">
  <div class="columns col-oneline">
    <div class="column col-8"><h4>Items to be checked-out (<%= checkout_items_quantity_for_appointment %>)</h4></div>
    <div class="column col-sm-12 col-4 text-right">
      <%= button_to "Check-out All", admin_appointment_checkouts_path(current_appointment, hold_ids: appointment_pickup_items.active.pluck(:id)), class: "btn btn-primary", data: { disable_with: "Checking-out...", confirm: "Are you sure you want to check-out all items?" }, disabled: !appointment_pickup_items.active.exists? || !member.borrow? %>
    </div>
  </div>

  <% appointment_pickup_items.each do |pickup_item| %>
    <div class="columns mt-2 mb-2 highlightable">
      <div class="column col-sm-6 col-4">
        <%= tag.div class: "item-image" do %>
          <% if pickup_item.item.image.attached? %>
            <%= image_tag item_image_url(pickup_item.item.image, resize_to_limit: [160, 112]) %>
          <% else %>
            <div class="image-placeholder"></div>
          <% end %>
        <% end %>
        <div class="divider"></div>
      </div>
      <div class="column col-sm-6 col-4">
        <p><%= pickup_item.item.name %></p>
        <p><%= full_item_number(pickup_item.item) %></p>
      </div>
      <div class="column col-sm-12 col-4 text-right">
        <%= button_to "Check-out", admin_appointment_checkouts_path(current_appointment, hold_ids: [pickup_item.id]), class: "btn btn-primary btn-sm", data: { disable_with: "Checking-out..." }, disabled: !pickup_item.active? || !member.borrow? %>
        <% if pickup_item.active? %>
          <%= button_to 'Cancel Hold', admin_appointment_hold_path(current_appointment, pickup_item, cancel_hold: true), class: "btn btn-sm mt-2 float-right", method: :delete, data: { disable_with: "Canceling...", confirm: "Are you sure you want to remove this item from the appointment and cancel the member's hold?" } %>
          <%= button_to 'Remove Item', admin_appointment_hold_path(current_appointment, pickup_item, cancel_hold: false), class: "btn btn-sm mt-2 float-right", method: :delete, data: { disable_with: "Removing...", confirm: "Are you sure you want to remove this item from the appointment?" } %>
        <% end %>
        <% if !pickup_item.active? %>
          <em>Item checked-out</em>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="divider"></div>

  <div class="columns">
    <h5>Add an item to the appointment for check-out</h5>
    <%= form_with(model: [:admin, AppointmentHold.new], url: admin_appointment_holds_path(current_appointment), method: :post, builder: SpectreFormBuilder) do |form| %>
      <%= form.text_field :item_id, list: "items", autocomplete: :off, label: false %>
      <datalist id="items">
        <%= items_available_to_add_to_pickup.find_each do |item| %>
          <%= tag(:option, value: item.complete_number_and_name) %>
        <% end %>
      </datalist>
      <%= form.submit do %>
        <%= feather_icon "plus" %>Add item to appointment
      <% end %>
    <% end %>
  </div>
</div>
<div class="divider"></div>
