<% content_for :header do %>
  <%= index_header "Scheduled Appointments" %>
<% end %>

<div class="columns">
  <div class="col-12 admin-appointments">
    <ul class="pagination">
      <li class="page-item page-prev appointments-date-nav">
        <%= link_to admin_appointments_path(day: previous_day) do %>
          <div class="page-item-subtitle">
            <i class="icon icon-1x icon-arrow-left"></i> <span class="text-primary">Previous Date</span>
          </div>

        <% end %>
      </li>
      <li class="pt-2 appointments-date"><b><%= current_day_label %></b></li>
      <li class="page-item page-next appointments-date-nav">
        <%= link_to admin_appointments_path(day: next_day) do %>
          <div class="page-item-subtitle">
            <span class="text-primary">Next Date</span> <i class="icon icon-1x icon-arrow-right"></i>
          </div>
        <% end %>
      </li>
    </ul>

    <% if @appointments.exists? %>
      <div class="hide-xs">
        <table class="table">
          <thead>
            <tr>
              <th class="time">Time</th>
              <th class="member">Member</th>
              <th class="items">Pickup Items</th>
              <th class="items">Dropoff Items</th>
              <th class="notes">Notes</th>
              <th></th>
            </tr>
          </thead>

          <tbody class="pending-appointments">
            <% @pending_appointments.each do |appointment, index| %>
              <%= render partial: "appointment", locals: {appointment: appointment} %>
            <% end %>
          </tbody>
        </table>

        <h2>Completed Appointments</h2>

        <table class="table">
          <thead>
            <tr>
              <th class="time">Time</th>
              <th class="member">Member</th>
              <th class="items">Pickup Items</th>
              <th class="items">Dropoff Items</th>
              <th class="notes">Notes</th>
              <th></th>
            </tr>
          </thead>

          <tbody class="completed-appointments">
            <% @completed_appointments.each do |appointment, index| %>
              <%= render partial: "appointment", locals: {appointment: appointment} %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="show-xs">
        <% @pending_appointments.each do |appointment, index| %>
          <div class="mt-2">
            <%= render partial: "appointment_mobile", locals: {appointment: appointment} %>
          </div>
        <% end %>
        <% @completed_appointments.each do |appointment, index| %>
          <div class="mt-2">
            <%= render partial: "appointment_mobile", locals: {appointment: appointment} %>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= empty_state "No appointments scheduled for this day." %>
    <% end %>
  </div>
</div>
