<% content_for :header do %>
  <%= index_header "#{preferred_or_default_name(@appointment.member)}'s Appointment" do %>
    <%= link_to "View in Schedule", appointment_in_schedule_path(@appointment), class: "btn" %>
    <%= link_to "View Member Page", admin_member_path(@appointment.member), class: "btn" %>
  <% end %>

<% end %>

<%= render partial: "admin/members/membership_status", locals: {member: @appointment.member} %>

<div class="columns">
  <div class="column col-4 col-sm-12">
    <%= render "admin/members/member_details", member: @appointment.member %>
  </div>
  <div class="column col-sm-12 col-8">
    <div class="panel member-panel">
      <div class="panel-header">
        <div class="columns col-oneline">
        <div class="column col-3">
          <h6>Appointment Date</h6>
          <h6><%= l @appointment.starts_at, format: :date %></h6>
          <h6><%= appointment_time(@appointment) %></h6>
          <%= link_to "Edit date and time", edit_admin_appointment_path(@appointment), class: "btn btn-sm mt-2" %>
        </div>
        <div class="column col-3">
          <%= button_to "Cancel", admin_appointment_path(@appointment), class: "btn btn-primary", method: :delete, data: {turbo_submits_with: "Cancelling appointment...", turbo_confirm: "Are you sure to cancel this appointment?"} %>
        </div>
      </div>
  </div>
  <%= render "checkouts", member: @appointment.member %>
  <%= render "checkins" %>
</div>
