<%= render "admin/members/profile" do %>
  <% unless @member.pending_membership %>
    <%= link_to @memberships.any? ? "Renew Membership" : "Create Membership", new_admin_member_membership_path, class: "btn" %>
  <% end %>

  <table class="table memberships">
    <thead>
      <tr>
        <th>Started on</th>
        <th>Ended on</th>
        <th>Amount</th>
      </tr>
    </thead>

    <tbody>
      <% @memberships.each do |membership| %>
        <tr>
          <% if membership.pending? %>
            <td colspan="2" class="text-center"><em>pending</em></td>
          <% else %>
            <td><%= display_date(membership.started_at, :long_date) %></td>
            <td><%= display_date(membership.ended_at, :long_date) %></td>
          <% end %>
          <td><%= membership.amount.format %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3 class="mt-5">Transactions</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>What</th>
      </tr>
    </thead>

    <tbody>
      <% @adjustments.each do |adjustment| %>
        <tr>
          <td><%= display_date(adjustment.created_at, :long_date) %></td>
          <td><%= adjustment.amount.format %></td>
          <td>
            <% if adjustment.payment? %>
              <% if adjustment.square_transaction_id %>
                <%= link_to "Square payment", square_order_url(adjustment.square_transaction_id), target: "_blank" %>
              <% else %>
                <%= adjustment.payment_source.capitalize %> payment
              <% end %>
            <% else %>
              <%= adjustment.kind.capitalize %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
