<div class="reservation-index">
  <%= section_header "Reservation" do %>
    <% if @reservation.manager.can?(:request) %>
      <%= button_to "Add Items", account_current_reservation_path(reservation_id: @reservation), class: "btn btn-primary" %>
      <%= link_to "Submit Reservation", account_reservation_submission_path(@reservation), class: "btn btn-primary" %>
    <% end %>
  <% end %>
  <div class="columns">
    <div class="col-4 col-md-12">
      <h2><%= @reservation.name %></h2>
      <p>
        <%= @reservation.started_at.to_formatted_s(:long) %>
        to
        <%= @reservation.ended_at.to_formatted_s(:long) %>
      </p>

      <p>
        <%= @reservation.status %>
      </p>

      <p>
        <%= @reservation.item_quantity %>
      </p>

       <% if @reservation.pickup_event %>
        <p>
          Pickup: <%= format_reservation_event(@reservation.pickup_event) %>
        </p>
      <% end %>
      <% if @reservation.dropoff_event %>
        <p>
          Dropoff: <%= format_reservation_event(@reservation.dropoff_event) %>
        </p>
      <% end %>
      <dl>
        <% @reservation.answers.includes(:stem).each do |answer| %>
          <dt><%= answer.stem.content %></dt>
          <dd><%= answer.value %></dd>
        <% end %>
      </dl>
    </div>
    <div class="column col-8 col-md-12">
      <table class="table">
        <thead>
          <th>Item</th>
          <th>Quantity</th>
          <th></th>
        </thead>
        <tbody>
          <% @reservation.reservation_holds.each do |reservation_hold| %>
            <%= render partial: "account/reservations/reservation_holds/reservation_hold", locals: {reservation: @reservation, reservation_hold: reservation_hold, editable: @reservation.manager.can?(:request)} %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
