<%= content_for :header do %>
  <%= index_header "Borrow Policies" %>
<% end %>

<% if @borrow_policies.any? %>
  <div class="responsive-table eight-columns">
    <%= tag.div "Name", class: "responsive-table-header" %>
    <%= tag.div "Duration", class: "responsive-table-header" %>
    <%= tag.div "Fine", class: "responsive-table-header" %>
    <%= tag.div "Fine Period", class: "responsive-table-header" %>
    <%= tag.div "Uniquely Numbered", class: "responsive-table-header" %>
    <%= tag.div "Consumable", class: "responsive-table-header" %>
    <%= tag.div "Default", class: "responsive-table-header" %>
    <%= tag.div "", class: "responsive-table-header" %>

    <% @borrow_policies.each do |borrow_policy| %>
      <%= tag.div "#{borrow_policy.code} #{borrow_policy.name}", class: "responsive-table-cell" %>
      <%= tag.div borrow_policy.duration, class: "responsive-table-cell" %>
      <%= tag.div borrow_policy.fine, class: "responsive-table-cell" %>
      <%= tag.div borrow_policy.fine_period, class: "responsive-table-cell" %>
      <%= tag.div borrow_policy.uniquely_numbered, class: "responsive-table-cell" %>
      <%= tag.div borrow_policy.consumable, class: "responsive-table-cell" %>
      <%= tag.div borrow_policy.default, class: "responsive-table-cell" %>
      <%= tag.div class: "responsive-table-cell" do %>
        <%= link_to "Edit", edit_admin_borrow_policy_path(borrow_policy) %>
      <% end %>
    <% end %>
  </div>

<% else %>
  <%= empty_state "There are no borrow policies." %>
<% end %>
