<%= content_for :header do %>
  <%= index_header "Borrow Policies" %>
<% end %>

<% if @borrow_policies.any? %>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Duration</th>
      <th>Fine</th>
      <th>Fine Period</th>
      <th>Uniquely Numbered</th>
      <th>Consumable</th>
      <th>Default</th>
      <th>Requires Approval</th>
      <th>Requested Approvals</th>
    </thead>
    <tbody>
      <% @borrow_policies.each do |borrow_policy| %>
        <tr>
          <td>
            <%= link_to "#{borrow_policy.code} #{borrow_policy.name}", admin_borrow_policy_path(borrow_policy) %>
          </td>

          <td><%= borrow_policy.duration %></td>
          <td><%= borrow_policy.fine %></td>
          <td><%= borrow_policy.fine_period %></td>
          <td><%= borrow_policy.uniquely_numbered %></td>
          <td><%= borrow_policy.consumable %></td>
          <td><%= borrow_policy.default %></td>
          <td><%= borrow_policy.requires_approval %></td>
          <td><%= link_to borrow_policy.borrow_policy_approvals.requested.count, admin_borrow_policy_borrow_policy_approvals_path(borrow_policy) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= empty_state "There are no borrow policies." %>
<% end %>
