<p>
  <strong>Name:</strong>
  <%= @borrow_policy.name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @borrow_policy.duration %>
</p>

<p>
  <strong>Fine cents:</strong>
  <%= @borrow_policy.fine_cents %>
</p>

<p>
  <strong>Fine period:</strong>
  <%= @borrow_policy.fine_period %>
</p>

<%= link_to 'Edit', edit_admin_borrow_policy_path(@borrow_policy) %> |
