<%= form_with(model: item_pool, url: [:admin, item_pool], builder: SpectreFormBuilder) do |form| %>
  <%= form.errors %>

  <%= form.autocomplete_text_field :name, path: admin_ui_names_path(format: :json), autofocus: true,
        hint: "Generic name for the tool; e.g. Impact driver, Orchard ladder, Flathead screwdriver" %>

  <div class="columns">
    <div class="column col-4 col-sm-12">
      <%= form.select :reservation_policy_id, options_for_select(@reservation_policy_options, item_pool.reservation_policy_id), include_blank: "None" %>
    </div>
    <div class="column col-4 col-sm-12">
      <%= form.percent_field :max_reservable_percentage_points, label: "Reservation limit", hint: "Limit how many items a single reservation can claim. There are currently #{item_pool.max_reservable_quantity} items in this pool." %>
    </div>
  </div>

  <%= form.text_field :other_names, label: "Other names and keywords",
        hint: "Search terms that should return this item; typically slang or other names for the item" %>

  <%= form.tag_select :category_ids, @categories %>

  <div class="columns" data-controller="conditional-field" data-conditional-field-accessor-value="checked" data-conditional-field-trigger-value="false">
    <div class="column col-4 col-sm-12">
      <%= form.check_box :uniquely_numbered, data: {action: "conditional-field#change", "conditional-field-target": "parent"} %>
    </div>
    <div class="column col-4 col-sm-12">
      <%= tag.div data: {"conditional-field-target": "child"}, class: "conditional-field-child" do %>
        <%= form.number_field :unnumbered_count, label: "Count" %>
      <% end %>
    </div>
  </div>

  <%= form.rich_text_area :description,
        hint: "Any details about the tool. Could be notes about parts, usage, etc and will appear on the tool's public page" %>

  <%= form.text_area :checkout_notice, hint: "Shown when checking item out" %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
