<div class="panel item-panel">
  <div class="panel-body">
    <ul class="item-stats">
      <%= icon_stat "layers", "#{item_pool.reservable_items.count} items", title: "quantity", placeholder: "No quantity" %>
      <%= icon_stat "tag", title: "categories", css_class: "with-inner-stats", placeholder: "No categories" do %>
        <% if item_pool.category_nodes.size > 0 %>
          <ul class="inner-stats">
            <% item_pool.category_nodes.sort_by(&:name).each do |category| %>
              <li><%= link_to category.name, admin_item_pools_path(category: category), title: category.full_name %></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
      <%= icon_stat "calendar", title: "reservation policy", placeholder: "No reservation policy" do %>
        <% if item_pool.reservation_policy.present? %>
          <%= link_to item_pool.reservation_policy.name, admin_reservation_policy_path(item_pool.reservation_policy) %>
        <% end %>
      <% end %>
      <%= icon_stat "pie-chart", title: "#{item_pool.max_reservable_percentage_points || "100"}%", placeholder: "No reservation limit" do %>
        max of <%= pluralize item_pool.max_reservable_quantity(per_reservation: true), "item" %> per reservation
      <% end %>
    </ul>
  </div>
</div>
