<%= content_for :header do %>
  <%= index_header "Member Requests" %>
<% end %>

<div class="sort-controls">
  sort by:
  <div class="btn-group">
    <%= link_to_unless params[:sort] == "added" || params[:sort].blank?, "added", {filter: params[:filter]}, class: "btn btn-sm" do %>
      <button class="btn btn-sm active">added</button>
    <% end %>
    <%= link_to_unless params[:sort] == "name", "name", {sort: "name", filter: params[:filter]}, class: "btn btn-sm" do %>
      <button class="btn btn-sm active">name</button>
    <% end %>
  </div>
</div>

<% if @members.any? %>
  <div class="responsive-table two-columns">
    <%= tag.div "Member", class: "responsive-table-header" %>
    <%= tag.div "Requests", class: "responsive-table-header" %>

    <% @members.each do |member| %>
      <%= tag.div class: "responsive-table-cell" do %>
        <%= link_to preferred_or_default_name(member), [:admin, member] %>
      <% end %>
      <%= tag.div member.desires, class: "responsive-table-cell" %>
    <% end %>
  </div>

  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>
