<%= form_with(model: [:admin, @member, @member.reservations.new], builder: SpectreFormBuilder) do |form| %>
  <% if flash.key? :checkout_error %>
    <div class="toast toast-error"><%= flash[:checkout_error] %></div>
  <% end %>

  <%= form.hidden_field :member_id %>
  <%= form.hidden_field :item_id, value: @item.id %>

  <%= button_tag class: "btn" do %> 
    <%= feather_icon "clipboard" %>Reserve
  <% end %>

  <%= (@item.reservations.count + 1).ordinalize %> in line
<% end %>