<% content_for :header do %>
  <%= breadcrumbs "Reservations", admin_reservations_path %>
  <%= index_header @reservation.name do %>
    <%= link_to "Edit", edit_admin_reservation_path(@reservation), class: "btn" %>

    <% if @reservation.manager.can? :request %>
      <%= button_to "Request", admin_reservation_status_path(@reservation), method: :patch, params: {reservation: {status: Reservation.statuses[:requested]}}, remote: true, class: "btn" %>

    <% elsif @reservation.manager.can? :build %>
      <%= button_to "Start Building", admin_reservation_status_path(@reservation), method: :patch, params: {reservation: {status: Reservation.statuses[:building]}}, remote: true, class: "btn" %>

    <% elsif @reservation.manager.can? :ready %>
      <%= button_to "Ready for Pickup", admin_reservation_status_path(@reservation), method: :patch, params: {reservation: {status: Reservation.statuses[:ready]}}, remote: true, class: "btn" %>

    <% elsif @reservation.manager.can? :borrow %>
      <%= button_to "Check out", admin_reservation_status_path(@reservation), method: :patch, params: {reservation: {status: Reservation.statuses[:borrowed]}}, remote: true, class: "btn" %>

    <% elsif @reservation.manager.can? :return %>
      <%= button_to "Check in", admin_reservation_status_path(@reservation), method: :patch, params: {reservation: {status: Reservation.statuses[:returned]}}, remote: true, class: "btn" %>
    <% end %>

  <% end %>
<% end %>

<div class="columns">
  <div class="column col-4 col-sm-12">
    <div class="panel item-panel">
      <div class="panel-body">
        <ul class="item-stats">
          <%= icon_stat "user", "org", title: "organization" %>
          <%= icon_stat "clock", @reservation.started_at.to_formatted_s(:long), title: "pickup" %>
          <%= icon_stat "corner-down-left", @reservation.ended_at.to_formatted_s(:long), title: "return" %>
          <%= icon_stat "info", @reservation.status, title: "status" %>
        </ul>
      </div>
    </div>
  </div>

  <div class="column col-sm-12 col-8">

    <% if Reservation.statuses.values_at(:requested, :approved, :building).include?(@reservation.status) %>
      <%= render partial: "admin/reservations/reservation_policies_warnings", locals: {reservation: @reservation} %>
    <% end %>

    <ul class="tab">
      <%= tab_link "Items", admin_reservation_path(@reservation) %>
      <%= tab_link "Pickup", admin_reservation_pickup_path(@reservation) %>
      <%= tab_link "Questions", admin_reservation_questions_path(@reservation) %>
      <%= tab_link "Review", edit_admin_reservation_review_path(@reservation) if @reservation.manager.can?(:approve) %>
      <%= tab_link("Review Notes", admin_reservation_review_path(@reservation)) if @reservation.notes? %>
    </ul>

    <%= yield %>
</div>
