<% content_for :header do %>
  <%= breadcrumbs "Reservations", admin_reservations_path %>
  <%= index_header @reservation.name do %>
    <%= link_to "Edit", edit_admin_reservation_path(@reservation), class: "btn" %>
    <%= link_to "Review", edit_admin_reservation_review_path(@reservation), class: "btn" %>
    <% unless @reservation.pickup %>
      <%= button_to "Create Pickup", admin_pickups_path(reservation_id: @reservation), method: :create, remote: true, class: "btn" %>
    <% end %>
  <% end %>
<% end %>

<div class="columns">
  <div class="column col-4 col-sm-12">
    <div class="panel item-panel">
      <div class="panel-body">
        <ul class="item-stats">
          <%= icon_stat "user", "org", title: "organization" %>
          <%= icon_stat "clock", @reservation.started_at.to_formatted_s(:long), title: "pickup" %>
          <%= icon_stat "corner-down-left", @reservation.ended_at.to_formatted_s(:long), title: "return" %>
          <%= icon_stat "info", @reservation.status, title: "status" %>
        </ul>
      </div>
    </div>
  </div>

  <div class="column col-sm-12 col-8">

    <ul class="tab">
      <%= tab_link "Items", admin_reservation_path(@reservation) %>
      <% if @reservation.pickup %>
        <%= tab_link "Pickup", admin_pickup_path(@reservation.pickup) %>
      <% end %>
    </ul>

    <%= yield %>
</div>
