<div id="<%= dom_id reservation %>">
  <p>
    <strong>Name:</strong>
    <%= link_to reservation.name, admin_reservation_path(reservation) %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= reservation.started_at %>
  </p>

  <p>
    <strong>End:</strong>
    <%= reservation.ended_at %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reservation.status %>
  </p>

  <% if reservation.notes.present? %>
    <p>
      <strong>Notes:</strong>
      <%= reservation.notes %>
    </p>
  <% end %>

  <p>
    <strong>Items:</strong>
    <ul>
      <% reservation.date_holds.each do |date_hold| %>
        <li><%= date_hold.item_pool.name %> (<%= date_hold.quantity %>)</li>
      <% end %>
    </ul>
  </p>

</div>
