<div id="<%= dom_id reservation %>">
  <p>
    <strong>Name:</strong>
    <%= reservation.name %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= reservation.started_at %>
  </p>

  <p>
    <strong>End:</strong>
    <%= reservation.ended_at %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reservation.status %>
  </p>

  <% if reservation.notes.present? %>
    <p>
      <strong>Notes:</strong>
      <%= reservation.notes %>
    </p>
  <% end %>

  <p>
    <strong>Items:</strong>
    <ul>
      <% reservation.reservable_items.each do |item| %>
        <li><%= item.name %></li>
      <% end %>
    </ul>
  </p>

  <% if reservation.pickup %>
    <%= link_to "View Pickup", admin_pickups_path(reservation.pickup) %>
  <% else %>
    <%= button_to "Create Pickup from this reservation", admin_pickups_path(reservation_id: reservation), method: :create, remote: true, class: "btn" %>
  <% end %>
</div>
