<% content_for :header do %>
  <%= index_header "Reservations" do %>
    <%= link_to "New reservation", new_admin_reservation_path, class: "btn" %>
  <% end %>
<% end %>

<table class="table">
  <thead>
    <th>Organization</th>
    <th>Name</th>
    <th>Starts</th>
    <th>Ends</th>
    <th>Status</th>
    <th>Items</th>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr id="<%= dom_id reservation %>">
        <td>
          <%= link_to reservation.organization.name, admin_organization_path(reservation.organization) %>
        </td>
        <td>
          <%= link_to reservation.name, admin_reservation_path(reservation) %>
        </td>

        <td>
          <%= reservation.started_at.to_formatted_s(:long) %>
        </td>

        <td>
          <%= reservation.ended_at.to_formatted_s(:long) %>
        </td>

        <td>
          <%= reservation.status %>
        </td>

        <td>
          <%= reservation.item_quantity %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<%== pagy_bootstrap_nav(@pagy) %>
