<%= render @reservation %>

<div>
  <%= link_to "Edit this reservation", edit_admin_reservation_path(@reservation) %> |
  <%= link_to "Review this reservation", edit_admin_reservation_review_path(@reservation) %> |
  <%= link_to "Back to reservations", admin_reservations_path %>

  <%= button_to "Destroy this reservation", admin_reservation_path(@reservation), method: :delete %>
</div>
