<h3>New Member Signup</h3>

<%= render 'signup/steps', steps: @steps %>

<%= form_with(model: @member, url: signup_members_url, builder: SpectreFormBuilder) do |form| %>
  <%= render 'admin/members/fields', form: form %>

  <%= form.actions do %>
    <%= form.submit "Save and Continue" %>
  <% end %>
<% end %>