<%= content_for :header do %>
  <%= index_header "Items in maintenance" %>
<% end %>

<% if @tickets.any? %>
  <div class="columns items-in-maintenance">
    <div class="column col-12">
      <table class="table">
        <tr>
          <th><%= sort_link("Number", "item-number") %></th>
          <th><%= sort_link("Status", "item-status") %></th>
          <th><%= sort_link("Name", "item-name") %></th>
          <th>Categories</th>
          <th><%= sort_link("Title", "ticket-title") %></th>
          <th><%= sort_link("Status", "ticket-status") %></th>
          <th><%= sort_link("Created", "ticket-created_at") %></th>
          <th><%= sort_link("Updated", "ticket-updated_at") %></th>
        </tr>
        <% @tickets.each do |ticket| %>
          <tr>
            <td>
              <%= ticket.item.complete_number %>
            </td>
            <td>
              <%= ticket.item.status %>
            </td>
            <td>
              <%= link_to ticket.item.name, admin_item_tickets_path(ticket.item) %>
            </td>
            <td>
              <%= ticket.item.categories.map(&:name).join(", ") %>
            </td>
            <td>
              <%= link_to ticket.title, admin_item_ticket_path(ticket.item, ticket) %>
            </td>
            <td>
              <%= ticket.status %>
            </td>
            <td>
              <%= ticket.created_at.to_formatted_s(:short_date) %>
            </td>
            <td>
              <%= ticket.updated_at.to_formatted_s(:short_date) %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% else %>
  <%= empty_state "There are no items currently being repaired!" %>
<% end %>
