<%= content_for :header do %>
  <%= index_header "Items in maintenance" %>
<% end %>

<section class="filters-container">
  <h2>Filters</h2>
  <%= search_form_for(@q, url: admin_reports_items_in_maintenance_index_path, class: "filters-form") do |f| %>
    <div class="filters-form-fields">
      <div class="filter-column item-and-ticket-filters">
        <div class="filter-row item-filters">
          <div class="filter-field name">
            <%= f.label :item_name_cont, "Item Name" %>
            <%= f.search_field :item_name_cont %>
          </div>

          <div class="filter-field status">
            <%= f.label :item_status_eq, "Item Status" %>
            <%= f.select :item_status_eq, Item.statuses.values.sort.map { |value| [value.humanize, value] }, {include_blank: true} %>
          </div>

          <div class="filter-field number">
            <%= f.label :item_number_cont, "Item Number" %>
            <%= f.search_field :item_number_eq %>
          </div>
        </div>

        <div class="filter-row ticket-filters">
          <div class="filter-field title">
            <%= f.label :title_cont, "Ticket Title" %>
            <%= f.search_field :title_cont %>
          </div>

          <div class="filter-field status">
            <%= f.label :status_eq, "Ticket Status" %>
            <%= f.select :status_eq, [["Assess", "assess"], ["Parts", "parts"], ["Repairing", "repairing"]], {include_blank: true} %>
          </div>
          <div class="filter-field tag">
            <%= f.label :tag_eq, "Tag" %>
            <%= f.select :tag_eq, ActsAsTaggableOn::Tag.most_used.pluck(:name), {include_blank: true, selected: params[:q][:tag_eq]} %>
          </div>
        </div>
      </div>

      <div class="filter-column date-filters">
        <div class="filter-row">
          <div class="filter-field">
            <%= f.label :created_at_gteq, "Created After" %>
            <%= f.date_field :created_at_gteq %>
          </div>

          <div class="filter-field">
            <%= f.label :created_at_lteq, "Created Before" %>
            <%= f.date_field :created_at_lteq %>
          </div>
        </div>

        <div class="filter-row">
          <div class="filter-field">
            <%= f.label :updated_at_gteq, "Updated After" %>
            <%= f.date_field :updated_at_gteq %>
          </div>

          <div class="filter-field">
            <%= f.label :updated_at_lteq, "Updated Before" %>
            <%= f.date_field :updated_at_lteq %>
          </div>
        </div>
      </div>
    </div>

    <div class="filter-button-container">
      <%= f.submit "Filter", class: "btn" %>
    </div>
  <% end %>
</section>

<% if @tickets.any? %>
  <div class="column col-12">
    <table class="table">
      <tr>
        <th><%= sort_link(@q, :item_number, "Number") %></th>
        <th><%= sort_link(@q, :item_status, "Status") %></th>
        <th><%= sort_link(@q, :item_name, "Name") %></th>
        <th>Categories</th>
        <th><%= sort_link(@q, :title, "Title") %></th>
        <th><%= sort_link(@q, :status, "Status") %></th>
        <th>Tags</th>
        <th><%= sort_link(@q, :created_at, "Created") %></th>
        <th><%= sort_link(@q, :updated_at, "Updated") %></th>
      </tr>
      <% @tickets.each do |ticket| %>
        <tr>
          <td>
            <%= ticket.item.complete_number %>
          </td>
          <td>
            <%= ticket.item.status %>
          </td>
          <td>
            <%= link_to ticket.item.name, admin_item_tickets_path(ticket.item) %>
          </td>
          <td>
            <%= ticket.item.categories.map(&:name).join(", ") %>
          </td>
          <td>
            <%= link_to ticket.title, admin_item_ticket_path(ticket.item, ticket) %>
          </td>
          <td>
            <%= ticket.status %>
          </td>
          <td>
            <%= ticket.tag_list %>
          </td>
          <td>
            <%= ticket.created_at.to_formatted_s(:short_date) %>
          </td>
          <td>
            <%= ticket.updated_at.to_formatted_s(:short_date) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% else %>
  <%= empty_state "There are no items that match the current filters!" %>
<% end %>
