<% unless warning.blank? %>
  <p class="overdue"><strong><%= warning %></strong></p>
<% end %>

<ul>
<% summaries.each do |summary| %>
  <li>
    <strong><%= full_item_number(summary.item) %> - <%= summary.item.name %></strong>
    <% if summary.ended? %>
      <%= _("returned") %>
    <% else %>
      <% if summary.renewal_request_rejected? %>
        <span class="rejected">
          <%= _("renewal rejected") %>,
        </span>
      <% end %>
      <% if summary.overdue_as_of?(now) %>
        <span class="overdue">
          <%= _("was due %{date}") % { date: checked_out_date(summary.due_at) } %>
        </span>
      <% else %> 
        <% if summary.renewed? # and was active today %>
          <%= _("renewed until") %>
        <% else %>
          <%= _("due") %>
        <% end %>
        <%= checked_out_date(summary.due_at) %>
      <% end %>
      <% if (count = summary.item.holds.active.count) && count > 0 %>
        <br>
        <span class="people-waiting">
          <%= n_("One member is waiting for this item", "%{n} members are waiting for this item", count) % {n: count} %>
        </span>
      <% end %>
    <% end %>
  </li>
<% end %>
</ul>