<h1>Money</h1>

<table class="table monthly-adjustments">
  <thead>
    <tr>
      <th></th>
      <th class="left-lined" colspan="2">Memberships</th>
      <th class="left-lined" colspan="2">Fines</th>
      <th class="left-lined" colspan="3">Payments</th>
    </tr>
    <tr>
      <th>Month</th>
      <th class="left-lined">Count</th>
      <th class="text-right fees">Fees</th>
      <th class="left-lined">Count</th>
      <th class="text-right fees">Fees</th>
      <th class="text-right fees left-lined">Square</th>
      <th class="text-right fees">Cash</th>
      <th class="text-right">Forgiven</th>
    </tr>
  </thead>
  <tbody>
    <% @monthly_adjustments.each do |ma| %>
      <tr>
        <td><%= Date::MONTHNAMES[ma.month] %> <%= ma.year %></td>
        <td class="left-lined"><%= ma.membership_count if ma.membership_count > 0 %></td>
        <td class="text-right fees"><%= ma.membership_total&.format %></td>
        <td class="left-lined"><%= ma.fine_count if ma.fine_count > 0 %></td>
        <td class="text-right fees"><%= ma.fine_total&.format %></td>
        <td class="text-right fees left-lined"><%= ma.square_total&.format %></td>
        <td class="text-right fees"><%= ma.cash_total&.format %></td>
        <td class="text-right"><%= ma.forgiveness_total&.format %></td>
      </tr>
    <% end %>
  <tfoot>
    <tr>
      <td>Total</td>
      <td class="left-lined"><%= @monthly_adjustments.sum(&:membership_count) %></td>
      <td class="text-right fees"><%= Money.new(@monthly_adjustments.map(&:membership_total).compact.sum).format %></td>
      <td class="left-lined"><%= @monthly_adjustments.sum(&:fine_count) %></td>
      <td class="text-right fees"><%= Money.new(@monthly_adjustments.map(&:fine_total).compact.sum).format %></td>
      <td class="text-right fees"><%= Money.new(@monthly_adjustments.map(&:square_total).compact.sum).format %></td>
      <td class="text-right fees"><%= Money.new(@monthly_adjustments.map(&:cash_total).compact.sum).format %></td>
      <td class="text-right"><%= Money.new(@monthly_adjustments.map(&:forgiveness_total).compact.sum).format %></td>
    </tr>
  </tfoot>
</table>