<%= content_for :header do %>
  <%= index_header "Zipcodes" do %>
    <%= link_to "Download as CSV", admin_reports_zipcodes_path(format: "csv"), class: "btn" %>
  <% end %>
<% end %>

<div class="columns">
  <div class="column col-3">
    <table class="table">
      <thead>
        <tr>
          <th>ZIP</th>
          <th>Members</th>
        </tr>
      </thead>
      <tbody>
      <% @data.each do |postal_code, count| %>
        <tr>
          <td><%= postal_code %></td>
          <td><%= count %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="column col-9">
    <div class="inline-map"><%== @inline_svg %></div>
  </div>
</div>

<div class="columns mt-2">
  <div class="column col-12">
    <p class="text-small">Map image released under <a href="https://opendatacommons.org/licenses/odbl/">ODbL 1.0</a> by <a href="https://simplemaps.com/city/chicago/zips">SimpleMaps.com</a>.</p>
  </div>
</div>
