<%= render "admin/reservations/profile" do %>

  <%= render partial: "admin/pickups/status", locals: {pickup: @pickup} %>

  <%= link_to "Change Pickup Status", edit_admin_pickup_path(@pickup), class: "btn" %>

  <% if @pickup.status == Pickup.statuses[:ready_for_pickup] %>
    <%= button_to "Check out", admin_pickup_checkout_path(@pickup), class: "btn", method: :create %>
  <% elsif @pickup.status == Pickup.statuses[:picked_up] %>
    <%= button_to "Check in", admin_pickup_checkin_path(@pickup), class: "btn", method: :create %>
  <% end %>

  <div class="divider"></div>

  <% if @pickup.editable? %>
    <%= render partial: "admin/pickups/reservation_loans/form", locals: {pickup: @pickup, reservation_loan: ReservationLoan.new} %>
  <% end %>
  <br>

  <div id="date-holds">
    <% @pickup.reservation.reservation_holds.each do |reservation_hold| %>
      <%= render partial: "admin/pickups/reservation_hold", locals: {reservation_hold: reservation_hold, pickup: @pickup} %>
    <% end %>
  </div>

<% end %>
