<div class="reservation-index">
  <%= section_header "Submit Reservation" do %>
  <% end %>
  <div class="columns">
    <div class="col-4 col-md-12">
      <h2><%= @reservation.name %></h2>
      <p>
        <%= @reservation.started_at.to_formatted_s(:long) %>
        to
        <%= @reservation.ended_at.to_formatted_s(:long) %>
      </p>

      <p>
        <%= @reservation.status %>
      </p>

      <p>
        <%= @reservation.item_quantity %>
      </p>
    </div>
    <div class="column col-8 col-md-12">
      <table class="table">
        <thead>
          <th>Item</th>
          <th>Quantity</th>
        </thead>
        <tbody>
          <% @reservation.reservation_holds.each do |reservation_hold| %>
            <%= render partial: "account/reservations/reservation_holds/reservation_hold", locals: {reservation: @reservation, reservation_hold: reservation_hold} %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div>
      <%= link_to "Make changes to this reservation", account_reservation_path(@reservation) %>
      <%= button_to "Submit for Review", account_reservation_submission_path(@reservation), method: :put, class: "btn btn-primary" %>
      We will review your reservation shortly.
    </div>
  </div>
</div>
