<%= content_for :header do %>
  <%= index_header "Closing" %>
<% end %>

<h2>Upcoming Hold Expirations</h2>

<div class="columns">
  <div class="column col-6">
    <table class="table">
    <% @dates.each do |(date, count)| %>
    <tr>
      <td><%= checked_out_date date %></td>
      <td><%= count %></td>
    </tr>
    <% end %>
    </table>
  </div>

  <div class="column col-6">
    <h3>Extend Holds</h3>
    <p>Enter the next day that holds should expire. Any holds expiring before that day will be extended to that date.</p>
    <%= form_with(model: @form, url: admin_settings_closing_extend_holds_url, builder: SpectreFormBuilder) do |form| %>
      <%= form.date_field :date, min: @form.earliest_valid_date.iso8601, max: @form.latest_valid_date.iso8601 %>
      <%= form.submit "Extend holds", data: {turbo_confirm: "This can't be undone. Click OK to extend holds that expire before the specified date."} %>
    <% end %>
  </div>
</div>
