<%= content_for :header do %>
  <%= index_header "Search" %>
<% end %>

<div class="columns">
  <div class="column col-12">

    <p>
      <%= "Showing #{@exact ? "exact" : "fuzzy"} matches for #{@query}." %>
      <% if @exact %>
        <%= link_to "Show fuzzy matches", admin_search_path(query: @query, exact: false), class: "btn" %>
      <% end %>
    </p>

    <div class="search-result-type">
      <h2>Exact matches</h2>
      <% if @member_by_number %>
        <%= render partial: "admin/members/members", locals: {members: [@member_by_number]} %>
      <% else %>
        <p>No member with number <strong><%= @query %></strong> found.</p>
      <% end %>

      <% if @item_by_number %>
        <%= render partial: "admin/items/items", locals: {items: [@item_by_number]} %>
      <% else %>
        <p>No item with number <strong><%= @query %></strong> found.</p>
      <% end %>
    </div>

    <% if @items.present? %>
      <div class="search-result-type">
        <h2>Items</h2>
        <%= render partial: "admin/items/items", locals: {items: @items} %>
      </div>
    <% end %>

    <% if @members.present? %>
      <div class="search-result-type">
        <h2>Members</h2>
        <%= render partial: "admin/members/members", locals: {members: @members} %>
      </div>
    <% end %>

  </div>
</div>
