<div class="date-debug">
  <%= form_tag "/dev/time" do %>
    Change time to: <%= text_field_tag "new_time", Time.zone.now.to_s %>
    <%= hidden_field_tag "return_to", request.path %>
    <%= button_tag "Set", type: "submit", class: "btn btn-sm" %>
  <% end %>
  <%= form_tag "/dev/time", method: "DELETE" do %>
    <%= hidden_field_tag "return_to", request.path %>
    <%= button_tag "Reset", type: "submit", class: "btn btn-sm" %>
  <% end %>
</div>