<p id="notice"><%= notice %></p>

<h1>Agreements</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Summary</th>
      <th>Body</th>
      <th>Position</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agreements.each do |agreement| %>
      <tr>
        <td><%= agreement.name %></td>
        <td><%= agreement.summary %></td>
        <td><%= agreement.body %></td>
        <td><%= agreement.position %></td>
        <td><%= agreement.active %></td>
        <td><%= link_to 'Show', [:admin, agreement] %></td>
        <td><%= link_to 'Edit', edit_admin_agreement_path(agreement) %></td>
        <td><%= link_to 'Destroy', [:admin, agreement], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agreement', new_admin_agreement_path %>
