<%= render "admin/items/profile" do %>
  <h1>Editing Maintenance Report</h1>

  <%= form_with(model: @maintenance_report, url: admin_item_maintenance_report_path(@item, @maintenance_report), builder: SpectreFormBuilder) do |form| %>
    <%= form.errors %>
    <%= form.text_field :title %>
    <%= form.rich_text_area :body %>
    <%= form.number_field :time_spent, hint: "How many minutes did you spend on this?" %>

    <%= tag.div class: "form-group" do %>
      <%= form.label "Change Item Status" %>
      <p class="form-input-hint">You can change the item status on the <%= link_to "item edit page", edit_admin_item_path(@item) %> or by creating a new Maintenance Report.</p>
    <% end %>

    <%= form.actions do %>
      <%= form.submit %>
    <% end %>
  <% end %>

  <p class="mt-5"><%= link_to 'Destroy this maintenance report', [:admin, @item, @maintenance_report], method: :delete, data: { confirm: 'Are you sure? Deleting the maintenance report will not update the status of the item.' } %></p>
<% end %>