<%= render "admin/items/profile" do %>
  <%= link_to "New Maintenance Report", new_admin_item_maintenance_report_path(@item), class: "btn" %>

  <div class="timeline item-edit-history maintenance-report-index mt-5">
    <% @events.each do |event| %>
      <% next if ItemAudit === event && !event.audited_changes["status"] %>
      <% next if @events.any? { |e| MaintenanceReport === e && e.audit == event } %>

      <div class="timeline-item <%= "timeline-skip" if disconnected_maintenance_report_event?(event) %>" id="<%= dom_id(event) %>">

        <div class="timeline-left">
          <a class="timeline-icon" href="#<%= dom_id(event) %>"></a>
        </div>
        <div class="timeline-content">
          <% if MaintenanceReport === event %>
            <% maintenance_report = event %>
            <div class="tile-content">
              <h3 class="h5 mb-0"><%= maintenance_report.title %></h3>
              <p class="mb-2"><%= display_date maintenance_report.created_at, :short_date %>
                <% if maintenance_report.creator.present? %>
                  &mdash; <%= link_to_member(maintenance_report.creator.member) %>
                <% end %>
                <% if maintenance_report.time_spent.present? %>(<%= maintenance_report.time_spent %> minutes)<% end %>
              </p>
              <div class="trix_content mb-2">
                <%= maintenance_report.body %>
              </div>
              <% if maintenance_report.audit %>
                <h3 class="h6 mb-0">status changed to <span class="text-bold"><%= audit_item_status maintenance_report.audit %></span></h3>
              <% end %>
              <span class="mt-2 text-small edit-maintenance-report-link">
                <%= link_to "Edit", edit_admin_item_maintenance_report_path(@item, maintenance_report) %>
              </span>
            </div>
          <% else %>
            <% audit = event %>
            <div class="tile-content">
              <h3 class="h6 mb-0">status changed to <span class="text-bold"><%= audit_item_status audit %></span></h3>
              <p class="text-small">
                <%= display_date event.created_at, :short_date %>
                <% if audit.user.present? %>
                  &mdash; <%= link_to_member(audit.user.member) %>
                <% end %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

<% end %>
