<p id="notice"><%= notice %></p>

<p>
  <strong>Time spent:</strong>
  <%= @maintenance_report.time_spent %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @maintenance_report.creator_id %>
</p>

<%= link_to 'Edit', edit_maintenance_report_path(@maintenance_report) %> |
<%= link_to 'Back', maintenance_reports_path %>
