<% lookup ||= Admin::Lookup.new %>
<%= form_with(model: lookup, url: admin_member_lookups_path(@member), builder: SpectreFormBuilder) do |form| %>
  <%= form.errors %>

  <div>
    <%= form.text_field :item_number, label: "Enter an item's number to loan it to this member", 
    pattern: "[0-9]{1,4}", 
    placeholder: "1-4 digit item number", 
    autocomplete: "off",
    data: {action: "keydown->item-number-input#keydown"}, 
    hint: "Just the number; no need for letters, dashes, etc." %>
  </div>

  <%= form.actions do %>
    <%= button_tag class: "btn btn-primary" do %> 
      <%= feather_icon "book-open" %>Lookup
    <% end %>
  <% end %>
<% end %>
