<%= content_for :header do %>
  <%= index_header @tag.name do %>
    <%= link_to 'Edit', edit_admin_tag_path(@tag), class: "btn" %>
  <% end %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @tag.slug %>
</p>
