<%= content_for :header do %>
  <%= index_header "Gift Memberships" do %>
    <%= link_to 'New Gift Membership', new_admin_gift_membership_path, class: "btn" %>
  <% end %>
<% end %>

<div class="columns">
  <div class="column col-9-sm col-12-xs">

    <% if @gift_memberships.any? %>

      <table class="table table-scroll">
        <thead>
          <tr>
            <th>Code</th>
            <th>Purchased</th>
            <th>Purchaser</th>
            <th>Amount</th>
            <th>Recipient</th>
            <th>Claimed By</th>
          </tr>
        </thead>
        <tbody>
          <% @gift_memberships.each do |gift_membership| %>
            <tr>
              <td>
                <%= link_to gift_membership.code.format, edit_admin_gift_membership_path(gift_membership) %>
              </td>
              <td>
                <%= date_with_time_title gift_membership.created_at %><br>
              </td>
              <td>
                <%= tag.strong gift_membership.purchaser_email %><br>
                <%= gift_membership.purchaser_name %>
              </td>
              <td>
                <%= gift_membership.amount.format %>
              </td>
              <td>
                <%= gift_membership.recipient_name %><br>
              </td>
              <td>
                <% if gift_membership.membership %>
                  <%= link_to preferred_or_default_name(gift_membership.membership.member), 
                    [:admin, gift_membership.membership.member] %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%== pagy_bootstrap_nav(@pagy) %>
    <% else %>
      <%= empty_state "There are no gift memberships!", subtitle:"Create one?" do %>
        <%= link_to "Create a new gift membership", new_admin_gift_membership_path, class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>

</div>