<h2>Account Settings</h2>
<div class="columns">
  <div class="column">
    <dl>
      <dt>Full Name</dt>
      <dd><%= @member.full_name %></dd>

      <dt>Preferred Name</dt>
      <dd><%= @member.preferred_name %></dd>

      <dt>Pronouns</dt>
      <dd><%= @member.display_pronouns %></dd>

      <dt>Email</dt>
      <dd><%= @member.email %></dd>

      <dt>Phone Number</dt>

      <dd><%= format_phone_number(@member.phone_number,"-") %></dd>

      <dt>Address</dt>
      <dd>
        <%= @member.address1 %><br>
        <%= @member.address2 %><br>
        <%= @member.city %>,
        <%= @member.region %>&nbsp;
        <%= @member.postal_code %>
      </dd>
    </dl>

    <button class="btn"><%= link_to "Edit Member Profile", edit_member_profile_path %></button>
    <br> <br>
    <button class="btn">Edit Password</button>
  </div>
  <div class="column">

    <dl>
      <dt>Membership Status</dt>

      <% if @member.active_membership %>
        <dd>Member</dd>

        <dt>Membership #</dt>
        <dd><%= @member.number %></dd>

        <dt>Membership Expiration Date</dt>
        <dd><%= date_with_time_title(@member.active_membership.ended_on) %></dd>
      <% else %>
        <dd><%= @member.status %></dd>
      <% end %>
    </dl>
  </div>
</div>
