<div class="attachment-form">
  <%= form_with(model: attachment, url: attachment.new_record? ? admin_item_attachments_path(item) : admin_item_attachment_path(item, attachment), builder: SpectreFormBuilder) do |form| %>
    <%= form.errors %>

    <%= form.file_field :file %>

    <div data-controller="conditional-field" data-conditional-field-trigger="other">
      <%= form.select :kind, options_for_select(item_attachment_kind_options, attachment.kind), {}, data: {action: "conditional-field#change", 'conditional-field-target': "parent"} %>
      <%= tag.div data: {'conditional-field-target': "child"}, class: "conditional-field-child nested" do %>
        <%= form.text_field :other_kind, placeholder: "Please specify" %>
      <% end %>
    </div>

    <%= form.text_field :notes %>

    <%= form.actions do %>
      <%= form.submit attachment.new_record? ? "Create" : "Save", class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>
