<%= form_with(model: @payment, url: signup_payments_url, builder: SpectreFormBuilder) do |form| %>

  <div class="columns">
    <div class="column col-12">
      <div class="signup-fee-description">
        <p>
          We suggest that members pay <strong>$1</strong> for every <strong>$1,000</strong> they make in a year.
          For example, if a person makes <strong>$35,000</strong> in a year, their recommended annual membership fee would be <strong>$35</strong>.
        </p>
        
        <%= form.money_field :amount_dollars, label: "Your membership fee for this year", class: "input-lg" %>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column col-sm-12 col-6">
      <p>
        You can save time by paying now using a credit card or Apple/Google Pay:
      </p>

      <%= form.actions do %>
        <%= form.submit "Pay Online" %>
      <% end %>
    </div>

    <div class="column col-sm-12 col-6">
      <p>
        You can also pay in person at the library using any payment method, including cash:
      </p>

      <%= form.actions do %>
        <%= form.submit "Pay at the Library" %>
      <% end %>
    </div>
  </div>
<% end %>