<div class="columns">
  <div class="column col-8 col-sm-12 col-mx-auto">
    <div class="instructions">
      <p class="caption_lg">Select a Payment Option</p>
      <p class="main">Tool library memberships are pay-what-you-can.</p>
      <div class="divider"></div>
    </div>
    <div class="signup-fee-description">
      <p>
        This means you choose how much your one-year membership costs.
      </p>
      <p>
        Please choose how much you can contribute to this community service. Membership contributions are the Tool Library's main source of income to pay our staff, pay our rent, and buy and maintain our tools.
      </p>
      <p>
        We recommend contributing $100 for a one-year membership, but this is only a recommendation. Many people pay more and many people pay less.
      </p>
      <p>
        Please note that your membership contribution is the only payment you will make to the Tool Library this year. There are no late fees, replacement fees, or rental fees.
      </p>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column col-sm-12 col-4 col-ml-auto pay-online">

    <%= form_with(model: @form, url: signup_payments_url, builder: SpectreFormBuilder, class: "membership-amount") do |form| %>
      <fieldset>
        <legend>Pay Online</legend>
        <p>
          You can save time by making one-time payment online using a credit card or Apple/Google Pay.
        </p>
        <%= form.money_field :amount_dollars, label: "Your membership fee:", class: "input-lg", type: :number, min: 5 %>
      </fieldset>
      <%= form.actions do %>
        <%= form.submit "Pay Online Now", data: {turbo: false} %>
      <% end %>
    <% end %>
  </div>

  <div class="divider-vert hide-sm" data-content="OR"></div>
  <div class="column col-sm-12 show-sm">
    <div class="divider text-center small-horizontal-divider" data-content="OR"></div>
  </div>

  <div class="column col-sm-12 col-4 col-mr-auto complete-in-person">
    <%= form_with(url: skip_signup_payments_url, builder: SpectreFormBuilder) do |form| %>
      <fieldset>
        <legend>Pay in-person</legend>
        <p>
          You can also complete your payment in person at the library. We accept cash, credit cards, and mobile payments, and
          are happy to answer any questions you have about membership.
        </p>
      </fieldset>

      <%= button_tag "Pay in-person", class: "btn btn-lg btn-block" %>
    <% end %>
  </div>
</div>

<div class="columns">
  <div class="column col-12 col-ml-auto text-center gift-membership">
    <p>
      Have a <strong>gift membership</strong> code? Right this way:
      <%= link_to "Redeem Gift Membership", new_signup_redemption_path, class: "btn" %>
    </p>
  </div>
</div>
