<div class="users-sign-in container">
    <h2 class="text-center">Member Login</h2>

    <% if @current_library.allow_appointments? %>
      <p class="text-center">Login to view your loans, holds, and appointments.</p>
    <% else %>
      <p class="text-center">Login to view your loans and holds.</p>
    <% end %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>

      <div class="field text mb-2">
        <%= f.label :email %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field text mb-1">
        <%= f.label :password %><br>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field mb-2">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions text-center">
        <%= f.submit "Login", class: "btn btn-primary" %>
      </div>
    <% end %>

    <div class="callout-box">
      <ul>
      <% if @current_library.allow_members? %>
        <li>If you don't have a membership with us yet, <%= link_to "sign up online", signup_path %>.</li>
      <% end %>
        <li>If you need to choose or don't remember your password, <%= link_to "reset your password", new_user_password_path %>.</li>
        <li>If you haven't confirmed your email address, <%= link_to "request a confirmation email", new_user_confirmation_path %>.</li>
      </ul>
  </div>
</div>
