<%= content_for :header do %>
  <%= breadcrumbs "Organizations", admin_organizations_path %>
  <%= index_header "Editing Organization" %>
<% end %>

<%= render "form", organization: @organization %>

<div class="destroy-area">
  <details>
    <summary>Destroy this organization?</summary>
    <%= action_bar "If you destroy this organization, it can not be recovered.", icon: "alert-octagon", type: :warning do %>
      <%= button_to "Destroy Organization", [:admin, @organization], method: :delete, data: {turbo_confirm: "Are you sure?"}, class: "btn btn-sm" %>
    <% end %>
  </details>
</div>
