<% content_for :header do %>
  <%= index_header "Organizations" do %>
    <%= link_to "New Organization", new_admin_organization_path, class: "btn" %>
  <% end %>
<% end %>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Website</th>
    <th>Actions</th>
  </thead>
  <tbody>
  <% @organizations.each do |organization| %>
    <tr id="<%= dom_id organization %>">
      <td>
        <%= link_to organization.name, admin_organization_path(organization) %>
      </td>
      <td>
        <%= link_to organization.website %>
      </td>
      <td>
        <%= link_to "Edit", edit_admin_organization_path(organization), class: "btn" %>
      </td>
    </tr>
  <% end %>
</table>
