<p style="color: green"><%= notice %></p>

<%= render @organization %>

<div>
  <%= link_to "Edit this organization", edit_admin_organization_path(@organization) %> |
  <%= link_to "Back to organizations", admin_organizations_path %>

  <%= button_to "Destroy this organization", [:admin, @organization], method: :delete %>
</div>
