<div class="items-table">
    <% items.each do |item| %>
        <%= tag.div class: "items-table-image" do %>
        <% if item.image.attached? %>
            <%= image_tag url_for(rotated_variant(item.image, resize_to_limit: [200, 140])), class: "p-centered" %>
        <% else %>
            <div class="image-placeholder"></div>
        <% end %>
        <% end %>

        <%= tag.div class: "items-table-name" do %>
        <strong><%= full_item_number(item) %></strong>
        <%= item_status_label(item) %>
        <br>
        <%= link_to item.name, item_path(item) %>
        <% if item.size.present? %>
            <span class="label"><%= item.size %></span>
        <% end %>
        <% if item.strength.present? %>
            <span class="label"><%= item.strength %></span>
        <% end %>
        <br>

        <%= tag.div [item.brand, item.model].select(&:present?).join(", ") %>
        <% end %>

        <%= tag.div class: "items-table-categories" do %>
        <% item.categories.each do |category| %>
            <%= link_to category.name, items_path(category: category.id) %><br>
        <% end %>
        <% end %>
        <div class="item-table-divider"></div>
    <% end %>
</div>
