<div id="holds-list">
    <div data-controller="hold-order" data-hold-order-url="<%= admin_item_hold_position_path(@item, ":id") %>">
        <table class="table item-holds-table">
            <thead>
                <th></th>
                <th>#</th>
                <th>Member</th>
                <th>Reserved</th>
                <th>Wait time</th>
                <th>Expires on</th>
                <th class="text-center">Notified?</th>
            </thead>
            <tbody data-hold-order-target="tbody">
                <% @holds.ordered_by_position.each_with_index do |hold, index| %>
                    <tr data-initial-index="<%= index %>" data-position="<%= hold.position %>" data-hold-id="<%= hold.id %>" class="<%= "notified" if hold.started? %>">
                        <td class="drag-handle text-center" title="drag to reorder holds"><%= feather_icon("code") unless hold.started? %></td>
                        <td><%= index + 1 %></td>
                        <td><%= link_to preferred_or_default_name(hold.member), admin_member_holds_path(hold.member) %></td>
                        <td><%= date_with_time_title hold.created_at %></td>
                        <td><%= wait_time(hold) %></td>
                        <td><%= date_with_time_title(hold.expires_at) if hold.expires_at %></td>
                        <td class="text-center"><%= hold.started? ? "✔️" : "" %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
