<%= index_header "Member Requests" %>

<div class="sort-controls">
  sort by: 
  <div class="btn-group">
    <%= link_to_unless params[:sort] == "added" || params[:sort].blank?, "added", {filter: params[:filter]}, class: "btn btn-sm" do %>
      <button class="btn btn-sm active">added</button>
    <% end %>
    <%= link_to_unless params[:sort] == "full_name", "full name", {sort: "full_name", filter: params[:filter]}, class: "btn btn-sm" do %>
      <button class="btn btn-sm active">full name</button>
    <% end %>
  </div> 
</div> 

<% if @members.any? %>
  <div class="responsive-table two-columns">
    <%= tag.div "Member", class: "responsive-table-header" %>
    <%= tag.div "Requests", class: "responsive-table-header" %>

    <% @members.each do |member| %>
      <%= tag.div class: "responsive-table-cell" do %>
        <%= link_to member.full_name, [:admin, member] %>
      <% end %>
      <%= tag.div member.desires, class: "responsive-table-cell" %>
    <% end %>
  </div>
<% else %>
  <%= empty_state "There are no members.", subtitle:"Create one?", icon: "people" %>
<% end %>