<div class="stats">

  <p><strong>Status:</strong> <%= item_status_label(item) %></p>

  <p><strong>Number:</strong> <%= item.complete_number %></p>

  <% unless item.size.blank? %>
    <p><strong>Size:</strong> <%= item.size %></p>
  <% end %>

  <% unless item.strength.blank? %>
    <p><strong>Strength:</strong> <%= item.strength %></p>
  <% end %>

  <% unless item.power_source.blank? %>
    <p><strong>Powered by:</strong> <%= item_powered_by_label(item) %></p>
  <% end %>

  <% unless item.brand.blank? %>
    <p><strong>Brand:</strong> <%= item.brand %></p>
  <% end %>

  <% unless item.model.blank? %>
    <p><strong>Model:</strong> <%= item.model %></p>
  <% end %>

  <% unless item.serial.blank? %>
    <p><strong>Serial:</strong> <%= item.serial %></p>
  <% end %>

  <p>
    <strong>Categories:</strong>
    <%== item_categories(item) %>
  </p>
</div>

<% if item.attachments.any? %>
  <h5>Files</h5>
  <ul>
    <% item.attachments.each do |attachment| %>
      <li>
        <%= link_to attachment.kind.titleize, url_for(attachment.file) %>
        <% unless attachment.notes.blank? %>- <% end %><%= attachment.notes %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= item.description %>
