<%= index_header "Items" do %>
  <%= link_to 'New Item', new_item_path, class: "btn" %>
<% end %>

<div class="responsive-table three-columns">
  <%= tag.div "# Name (Size)", class: "responsive-table-header" %>
  <%= tag.div "Brand, Model", class: "responsive-table-header" %>
  <%= tag.div "Categories", class: "responsive-table-header" %>

  <% @items.each do |item| %>
    <%= tag.div class: "responsive-table-cell" do %>
      <strong><%= item.number %></strong>
      <%= link_to item.name, item_path(item) %>
      <% if item.size.present? %>
        <span class="label"><%= item.size %></span>
      <% end %>
      <%= tag.div class: "float-right" do %>
        <%= link_to edit_item_path(item) do %>
          <i class="icon icon-edit"></i>
        <% end %>
      <% end %>
    <% end %>

    <%= tag.div [item.brand, item.model].select(&:present?).join(", "), class: "responsive-table-cell" %>
    <%= tag.div class: "responsive-table-cell" do %>
      <% item.categories.each do |category| %>
        <%= category.name %><br>
      <% end %>
    <% end %>

  <% end %>
</div>