<%= index_header "Items" do %>
  <%= link_to 'New Item', new_item_path, class: "btn" %>
<% end %>

<div class="responsive-table four-columns">
  <%= tag.div "# Name (Size)", class: "responsive-table-header" %>
  <%= tag.div "Brand, Model", class: "responsive-table-header" %>
  <%= tag.div "Categories", class: "responsive-table-header" %>
  <%= tag.div "", class: "responsive-table-header" %>

  <% @items.each do |item| %>
    <%= tag.div class: "responsive-table-cell" do %>
      <strong><%= item.number %></strong>
      <%= item.name %>
      <% if item.size.present? %>
        <span class="label"><%= item.size %></span>
      <% end %>
    <% end %>

    <%= tag.div [item.brand, item.model].select(&:present?).join(", "), class: "responsive-table-cell" %>
    <%= tag.div class: "responsive-table-cell" do %>
      <% item.categories.each do |category| %>
        <%= category.name %><br>
      <% end %>
    <% end %>

    <%= tag.div class: "responsive-table-cell" do %>
      <%= link_to 'Show', item %>
      <%= link_to 'Edit', edit_item_path(item) %>
      <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>