<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Categories</th>
      <th>Size</th>
      <th>Brand</th>
      <th>Model</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.number %></td>
        <td><%= item.name %></td>
        <td>
        <ul>
          <% item.categories.each do |category| %>
            <li><%= category.name %></li>
          <% end %>
        </ul>
        </td>
        <td><%= item.size %></td>
        <td><%= item.brand %></td>
        <td><%= item.model %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
