<div class="columns">
  <div class="column col-12">

    <h1 class="new_title">
      <%= link_to "Items", items_path %>
    </h1>

    <div class="items-summary">
      Viewing
      <% if @tag %>
        <strong><%= pluralize @pagy.count, "item" %></strong> tagged with
        <span class="chip">
          <%= @tag.name %>
          <%= link_to "", items_path, :class => "btn btn-clear", "aria-label" => "Clear filter", :role => "button", title: "Clear filter" %>
        </span>,
      <% else %>
        all <strong><%= pluralize @pagy.count, "item" %></strong>,
      <% end %>

      sorted by: 

      <div class="btn-group">
        <%= link_to_unless params[:sort] == "name" || params[:sort].blank?, "name", {tag: params[:tag]}, class: "btn btn-sm" do %>
          <button class="btn btn-sm active">name</button>
        <% end %>
        <%= link_to_unless_current "number", {sort: "number", tag: params[:tag]}, class: "btn btn-sm" do %>
          <button class="btn btn-sm active">number</button>
        <% end %>
        <%= link_to_unless_current "added", {sort: "added", tag: params[:tag]}, class: "btn btn-sm" do %>
          <button class="btn btn-sm active">added</button>
        <% end %>
      </div>

    </div> 

  </div>
</div>

<div class="columns">
  <div class="column col-9-sm col-12-xs">
    <% if @items.any? %>
      <div class="items-table">
        <% @items.each do |item| %>
          <%= tag.div class: "items-table-image" do %>
            <% if item.image.attached? %>
              <%= link_to item_path(item) do %>
                <%= image_tag url_for(rotated_variant(item.image, resize_to_limit: [200, 140])), class: "p-centered" %>
              <% end %>
            <% else %>
              <div class="image-placeholder"></div>
            <% end %>
          <% end %>

          <%= tag.div class: "items-table-name" do %>
            <strong><%= full_item_number(item) %></strong>
            <%= item_status_label(item) %>
            <br>
            <%= link_to item.name, item_path(item) %>
            <% if item.size.present? %>
              <span class="label"><%= item.size %></span>
            <% end %>
            <% if item.strength.present? %>
              <span class="label"><%= item.strength %></span>
            <% end %>
            <br>

            <%= tag.div [item.brand, item.model].select(&:present?).join(", ") %>
          <% end %>

          <%= tag.div class: "items-table-categories" do %>
            <% item.categories.each do |category| %>
              <%= link_to category.name, {category: category.id} %>
            <% end %>
          <% end %>
          <div class="item-table-divider"></div>
        <% end %>

      </div>

      <%== pagy_bootstrap_nav(@pagy) %>

    <% else %>
      <%= empty_state "There are no matching items" %>
    <% end %>
  </div>

  <div class="column col-3 hide-xs">
    <strong>View items tagged with:</strong><br/>
    <%= category_nav(@categories, @category) %>
  </div>

</div>
