<div class="columns items-index">

  <div class="column col-sm-12 col-3 category-nav" data-controller="collapse">
    <button class="btn toggle-categories" data-collapse-target="button" data-action="collapse#toggle" class="btn">Show
      Categories
    </button>
    <div class="categories" data-collapse-target="content">
      <h5>Categories</h5>
      <%= category_tree_nav(@categories, @category) %>
    </div>
  </div>

  <div class="column col-sm-12 col-9">
    <h1 class="title">
      <%= @category ? @category.name : "All Items" %>
    </h1>

    <div class="items-summary">
      <div>
        <% if @filter_params[:query] || @filter_params[:category] %>
          <div class="mb-1">
            <% if @filter_params[:query] %>
              Searched for
              <span class="chip">
              <%= @filter_params[:query] %>
                <%= link_to "", items_path(params: @filter_params.except(:query)), class: "btn btn-clear",
                      "aria-label": "Clear filter", role: "button", title: "Clear query filter" %>
            </span>
            <% end %>

            <% if @filter_params[:category] %>
              <% if @filter_params[:query] %>
                in category
              <% else %>
                Searched in category
              <% end %>

              <span class="chip">
                <%= @category.name %>
                <%= link_to "", items_path(params: @filter_params.except(:category)), class: "btn btn-clear",
                      "aria-label": "Clear filter", role: "button", title: "Clear query filter" %>
              </span>
            <% end %>
          </div>
        <% end %>

        <%= render partial: "available_now_filter", locals: {url: items_path, params: @filter_params} %>

        Found <strong><%= pluralize @pagy.count, "item" %></strong>.
      </div>

      <div class="search-sort-buttons">
        <span>Sort by</span>
        <div class="btn-group">
          <%= link_to_unless_current "Name", add_filter_param(:sort, "name"), class: "btn btn-sm" do %>
            <button class="btn btn-sm active">Name</button>
          <% end %>
          <%= link_to_unless_current "Number", add_filter_param(:sort, "number"), class: "btn btn-sm" do %>
            <button class="btn btn-sm active">Number</button>
          <% end %>
          <%= link_to_unless params[:sort] == "added" || (params[:sort].blank? && params[:query].blank?), "Date Added", add_filter_param(:sort, "added"), class: "btn btn-sm" do %>
            <button class="btn btn-sm active">Date Added</button>
          <% end %>
          <% if params[:query].present? %>
            <%= link_to_unless params[:sort] == "relevance" || params[:sort].blank?, "Relevance", add_filter_param(:sort, "relevance"), class: "btn btn-sm" do %>
              <button class="btn btn-sm active">Relevance</button>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <% if @items.any? %>
      <section>
        <ul class="items-list">
          <% @items.each.with_index do |item, index| %>
            <li class="item-container" tabindex="0" aria-labelledby="item-name-<%= item.id %>">
              <%= tag.div class: "item-image" do %>
                <% if item.image.attached? %>
                  <%= link_to item_path(item, search_result_index: index) do %>
                    <%= image_tag item_image_url(item.image, resize_to_limit: [200, 140]), alt: item.name %>
                  <% end %>
                <% else %>
                  <div class="item-image-placeholder"></div>
                <% end %>
              <% end %>

              <div class="item-content">
                <%= tag.div class: "item-info" do %>
                  <strong><%= link_to item.name, item_path(item, search_result_index: index), class: "item-name", id: "item-name-#{item.id}" %></strong>
                  <%= item_status_label(item) %>
                  <% if item.active_holds.any? %>
                    <span class="text-small"><%= pluralize item.active_holds.size, "hold" %></span>
                  <% end %>
                  <br>
                  <strong><%= full_item_number(item) %></strong>
                  <% if item.size.present? %>
                    <span class="label"><%= item.size %></span>
                  <% end %>
                  <% if item.strength.present? %>
                    <span class="label"><%= item.strength %></span>
                  <% end %>
                  <br>

                  <%= tag.div [item.brand, item.model].select(&:present?).join(", ") %>
                <% end %>

                <%= tag.div class: "item-categories" do %>
                  <% item.categories.each do |category| %>
                    <%= link_to category.name, {category: category.id} %>
                  <% end %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </section>

      <%== pagy_bootstrap_nav(@pagy) %>

    <% else %>
      <%= empty_state "There are no matching items" do %>
        <% if @filter_params[:query] && @category %>
          You can
          <%= link_to items_path(@filter_params.slice(:query, :sort)) do %>
            search for <i><%= @filter_params[:query] %></i> in all categories
          <% end %>
          or
          <%= link_to items_path(@filter_params.slice(:category, :sort)) do %>
            view all items in <%= @category.name %>
          <% end %>.
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>
