<div class="items-show">

  <h1><%= @item.name %></h1>
  <h2>
    <strong><%= @item.complete_number %></strong>
    <%= item_status_label(@item) %>
    <% if @item.active_holds.any? %>
      <span class="text-small"><%= pluralize @item.active_holds.count, "hold" %></span>
    <% end %>
  </h2>

  <div class="columns">

    <div class="column col-4 col-sm-12">
      <%= render partial: "item_panel", locals: {item: @item} %>
      <% if user_signed_in? && current_member.staff? %>
        <%= link_to "View as Librarian", admin_item_path(@item), class: "btn" %>
      <% end %>
    </div>

    <div class="column col-sm-12 col-8">

      <% if @item.image.attached? %>
        <%= image_tag item_image_url(@item.image, resize_to_limit: [600, 600]), class: "mb-5" %>
      <% end %>

      <% if @item.description.present? %>
        <div class="mb-5">
          <%= @item.description %>
        </div>
      <% end %>

      <% if @item.borrow_policy.rules.present? %>
        <blockquote>
          <%= @item.borrow_policy.rules %>
        </blockquote>
      <% end %>

      <% if @item.attachments.any? %>
        <h5>Files</h5>
        <ul>
          <% @item.attachments.each do |attachment| %>
            <li>
              <%= link_to attachment.kind.titleize, url_for(attachment.file) %>
              <% unless attachment.notes.blank? %>- <% end %><%= attachment.notes %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if true %>
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">The library is moving!</h5>
            </div>
            <div class="card-body">
              Placing new holds has been disabled in preparation for the tool library's upcoming relocation.
              The tool library will be closed after November 3rd until early 2023. Thanks for your understanding.
            </div>
            <div class="card-footer">
              <a href="https://www.chicagotoollibrary.org/ctl-relocation">Learn more about the move on our website.</a>
            </div>
          </div>
      <% else %>
        <% if @item.holdable? %>

          <% if user_signed_in? %>
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">You can place this item on hold</h5>
              </div>
              <div class="card-body">
                Placing a hold means you would like to be on the waiting list to use this tool.
                If you are first on the waiting list you have 1 week to schedule a pick-up for the tool.
                If the tool is currently being borrowed or if you are not first on the waiting list you will receive an email when you are first on the waiting list.
              </div>
              <div class="card-footer">
                <% if @item.allow_multiple_holds_per_member? %>
                  <%= render partial: "items/place_hold_on/item_that_allows_multiple_holds", locals: {item: @item, current_hold_count: @current_hold_count} %>
                <% elsif @current_hold %>
                  <%= render partial: "items/place_hold_on/item_already_with_a_hold", locals: {hold: @current_hold} %>
                <% else %>
                  <%= render partial: "items/place_hold_on/item", locals: {item: @item} %>
                <% end %>
              </div>
            </div>
          <% else %>
            <%= render partial: "items/place_hold_on/not_logged_in" %>
          <% end %>

        <% end %>
      <% end %>

    </div>
  </div>
</div>
