<% content_for :head do %>
  <meta property="og:title" content="<%= page_attr(:title) %>">
  <meta property="og:url" content="<%= request.original_url %>">

  <% if @item.description.present? %>
    <meta name="description" content="<%= @item.description.to_plain_text %>">
    <meta property="og:description" content="<%= @item.description.to_plain_text %>">
  <% end %>

  <% if @item.image.attached? %>
    <meta property="og:image" content="<%= item_image_url(@item.image, resize_to_limit: [600, 600]) %>">
  <% end %>
<% end %>

<div class="items-show">

  <h1><%= @item.name %></h1>
  <h2>
    <strong><%= @item.complete_number %></strong>
    <%= item_status_label(@item) %>
    <% if @item.active_holds.any? %>
      <span class="text-small"><%= pluralize @item.active_holds.count, "hold" %></span>
    <% end %>

    <%= render "wish_list_item_show", item: @item %>
  </h2>

  <div class="columns">

    <div class="column col-4 col-sm-12">
      <%= render partial: "item_panel", locals: {item: @item} %>
      <% if user_signed_in? && current_member.staff? %>
        <%= link_to "View as Librarian", admin_item_path(@item), class: "btn" %>
      <% end %>
    </div>

    <div class="column col-sm-12 col-8">

      <% if @item.image.attached? %>
        <%= image_tag item_image_url(@item.image, resize_to_limit: [600, 600]), class: "mb-5", alt: @item.name %>
      <% end %>

      <% if @item.description.present? %>
        <div class="mb-5">
          <%= @item.description %>
        </div>
      <% end %>

      <% if @item.borrow_policy.rules.present? %>
        <blockquote>
          <%= @item.borrow_policy.rules %>
        </blockquote>
      <% end %>

      <% if @item.attachments.any? %>
        <h5>Files</h5>
        <ul>
          <% @item.attachments.each do |attachment| %>
            <li>
              <%= link_to attachment.kind.titleize, url_for(attachment.file) %>
              <% unless attachment.notes.blank? %>- <% end %><%= attachment.notes %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if @item.holdable? %>

        <% if user_signed_in? %>
          <% current_user_has_checked_out = @item.checked_out_exclusive_loan && @item.checked_out_exclusive_loan.member == current_user.member %>
          <% borrow_policy_approval = current_user.member.borrow_policy_approvals.find_by(borrow_policy: @item.borrow_policy) %>
          <% borrow_policy_authorizer_result = BorrowPolicyAuthorizer.check(borrow_policy_approval:, member: current_user.member, borrow_policy: @item.borrow_policy) %>
          <div class="card">
            <div class="card-header">
              <h2 class="card-title h5">
                <% if current_user_has_checked_out %>
                  You have this item checked out
                <% elsif @current_hold %>
                  You have this item on hold
                <% elsif @item.borrow_policy.requires_approval? && !borrow_policy_approval&.approved? %>
                  <% if borrow_policy_approval&.requested? %>
                    You have requested access to borrow C-Tools.
                  <% elsif borrow_policy_approval&.rejected? || borrow_policy_approval&.revoked? %>
                    This is a C-Tool and requires staff approval to borrow. New members and unreliable borrowers do not have access to C-Tools.
                  <% else %>
                    This is a C-Tool and requires staff approval. New members and unreliable borrowers do not have access to this tool.
                  <% end %>
                <% else %>
                  You can place this item on hold
                <% end %>
              </h2>
            </div>
            <div class="card-body">
               <% if @item.borrow_policy.requires_approval? && !borrow_policy_approval&.approved? %>
                <% if borrow_policy_approval&.requested? %>
                  <p>Once access is granted you will be able to place a hold and borrow this item.</p>
                <% elsif !borrow_policy_authorizer_result.can_request? && (borrow_policy_approval&.rejected? || borrow_policy_approval&.revoked?) %>
                  <p>You can request access at a later date.</p>
                <% else %>
                  <p>You can request access to borrow C-Tools and our staff will approve or deny your request.</p>
                <% end %>
              <% elsif @item.available? %>
                <% if @item.active_holds.empty? %>
                  <p>
                    If you place this item on hold you will be <b>first</b> on the waiting list.
                    You will have one week to schedule an appointment and come to the library to pick it up.
                  </p>
                <% elsif @current_hold %>
                  <% if @current_hold.upcoming_appointment %>
                    <p>You are scheduled to pick this item up on <%= appointment_date_and_time @current_hold.upcoming_appointment %>.</p>
                  <% else %>
                    <p>Current status: <em><%= render_hold_status(@current_hold) %></em></p>
                  <% end %>
                <% else %>
                  <p>
                    If you place this item on hold you will be <b>number <%= @item.active_holds.count + 1 %></b> on the waiting list.
                    When it is your turn to borrow this item, we will send you an email and you will have one week to come to the library to pick it up.
                  </p>
                <% end %>
              <% elsif current_user_has_checked_out %>
                <% loan = @item.checked_out_exclusive_loan %>
                <% if loan.upcoming_appointment %>
                  <p>You have scheduled an appointment to return this item on <%= appointment_date_and_time loan.upcoming_appointment %>.</p>
                <% elsif loan.status == "overdue" %>
                  <p>This item is overdue. Please schedule an appointment to return it.</p>
                <% else %>
                  <p>
                    This item is due back on <%= loan.due_at.strftime("%A, %B %d, %Y") %>.
                    Please schedule an appointment by that date to return it.
                <% end %>
              <% elsif @current_hold %>  <%# item is checked out, and current user already has a hold on it %>
                <p>We will send you an email when it is your turn to borrow this item.</p>
                <p>Current status: <em><%= render_hold_status(@current_hold) %></em></p>
              <% else %>
                <p>
                  This item is currently checked out.
                  If you place this item on hold you will be <b>number <%= @item.active_holds.count + 1 %></b> on the waiting list.
                  When it is your turn to borrow this item, we will send you an email and you will have one week to come to the library to pick it up.
                </p>
              <% end %>
            </div>
            <div class="card-footer">
              <% if @item.allow_multiple_holds_per_member? %>
                <%= render partial: "items/place_hold_on/item_that_allows_multiple_holds", locals: {item: @item, current_hold_count: @current_hold_count} %>
              <% elsif current_user_has_checked_out %>
                <%= render partial: "items/place_hold_on/item_user_checked_out", locals: {loan: @item.checked_out_exclusive_loan} %>
              <% elsif @current_hold %>
                <%= render partial: "items/place_hold_on/item_already_with_a_hold", locals: {hold: @current_hold} %>
              <% elsif @item.borrow_policy.requires_approval? && borrow_policy_authorizer_result.can_request? %>
                <%= render partial: "borrow_policy_approvals/request_borrow_policy_approval", locals: {item: @item} %>
              <% elsif @item.borrow_policy.requires_approval? && !borrow_policy_approval&.approved? %>
                <!-- render nothing -->
              <% else %>
                <%= render partial: "items/place_hold_on/item", locals: {item: @item} %>
              <% end %>
            </div>
          </div>
        <% else %>
          <%= render partial: "items/place_hold_on/not_logged_in" %>
        <% end %>

      <% else %>
        <p>This item can't be placed on hold.</p>
      <% end %>

    </div>
  </div>
</div>
