<% content_for :header do %>
  <%= index_header "Categories" do %>
    <%= link_to "New Category", new_admin_category_path, class: "btn" %>
  <% end %>
<% end %>

<div class="categories-table">
  <%= tag.div "Name", class: "categories-table-header categories-table-name" %>
  <%= tag.div "Items", class: "categories-table-header categories-table-count" %>

  <% @categories.each do |category| %>
    <%= tag.div class: "categories-table-row" do %>
      <%= tag.div class: "categories-table-name nested-#{category.path_ids.size - 1}", id: dom_id(category) do %>
        <% if category.parent_id.present? %>&rdsh;<% end %>
        <%= category.name %>
      <% end %>

      <%= tag.div class: "categories-table-count" do %>
        <%= category.visible_items_count %>
      <% end %>

      <%= tag.div class: "categories-table-actions" do %>
        <%= link_to edit_admin_category_path(category), class: "btn btn-sm" do %>
          Edit
        <% end %>
        <%= button_to admin_category_path(category), method: :delete, data: {turbo_confirm: "Are you sure?"}, class: "btn btn-sm" do %>
          Destroy
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
