<%= content_for :header do %>
  <%= index_header "Documents" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Summary</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.name %></td>
        <td><%= document.code %></td>
        <td><%= document.summary %></td>
        <td>
          <%= link_to 'Show', [:admin, document] %>
          <%= link_to 'Edit', edit_admin_document_path(document) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>