<p>
  <strong>Code:</strong>
  <%= @document.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @document.summary %>
</p>

<p>
  <strong>Body:</strong>
  <%= @document.body %>
</p>

<%= link_to 'Edit', edit_admin_document_path(@document) %> |
