<%= content_for :header do %>
  <%= index_header @document.name do %>
    <%= link_to 'Edit', edit_admin_document_path(@document), class: "btn" %>
  <% end %>
<% end %>

<div class="summary-box">
  <p>
    <%= @document.summary %>
  </p>
</div>

<div class="divider"></div>

<div class="rich-text">
  <blockquote>
    <%= @document.body %>
  </blockquote>
</div>