<%= form_with(model: @member.holds.new, url: admin_member_holds_path(@member), builder: SpectreFormBuilder) do |form| %>
  <% if flash.key? :checkout_error %>
    <div class="toast toast-error"><%= flash[:checkout_error] %></div>
  <% end %>

  <%= form.hidden_field :member_id %>
  <%= form.hidden_field :item_id, value: @item.id %>

  <%= button_tag class: "btn" do %> 
    <%= feather_icon "clipboard" %>Hold
  <% end %>

  <%= (@item.holds.count + 1).ordinalize %> in line
<% end %>