<% content_for :header do %>
  <%= breadcrumbs "Organizations", admin_organizations_path, @organization_member.organization.name, admin_organization_path(@organization_member.organization), @organization_member.full_name, admin_organization_member_path(@organization_member) %>
  <%= index_header "Edit Organization Member" %>
<% end %>

<%= form_with(model: [:admin, @organization_member], builder: SpectreFormBuilder) do |form| %>
  <%= form.errors %>

  <%= form.text_field :full_name %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
