<% content_for :header do %>
  <%= breadcrumbs "Organizations", admin_organizations_path, @organization.name, admin_organization_path(@organization) %>
  <%= index_header "New Organization Member" %>
<% end %>

<%= form_with(model: [:admin, @organization, @organization_member], builder: SpectreFormBuilder) do |form| %>
  <%= form.errors %>

  <%= form.text_field :full_name %>

  <%= form.fields_for :users_attributes, @user do |user_form| %>
    <%= user_form.text_field :email, type: "email" %>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
