<div class="note-form">
  <%- note ||= parent.notes.new %>
  <%= form_with(model: note, url: [:admin, parent, note], builder: SpectreFormBuilder) do |form| %>
    <%= form.errors %>

    <%= form.rich_text_area :body, label: (note.new_record? ? "Add a note" : "Edit note") %>

    <%= form.actions do %>
      <%= form.submit class: "btn btn-primary" %>
      <% if note.new_record? %>
        or 
        <%= link_to "Cancel", nil, data: { action: "click->toggle#toggle"} %>
      <% else %>
        <% if parent.is_a?(Item) %>
                or
        <%= link_to "Cancel", [:admin, parent, note], method: :get, remote: true %>
        <% end %>
      <% end %>
      
      <br><br>
      <% unless note.new_record? %>
        <%= tag.div class: "notes-actions" do %>
          <%= link_to 'Delete Note', [:admin, parent, note], method: :delete, remote: true, class: "btn btn-link" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>