<%= turbo_stream_from "admin_item_notes_list" %>

<div class="admin_item_notes_list">
  <% parent.notes.by_creation_date.each do |note| %>
    <%= render partial: "admin/notes/show", locals: {note: note, parent: parent } %>
  <% end %>
</div>

<%= turbo_frame_tag "admin_notes_form" do %>
  <%= link_to new_admin_item_note_path(parent.id), class: "btn" do %>
    <%= feather_icon "message-square" %>
    Add a Note
  <% end %>
<% end %>