<h1>Loans</h1>

<table class="table table-scroll">
  <thead>
    <tr>
      <th>#</th>
      <th>Item</th>
      <th>Member</th>
      <th>Checked out</th>
      <th>Due / Returned</th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= full_item_number(loan.item) %></td>
        <td><%= link_to loan.item.name, [:admin, loan.item] %></td>
        <td><%= link_to preferred_or_default_name(loan.member), [:admin, loan.member] %></td>
        <td><%= loan.created_at %></td>
        <td>
          <% if loan.ended? %>
            returned <%= loan.ended_at %>
          <% else %>
            due <%= loan.due_at %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
