<% content_for :header do %>
  <%= index_header "Appointments" %>
<% end %>

<h1>Schedule an Appointment</h1>

<h3>Select Items to Pick-Up</h3>


<%= form_for :appointment, url: appointments_path do |form| %>
  <table class="table table-scroll" id="items-to-pickup-table">
    <thead>
      <tr>
        <th></th>
        <th>Image</th>
        <th>Item</th>
        <th>Inventory Number</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% @holds.each do |hold| %>
        <tr>
          <td><%= check_box_tag("appointment[hold_ids][]", hold.id) if hold.ready_for_pickup? %></td>
          <td>
            <%= link_to item_path(hold.item) do %>
              <% if hold.item.image.attached? %>
                <%= image_tag url_for(rotated_variant(hold.item.image, resize_to_limit: [200, 140])), class: "p-centered" %>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to hold.item.name, item_path(hold.item) %></td>
          <td><%= hold.item.number %></td>
          <td><%= render_place_in_queue(hold) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="form-group">
    <label class="form-label">Select a time to pick-up/return your items</label>
    <%= select("appointment", "time_range_string", grouped_options_for_select(OpenDays.next_slots_for_select(weeks: 2)), { include_blank: '-- Select a Date --' }, class: "form-select") %>
  </div>

  <div class="form-group mb-2">
    <label class="form-label">Tell us about the project you are working on</label>
    <%= form.text_area :comment, class: "form-input" %>
  </div>

  <div>
    <%= form.submit "Create Appointment", class: "btn btn-primary" %>
  </div>

<% end %>
