<%= form_with(model: ticket, url: [:admin, @item, ticket], builder: SpectreFormBuilder) do |form| %>
  <% form.errors %>

  <%= form.text_field :title %>
  <%= form.rich_text_area :body %>

  <div data-controller="conditional-field" data-conditional-field-trigger-value="<%= Ticket.statuses["retired"] %>">
    <%= form.select :status, options_for_select(ticket_status_options, ticket.status), {label: "Ticket Status"}, data: {action: "conditional-field#change", "conditional-field-target": "parent"} %>
    <%= tag.div data: {"conditional-field-target": "child"}, class: "conditional-field-child" do %>
      <%= form.select :retired_reason, options_for_select(item_retired_reason_options), label: "Reason" %>
    <% end %>
  </div>

  <%= form.tag_list_select :tag_list, ActsAsTaggableOn::Tag.most_used %>

  <%= form.actions do %>
    <%= form.submit %>
  <% end %>
<% end %>
