<%= render "admin/items/profile" do %>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Last Updated</th>
      </tr>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= link_to ticket.title, admin_item_ticket_path(@item, ticket) %></td>
          <td><span class="chip"><%= ticket_status_name ticket.status %></span></td>
          <td><%= display_date ticket.updated_at, :short_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p class="mt-2"><%= link_to 'Create New Ticket', new_admin_item_ticket_path(@item), class:"btn" %></p>
<% end %>
