<%= tag.div data: {controller: "image-editor", image_editor_rotation: @image.metadata.fetch("rotation", 0) } do %>
  <%= form_with(model: @image, scope: "image", url: admin_item_image_path(@item), builder: SpectreFormBuilder) do |f| %>
    <div class="image-editor">
      <div class="image-editor-row">
        <a href="#" class="rotation-control left" data-action="image-editor#left">⟲</a>
        <%= image_tag url_for(@image.variant(resize_to_limit: [400, 280])), data: {target: "image-editor.image"} %>
        <a href="#" class="rotation-control right" data-action="image-editor#right">⟳</a>
      </div>
    </div>
    <%= f.submit "Save" %>
    <%= f.hidden_field :rotation, value: @image.metadata["rotation"], data: {target: "image-editor.field"} %>
  <% end %>
<% end %>