<div class="account-home-index">
  <div class="columns">
    <% if @library_updates.any? %>
      <div class="column col-6 col-md-12">
        <%= section_header "Library News", level: "h2" %>
        <% @library_updates.each do |library_update| %>
            <%= library_update.body %>
        <% end %>
      </div>
    <% end %>
    <div class="column col-6 col-md-12">
        <div class="rule-list">
        <h2 class="h4">Account Summary</h2>
        <ul>
            <% if @loans.any? %>
                <li>You have <%= link_to account_loans_path do %><span class="text-bold"><%= pluralize @loans.count, "item" %></span> checked out<% end %>.</li>
                <li> The next day items are due is <span class="text-bold"><%= next_due_date(@loans) %></span>.</li>
            <% else %>
                <li>You are not borrowing any items.</li>
            <% end %>
            <% if @ready_holds_count > 0 %>
                <li>You have <%= link_to account_holds_path do %><span class="text-bold"><%= pluralize @ready_holds_count, "item" %></span> ready to be picked up<% end %>.</li>
            <% end %>
            <% if @waiting_holds_count > 0 %>
                <li>You have <%= link_to account_holds_path do %><span class="text-bold"><%= pluralize @waiting_holds_count, "item" %></span> on hold but not ready for pickup<% end %>.</li>
            <% end %>
            <% if @ready_holds_count == 0 && @waiting_holds_count == 0 %>
                <li>You have no items on hold.</li>
            <% end %>
        </ul>
    </div>
  </div>
</div>
