<div class="account-home-index">
  <div class="columns">

    <div class="column col-8 col-md-12">
      <%= section_header "Loans" do %>
        <% if @current_library.allow_appointments? %>
          <%= link_to "Schedule a Return", new_account_appointment_path, class: "btn btn-primary" %>
        <% end %>
        <%= link_to "View Loan History", account_loans_path, class: "ml-2" %>
      <% end %>

      <% if @loans.any? %>

        <p class="loan-summary">You have <span class="text-bold"><%= pluralize @loans.count, "item" %></span> checked out.<br> The next day items are due is <span class="text-bold"><%= next_due_date(@loans) %></span>.</p>

        <ul class="loan-list">
          <% @loans.each do |loan| %>
            <li class="clearfix">
              <div class="image">
                <%= link_to item_path(loan.item) do %>
                  <% if loan.item.image.attached? %>
                    <%= image_tag item_image_url(loan.item.image, resize_to_limit: [134, 94]), class: "p-centered" %>
                  <% else %>
                    <div class="placeholder p-centered"></div>
                  <% end %>
                <% end %>
              </div>
              <div class="details">
                <span class="item">
                  <%= link_to loan.item.name, item_path(loan.item) %> (<%= loan.item.complete_number %>)
                </span>
                <span class="status">
                  <span class=<%= loan.due_at - Time.now < 3.days ? "warning text-bold" : "" %>><%= "Due #{humanize_due_date(loan)}" %></span>
                  <% if @current_library.allow_appointments? %>
                    <span class="pickup"><%= loan_pickup_status(loan) %></span>
                  <% end %>
                </span>
              </div>
              <div class="actions">
                <% if loan.renewal_requests.any? %>
                  <% if loan.latest_renewal_request.rejected? %>
                    Renewal denied! There are others waiting to borrow this tool.
                  <% else %>
                    Renewal requested
                  <% end %>
                <% elsif loan.renewal? %>
                  Renewed
                <% elsif loan.member_renewable? %>
                  <span class="message">You can renew this loan without librarian approval if you need it for more time.</span> <%= button_to "Renew Loan", account_renewals_path(loan_id: loan), method: :post, class: "btn" %>
                <% elsif loan.member_renewal_requestable? %>
                  <span class="message">If you need more time, you can request a renewal but we may not be able to grant it due to demand.</span> <%= button_to "Request Loan Renewal", account_renewal_requests_path(loan_id: loan), method: :post, class: "btn" %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <%= empty_state "You have no items on loan" %>
      <% end %>
    </div>

    <div class="column col-4 col-md-12">
      <div class="rule-list">
        <h3>How do loans work?</h3>
        <ul>
          <li>You can borrow items for 7 days.</li>
          <li>You can ask to renew your loans on this page. Your renewal will be either accepted or rejected. If your renewal is rejected you must return your item.</li>
          <li>You cannot borrow new items until overdue items are returned.</li>
          <li>If you frequently return tools late you risk losing your membership.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
