<%= render "admin/items/profile" do %>
  <table class="table">
    <thead>
      <th>#</th>
      <th>Member</th>
      <th>Reserved</th>
      <th>Wait time</th>
      <th>Expires on</th>
    </thead>
    <tbody>
      <% @holds.each_with_index do |hold, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td>
            <%= link_to preferred_or_default_name(hold.member),
                  admin_member_holds_path(hold.member) %>
          </td>
          <td><%= date_with_time_title hold.created_at %></td>
          <td><%= time_ago_in_words(hold.created_at) %></td>
          <td><%= date_with_time_title(hold.expires_at) if hold.expires_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>