<%= render "admin/items/profile" do %>
<div class="btn-group mt-2">
  <%= link_to_unless params[:inactive].blank?, "Active", url_for, method: :get, class: "btn btn-sm" do %>
    <button class="btn btn-sm active">Active</button>
  <% end %>
  <%= link_to_unless_current "Inactive", url_for(inactive: true), method: :get, class: "btn btn-sm" do %>
    <button class="btn btn-sm active">Inactive</button>
  <% end %>
</div>
  <table class="table">
    <thead>
      <th>#</th>
      <th>Member</th>
      <th>Reserved</th>
      <th>Wait time</th>
      <th>Expires on</th>
    </thead>
    <tbody>
      <% @holds.each_with_index do |hold, index| %>
        <tr data-hold-id="<%= hold.id %>">
          <td><%= index + 1 %></td>
          <td>
            <%= link_to preferred_or_default_name(hold.member),
                  admin_member_holds_path(hold.member) %>
          </td>
          <td><%= date_with_time_title hold.created_at %></td>
          <td><%= time_ago_in_words(hold.created_at) %></td>
          <td><%= date_with_time_title(hold.expires_at) if hold.expires_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
