<%= render "admin/reservations/profile" do %>

  <%= render partial: "admin/reservations/status", locals: {reservation: @reservation} %>

  <div class="divider"></div>

  <% if @reservation.manager.state == :building %>
    <%= render partial: "admin/reservations/reservation_loans/form", locals: {reservation: @reservation, reservation_loan: ReservationLoan.new} %>
  <% end %>

  <% if @reservation.manager.state == :borrowed %>
    <%= render partial: "admin/reservations/check_ins/form", locals: {reservation: @reservation, reservation_loan_lookup_form: ReservationLoanLookupForm.new} %>
  <% end %>
  <br>

  <%= render partial: "admin/reservations/pending_reservation_items", locals: {reservation: @reservation} %>

  <table class="table" id="reservation_holds">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>

    <% @reservation.reservation_holds.each do |reservation_hold| %>
      <%= render partial: "reservation_hold", locals: {reservation: @reservation, reservation_hold: reservation_hold} %>
    <% end %>
  </table>
<% end %>

<% Sounds.all_sound_paths.each do |sound_path| %>
  <audio src="<%= sound_path %>" preload="auto"></audio>
<% end %>
