<div class="columns">
  <div class="column col-10 col-mx-auto col-md-10 col-sm-12">
    <h1>Volunteer Shifts</h1>
    <div class="instructions mt-2">
      <p class="main">Click <em>Sign up</em> on a shift you'd like to cover.</p>
      <p class="sub">
        We try to have at least 2 people at each shift.
      </p>
    </div>
    <% if signed_in_via_google? %>
      <p>
        Signed in as <strong><%= @attendee.email %></strong> &ndash;
        <%= link_to "Sign out", volunteer_session_path, method: :delete %>
      </p>
      <p>If you can no longer attend a shift you signed up for, please decline the invitation in your calendar.</p>
    <% end %>
  </div>
</div>
<div class="columns">
  <div class="column col-12 col-md-10 col-sm-12">
    <div class="shift-schedule">

<div class="calendar calendar-lg">
  <div class="calendar-nav navbar">
    <button class="btn btn-action btn-link btn-lg">
      <i class="icon icon-arrow-left"></i>
    </button>
    <div class="navbar-primary"><%= @month_calendar.title %></div>
    <button class="btn btn-action btn-link btn-lg">
      <i class="icon icon-arrow-right"></i>
    </button>
  </div>

  <div class="calendar-container">
    <div class="calendar-header">
      <div class="calendar-date">Sun</div>
      <div class="calendar-date">Mon</div>
      <div class="calendar-date">Tue</div>
      <div class="calendar-date">Wed</div>
      <div class="calendar-date">Thu</div>
      <div class="calendar-date">Fri</div>
      <div class="calendar-date">Sat</div>
    </div>

    <div class="calendar-body">
      <!-- calendar previous month -->
        <% @month_calendar.each_day do |day| %>
          <div class="calendar-date <%= calendar_day_class(day) %>">
            <button class="date-item <%= calendar_date_item_class(day) %>" <%= "disabled" unless day.events? %>><%= day.number %></button>
            <div class="calendar-events">
              <% day.each_shift do |shift| %>
                <% shift.each_event do |event| %>
                  <a class="calendar-event" href="#calendars">
                    <%= event.summary %>
                  </a>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>

      <!-- calendar date: tooltip -->
      <div class="calendar-date tooltip" data-tooltip="You have appointments">
        <button class="date-item">5</button>
      </div>
      <!-- calendar date: not available -->
      <div class="calendar-date tooltip" data-tooltip="Not available">
        <button class="date-item" disabled="">6</button>
      </div>
    </div>
  </div>

      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Role</th>
            <th>Signed up</th>
            <th></th>
          </tr>
        </thead>
        <% each_shift(@events) do |date, event, daily_events_size, shift_events_size, shift_attendees_count| %>
          <tr>
            <% if daily_events_size %>
              <td rowspan="<%= daily_events_size %>">
                <span class="hide-sm"><%= date.strftime("%A, %B %-d, %Y") %></span>
                <span class="show-sm"><%= date.strftime("%a, %b %-d") %></span>
              </td>
            <% end %>
            <% if shift_events_size %>
              <td rowspan="<%= shift_events_size %>"><%= event.times %></td>
            <% end %>
            <td>
              <%= modal title: event.summary, body: event.description do %>
                <%= tag.a event.summary, class: "c-help", data: {action: "click->modal#show"} %>
              <% end %>
            </td>
            <td class="text-center"><%= event.accepted_attendees_count %></td>
            <td>
              <% if signed_in_via_google? && event.attended_by?(@attendee.email) %>
                <%= link_to("Signed up", "", class: "btn btn-success", disabled: true) %>
              <% else %>
                <%= link_to("Sign up", new_volunteer_shift_path(event_id: event.id), class: "btn #{"btn-primary" if shift_attendees_count < 2}") %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <p class="text-center mt-2">
      <% unless signed_in_via_google? %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", method: :post %>
      <% end %>
    </p>
  </div>
</div>
