
<h1>Volunteer Shifts</h1>

<div>
  <% if signed_in_via_google? %>
    Signed in as <strong><%= @attendee.email %></strong>.
    <%= link_to "Sign out", volunteer_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign in with Google", "/auth/google_oauth2" %>
  <% end %>
</div>

<div class="shift-schedule">
  <% @events.group_by { |e| e.start.to_date }.each do |date, daily_events| %>
    <div class="columns">
      <div class="column col-12">
        <h3><%= date.strftime("%A, %B %-d, %Y") %></h3>
      </div>

      <% daily_events.each do |event| %>
        <div class="column col-3">
          <h4><%= event.times %></h4>
          <p>
            <%= pluralize(event.attendees_count, "person") %> signed up
          </p>
        </div>
        <div class="column col-3">
          <% if signed_in_via_google? && event.attended_by?(@attendee.email) %>
            <%= link_to("Signed up", "", class: "btn btn-lg btn-success", disabled: true) %>
          <% else %>
            <%= link_to("Sign up", new_volunteer_shift_path(event_id: event.id), class: "btn btn-lg") %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="divider">
  <% end %>
</div>