<div class="columns">
  <div class="column col-8 col-mx-auto col-md-10 col-sm-12">
    <h1>Volunteer Shifts</h1>
    <div class="instructions mt-2">
      <p class="main">Click <em>Sign up</em> on a shift you'd like to cover.</p>
      <p class="sub">
        We try to have at least 2 people at each shift, but more is OK!
      </p>
    </div>
    <% if signed_in_via_google? %>
      <p>
          Signed in as <strong><%= @attendee.email %></strong> &ndash;
          <%= link_to "Sign out", volunteer_session_path, method: :delete %>
      </p>
      <p>If you can no longer attend a shift you signed up for, please decline the invitation in your calendar.</p>
    <% end %>
  </div>
</div>

<div class="columns">
  <div class="column col-8 col-mx-auto col-md-10 col-sm-12">
    <div class="shift-schedule">
      <table class="table">
        <% @events.group_by { |e| e.start.to_date }.each do |date, daily_events| %>
          <% daily_events.each_with_index do |event, i| %>
            <tr>
              <% if i == 0 %>
                <td rowspan="<%= daily_events.size %>%">
                  <strong>
                    <span class="hide-sm"><%= date.strftime("%A, %B %-d, %Y") %></span>
                    <span class="show-sm"><%= date.strftime("%a, %b %-d") %></span>
                  </strong>
                </td>
              <% end %>
              <td><%= event.times %></td>
              <td><%= pluralize(event.accepted_attendees_count, "person") %> signed up</td>
              <td>
                <% if signed_in_via_google? && event.attended_by?(@attendee.email) %>
                  <%= link_to("Signed up", "", class: "btn btn-success", disabled: true) %>
                <% else %>
                  <%= link_to("Sign up", new_volunteer_shift_path(event_id: event.id), class: "btn #{"btn-primary" if event.accepted_attendees_count < 2}") %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
    <p class="text-center mt-2">
      <% unless signed_in_via_google? %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2" %>
      <% end %>
    </p>
  </div>
</div>