<div class="columns">
  <div class="column col-12">
    <h1>Volunteer Shifts</h1>
    <div class="instructions mt-2">
      <p class="main">Click <em>Sign up</em> on a shift you'd like to cover.</p>
      <p class="sub">
        We try to have at least 2 people at each shift.
      </p>
    </div>
    <% if signed_in_via_google? %>
      <p>
        Signed in as <strong><%= @attendee.email %></strong> &ndash;
        <%= link_to "Sign out", volunteer_session_path, method: :delete %>
      </p>
      <p>If you can no longer attend a shift you signed up for, please cancel the signup on this site or 
      decline the invitation in your calendar.</p>
    <% end %>
  </div>
</div>
<div class="columns">
  <div class="column col-12 col-md-10 col-sm-12">
    <div class="shift-schedule">

<div class="calendar calendar-lg">
  <div class="calendar-nav navbar">
    <button class="btn btn-action btn-link btn-lg">
      <i class="icon icon-arrow-left"></i>
    </button>
    <div class="navbar-primary"><%= @month_calendar.title %></div>
    <button class="btn btn-action btn-link btn-lg">
      <i class="icon icon-arrow-right"></i>
    </button>
  </div>

  <div class="calendar-container">
    <div class="calendar-header">
      <div class="calendar-date">Sun</div>
      <div class="calendar-date">Mon</div>
      <div class="calendar-date">Tue</div>
      <div class="calendar-date">Wed</div>
      <div class="calendar-date">Thu</div>
      <div class="calendar-date">Fri</div>
      <div class="calendar-date">Sat</div>
    </div>

    <div class="calendar-body">
      <% @month_calendar.each_day do |day| %>
        <div class="calendar-date <%= calendar_day_class(day) %>">
          <span class="date-item <%= calendar_date_item_class(day) %>" <%= "disabled" unless day.events? %>><%= day.number %></span>
          <div class="calendar-events">
            <% day.each_shift do |shift| %>
              <% if @attendee && shift.attended_by?(@attendee.email) %>
                <%= link_to volunteer_event_path(event_ids: shift.event_ids), class: "calendar-event bg-primary text-light", title: "You are signed up for this shift." do %>
                  <%= shift.times %><br><%= shift.title %>
                <% end %>
              <% else %>
                <%= link_to volunteer_event_path(event_ids: shift.event_ids), class: "calendar-event" do %>
                  <%= shift.times %><br><%= shift.title %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <% unless signed_in_via_google? %>
      <p class="text-center mt-2">
        <%= link_to "Sign in with Google", "/auth/google_oauth2", method: :post %>
      </p>
    <% end %>
  </div>
</div>
