<div class="columns">
  <div class="column col-8 col-mx-auto col-md-10 col-sm-12">
    <h1>Volunteer Shifts</h1>
    <div class="instructions mt-2">
      <p class="main">Shift Sign Up</p>
      <p class="sub">
        Do you want to sign up to work a shift on 
        <strong><%= @shift.start.strftime("%A, %B %-d, %Y") %></strong> 
        from
        <strong><%= @shift.times %></strong>
        ?
      </p>
      <p>There <%= "is".pluralize(@shift.event_count) %> <strong><%= pluralize @shift.event_count, "role" %></strong> available at the selected time.
    </div>

    <% unless signed_in_via_google? %>
      <p>Clicking below will ask you to log into Gmail so we can confirm your identity and invite you to the calendar event. We will not access your email or other personal information.</p>
    <% end %>

    <p>
      You will receive a calendar invite for this shift containing more information. 
    </p>

    <% @shift.each_event do |event| %>
    <%= event.description %>
      <%= form_with url: volunteer_shifts_path, method: :post do |f| %>
        <%= f.hidden_field :event_id, value: event.id %>
        <%= f.button "Sign up as a #{event.summary}", class:"btn btn-lg btn-primary" %>
      <% end %>
    <% end %>
    <p><%= link_to "Nevermind - take me back to the calendar", volunteer_shifts_path, class: "btn btn-lg" %></p>
  </div>
</div>