<div class="columns" id="page-title" data-turbolinks-permanent>
  <div class="column col-12">
    <div class="signup-logo on-step">
      <%= image_pack_tag "logo.jpg" %> 
      <h1>Volunteer Shifts</h1>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column col-8 col-mx-auto col-md-10 col-sm-12">
    <div class="instructions mt-2">
      <p class="main">Shift Sign Up</p>
      <p class="sub">
        Do you want to sign up to work the librarian shift on 
        <strong><%= @event.start.strftime("%A, %B %-d, %Y") %></strong> 
        from
        <strong><%= @event.start.strftime("%-H:%M%P") %> - <%= @event.finish.strftime("%-I:%M%P") %></strong>
        ?
      </p>
    </div>

    <% unless signed_in_via_google? %>
      <p>Clicking below will ask you to log into Gmail so we can confirm your identity and invite you to the calendar event. We will not access your email or other personal information.</p>
    <% end %>

    <p>
      You will receive a calendar invite for this shift containing more information. 
    </p>

    <%= form_with url: volunteer_shifts_path, method: :post do |f| %>
      <%= f.hidden_field :event_id, value: params[:event_id] %>
      <%= f.button "Yes, I'd like to work this shift", class:"btn btn-lg btn-primary" %>
      <%= link_to "Nope, take me back to the calendar", volunteer_shifts_path, class: "btn btn-lg" %>
    <% end %>
  </div>
</div>