<h1><%= @library.name %>'s Page</h1>

<div>
  <% if @library.image.attached? %>
    <%= link_to edit_super_admin_library_image_path(@library) do %>
      <%= image_tag url_for(rotated_variant(@library.image, resize_to_limit: [600, 600])), class: "p-centered" %>
    <% end %>
  <% end %>
</div>

<%= button_to "Edit Library", edit_super_admin_library_path, method: :get %>
<%= button_to "Destroy Library", super_admin_library_path, method: :delete %>
<%= button_to "List of Libraries", super_admin_libraries_path, method: :get %>
