<% if user_signed_in? %>
  <span class="navbar-brand mr-2 my-2 my-lg-0">
    <div class="dropdown">
      <span class="mr-2 my-2 my-lg-0">
      <div class="dropdown">
        <a href="#" class="btn btn-link dropdown-toggle" tabindex="0" data-turbolinks="false">
          <%= current_member.preferred_name %> <i class="icon icon-caret"></i>
        </a>
        <ul class="menu">
          <li class="menu-item"><%= link_to "Loans", account_home_path %></li>
          <li class="menu-item"><%= link_to "Holds", account_holds_path %></li>
          <% if @current_library.allow_appointments? %>
            <li class="menu-item"><%= link_to "Schedule an Appointment", new_account_appointment_path %></li>
            <li class="menu-item"><%= link_to "My Appointments", account_appointments_path %></li>
          <% end %>
          <li class="menu-item"><%= link_to "View Loan History", account_loans_path %></li>
          <li class="menu-item"><%= link_to "Account Settings", account_member_path %></li>
          <li class="menu-item"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        </ul>
      </div>
      </span>
    </div>
  </span>
<% else %>
  <span class="navbar-brand mr-2 my-2 my-lg-0"> <i class="icon icon-people"></i> <%= link_to "Member Login", user_session_path %> </span>
<% end %>
