<!DOCTYPE html>
<html>
  <head>
    <title>Circulate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <% unless request.get? && !form_request? # prevent turbolinks for caching form redisplays, which will often contain validation messages %>
      <meta name="turbolinks-cache-control" content="no-preview">
    <% end %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="admin">
    <div class="off-canvas" data-controller="sidebar">
      <a class="off-canvas-toggle btn btn-action show-md" href="#sidebar-id" data-action="sidebar#open">
        <i class="icon icon-menu"></i>
      </a>

      <div id="sidebar-id" class="off-canvas-sidebar" data-target="sidebar.menu">
        <ul class="nav">
          <li class="nav-item">
            <span class="nav-category">Lending</span>
            <ul class="nav">
              <li class="nav-item"><%= link_to "Items", admin_items_path %></li>
              <li class="nav-item"><%= link_to "Members", admin_members_path %></li>
              <li class="nav-item"><%= link_to "Loans", admin_loan_summaries_path %></li>
              <li class="nav-item"><%= link_to "Renewals", admin_renewal_requests_path %></li>
              <li class="nav-item"><%= link_to "Holds", admin_holds_path %></li>
            </ul>
          </li>
          <li  class="nav-item">
            <%= link_to "Appointments", admin_appointments_path, class: "btn btn-link" %>
          </li>
          <li class="nav-item">
            <span class="nav-category">Reports</span>
            <ul class="nav">
              <li class="nav-item"><%= link_to "Activity", admin_reports_monthly_activities_path %></li>
              <li class="nav-item"><%= link_to "Member Requests", admin_reports_member_requests_path %></li>
              <li class="nav-item"><%= link_to "Memberships", admin_reports_memberships_path %></li>
              <li class="nav-item"><%= link_to "Money", admin_reports_money_path %></li>
              <li class="nav-item"><%= link_to "Notifications", admin_reports_notifications_path %></li>
              <li class="nav-item"><%= link_to "Potential Volunteers", admin_potential_volunteers_path %></li>
              <li class="nav-item"><%= link_to "Volunteer Shifts", admin_shifts_path %></li>
              <li class="nav-item"><%= link_to "Items without Image", admin_items_without_image_index_path %></li>
              <li class="nav-item"><%= link_to "Items in Maintenance", admin_reports_items_in_maintenance_index_path%>
            </ul>
          </li>

          <li class="nav-item">
            <span class="nav-category">Settings</span>
            <ul class="nav">
              <li class="nav-item"><%= link_to "Borrow Policies", admin_borrow_policies_path %></li>
              <li class="nav-item"><%= link_to "Categories", admin_categories_path %></li>
              <li class="nav-item"><%= link_to "Documents", admin_documents_path %></li>
              <li class="nav-item"><%= link_to "Gift Memberships", admin_gift_memberships_path %></li>
              <% if current_user.admin? %>
                <li class="nav-item"><%= link_to "Users", admin_users_path %></li>
              <% end %>
            </ul>
          </li>
          <li class="nav-item">
            <%= link_to "Member View", root_path, class: "btn btn-link" %>
          </li>
        </ul>

        <ul class="nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-link" %>
            </li>
          <% end %>
        </ul>
      </div>

      <a class="off-canvas-overlay" href="#close" data-action="sidebar#close"></a>

      <div class="off-canvas-content show-md">
        <span class="off-canvas-title">
          <%= link_to "Circulate", admin_items_path %>
        </span>
        <div class="float-right mr-1 admin-search-form">
          <%= form_with url: admin_search_path do |form| %>
            <div class="has-icon-left">
              <%= form.text_field :query, class: "form-input input-sm", placeholder: "search", type: "search" %>
              <i class="form-icon icon icon-search"></i>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="nav-header hide-md">
      <div class="container grid-lg">
        <header class="navbar">
          <section class="navbar-section">
            <span class="navbar-brand mr-2"><%= link_to "Circulate", admin_dashboard_path %></span>

            <div class="dropdown">
              <a href="#" class="btn btn-link dropdown-toggle" tabindex="0" data-turbolinks="false">
                Lending <i class="icon icon-caret"></i>
              </a>
              <ul class="menu">
                <li class="menu-item"><%= link_to "Items", admin_items_path %></li>
                <li class="menu-item"><%= link_to "Members", admin_members_path %></li>
                <li class="menu-item"><%= link_to "Loans", admin_loan_summaries_path %></li>
                <li class="menu-item"><%= link_to "Renewals", admin_renewal_requests_path %></li>
                <li class="menu-item"><%= link_to "Holds", admin_holds_path %></li>
              </ul>
            </div>
            <div class="dropdown">
              <%= link_to "Appointments", admin_appointments_path, class: "btn btn-link" %>
            </div>
            <div class="dropdown">
              <a href="#" class="btn btn-link dropdown-toggle" tabindex="0" data-turbolinks="false">
                Reports <i class="icon icon-caret"></i>
              </a>
              <ul class="menu">
                <li class="menu-item"><%= link_to "Activity", admin_reports_monthly_activities_path %></li>
                <li class="menu-item"><%= link_to "Member Requests", admin_reports_member_requests_path %></li>
                <li class="menu-item"><%= link_to "Memberships", admin_reports_memberships_path %></li>
                <li class="menu-item"><%= link_to "Money", admin_reports_money_path %></li>
                <li class="menu-item"><%= link_to "Notifications", admin_reports_notifications_path %></li>
                <li class="menu-item"><%= link_to "Potential Volunteers", admin_potential_volunteers_path %></li>
                <li class="menu-item"><%= link_to "Volunteer Shifts", admin_shifts_path %></li>
                <li class="menu-item"><%= link_to "Items without Image", admin_items_without_image_index_path %></li>
                <li class="menu-item"><%= link_to "Items in Maintenance", admin_reports_items_in_maintenance_index_path%>
              </ul>
            </div>
            <div class="dropdown">
              <a href="#" class="btn btn-link dropdown-toggle" tabindex="0" data-turbolinks="false">
                Settings <i class="icon icon-caret"></i>
              </a>
              <ul class="menu">
                <li class="menu-item"><%= link_to "Borrow Policies", admin_borrow_policies_path %></li>
                <li class="menu-item"><%= link_to "Categories", admin_categories_path %></li>
                <li class="menu-item"><%= link_to "Documents", admin_documents_path %></li>
                <li class="menu-item"><%= link_to "Gift Memberships", admin_gift_memberships_path %></li>
                <% if current_user.has_role?(:admin) %>
                  <li class="menu-item"><%= link_to "Users", admin_users_path %></li>
                <% end %>
                <% if current_user.has_role?(:super_admin) %>
                  <li class="menu-item"><%= link_to "Libraries", super_admin_libraries_path %></li>
                <% end %>
              </ul>
            </div>
          </section>
          <section class="navbar-section">
            <%= form_with url: admin_search_path do |form| %>
                <div class="has-icon-left">
                  <%= form.text_field :query, class: "form-input input-sm", placeholder: "search" %>
                  <i class="form-icon icon icon-search"></i>
                </div>
            <% end %>
          </section>
          <%= render partial: "shared/time_override" if Rails.env.development? %>
          <div class="dropdown">
            <%= link_to "Member View", root_path, class: "btn btn-link" %>
          </div>
          <section class="navbar-section">
            <% if user_signed_in? %>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-link" %>
            <% end %>
          </section>
        </header>
      </div>
    </div>

    <% if @requested_renewal_request_count && @requested_renewal_request_count > 0 %>
      <div class="app-banner">
        <div class="header-header">
          <div class="container grid-lg">
            <p>
              <%= link_to admin_renewal_requests_path do %> 
                There <%= "is".pluralize @requested_renewal_request_count %> <%= pluralize @requested_renewal_request_count, "pending renewal request" %>. 
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>

    <% if content_for? :header %>
      <div class="app-header">
        <div class="header-header">
          <div class="container grid-lg">
            <%= yield :header %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="container grid-lg admin app-body">
      <%= flash_message :success  %>
      <%= flash_message :warning  %>
      <%= flash_message :error  %>
      <%= yield %>
    </div>

  </body>
</html>
