<!DOCTYPE html>
<html>
  <head>
    <title>Circulate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container grid-lg">
      <header class="navbar">
        <section class="navbar-section">
          <span class="navbar-brand mr-2">Circulate</span>
          <%= link_to "Items", items_path, class: "btn btn-link" %>
          <%= link_to "Members", members_path, class: "btn btn-link" %>
          <%= link_to "Loans", loans_path, class: "btn btn-link" %>
          <%= link_to "Categories", categories_path, class: "btn btn-link" %>
        </section>
        <section class="navbar-section">
          <div class="input-group input-inline">
            <input class="form-input" type="text" placeholder="search">
            <button class="btn btn-primary input-group-btn">Search</button>
          </div>
        </section>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
