<!DOCTYPE html>
<html>
  <head>
    <title>Circulate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <% unless request.get? && !form_request? # prevent turbolinks for caching form redisplays, which will often contain validation messages %>
      <meta name="turbolinks-cache-control" content="no-cache">
    <% end %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env.production? %>
      <script async defer data-domain="app.chicagotoollibrary.org" src="https://plausible.io/js/plausible.js"></script>
    <% end %>
  </head>

  <%= tag.body class: @body_class do %>
    <div class="off-canvas" data-controller="sidebar">

      <a class="off-canvas-toggle btn btn-action btn-lg show-sm" href="#sidebar-id" data-action="sidebar#open">
        <i class="icon icon-menu"></i>
      </a>

      <div id="sidebar-id" class="off-canvas-sidebar" data-target="sidebar.menu">
        <ul class="nav">
          <li class="nav-item">
            <%= form_with url: search_path, method: :get, class: "mr-2 search-box", local: true do |form| %>
                <div class="has-icon-left">
                  <%= form.text_field :query, class: "form-input input-sm", placeholder: "search items" %>
                  <i class="form-icon icon icon-search"></i>
                </div>
            <% end %>
          </li>
          <%= render partial: 'shared/navbar_links' %>
          <% if user_signed_in? %>
            <%= navbar_link_to('Logout', destroy_user_session_path, method: :delete) %>
          <% end %>
        </ul>
      </div>

      <a class="off-canvas-overlay" href="#close" data-action="sidebar#close"></a>

      <div class="off-canvas-content text-center show-sm">
        <a href="https://chicagotoollibrary.org/">
          <%= image_pack_tag "logo_small.png", class: "mobile-logo" %>
        </a>
      </div>
    </div>

    <div class="container grid-lg public">

      <header class="navbar hide-sm">
        <section class="navbar-section">
          <span class="navbar-brand mr-3">
            <a href="https://chicagotoollibrary.org/">
              <%= image_pack_tag "logo_small.png" %>
            </a>
          </span>
          <ul class="navbar-links">
            <%= render partial: 'shared/navbar_links' %>
          </ul>
        </section>
        <section class="navbar-section search-section">
          <%= form_with url: search_path, method: :get, local: true do |form| %>
            <div class="input-group input-inline">
              <%= form.text_field :query, class: "form-input" %>
              <%= form.submit "Search", class: "btn btn-primary input-group-btn" %>
            </div>
          <% end %>
        </section>
      </header>
      
      <%= render partial: "shared/time_override" if Rails.env.development? %>

      <% if content_for? :header %>
        <div class="app-header">
          <div class="header-header">
            <%= yield :header %>
          </div>
        </div>
      <% end %>

      <div class="app-body">
        <%= flash_message :success  %>
        <%= flash_message :warning  %>
        <%= flash_message :error  %>

        <%= render(partial: "account/membership_renewal_message") if user_signed_in? %>

        <%= yield %>
      </div>
    </div>
  <% end %>
  
  <%= render partial: 'layouts/footer', object: @member, as: :member %>
</html>
