<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta charset="utf-8">
    <% unless request.get? && !form_request? # prevent turbo for caching form redisplays, which will often contain validation messages %>
      <meta name="turbo-cache-control" content="no-cache">
    <% end %>
    <meta name="turbo-prefetch" content="false"> <%# ask turbo not to prefetch links on hover %>
    <%= yield :head %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  </head>

<%= tag.body class: "public #{@body_class}" do %>

    <div class="accessibility-links" role="navigation" data-turbo="false">
      <%= link_to "Skip to content", "#content-start" %>
    </div>

    <%= render partial: "layouts/header" %>

    <div class="container grid-lg public">
      <%= render partial: "shared/time_override" if Rails.env.development? %>

      <main id="content-start">
        <% if content_for? :header %>
          <div class="app-header">
            <div class="header-header">
              <%= yield :header %>
            </div>
          </div>
        <% end %>

        <div class="app-body">
          <%= flash_message :success %>
          <%= flash_message :warning %>
          <%= flash_message :error %>
          <%= flash_message :alert, "error" %>

          <%= render(partial: "account/membership_renewal_message") if user_signed_in? %>

          <%= yield %>
        </div>
      </main>
    </div>

    <%= render partial: "layouts/footer", object: @member, as: :member %>
  <% end %>
</html>
