<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta charset="utf-8">
    <% unless request.get? && !form_request? # prevent turbolinks for caching form redisplays, which will often contain validation messages %>
      <meta name="turbolinks-cache-control" content="no-cache">
    <% end %>
    <%= javascript_include_tag "application", 'data-turbolinks-track': "reload", defer: true %>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>

    <% if Rails.env.production? %>
      <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
      <script>
          document.addEventListener("turbolinks:load", function() {
              Weglot.initialize({
                  api_key: '<%= ENV.fetch("WEGLOT_API_KEY", "weglot key").to_json %>'
              });
          });
      </script>
    <% end %>
  </head>

  <%= tag.body class: "public #{@body_class}" do %>

    <div class="accessibility-links" role="navigation" data-turbolinks="false">
      <%= link_to "Skip to content", "#content-start" %>
    </div>

    <div class="off-canvas" data-controller="sidebar">

      <div id="sidebar-id" class="off-canvas-sidebar" data-target="sidebar.menu">
        <ul class="nav">
          <%= render partial: "shared/navbar_links" %>
        </ul>
      </div>

      <a class="off-canvas-overlay" href="#close" data-action="sidebar#close" title="close sidebar"></a>

      <div class="off-canvas-content show-sm mobile-banner">
        <div class="mobile-banner-content">
          <div class="logo">
            <a href="https://chicagotoollibrary.org/">
              <%= logo(small: true) %>
            </a>
          </div>

          <%= render "shared/search" %>
        </div>
      </div>

      <a class="off-canvas-toggle btn btn-action btn-lg show-sm" href="#sidebar-id" data-action="sidebar#open" title="show sidebar nvigation">
        <i class="icon icon-menu"></i>
      </a>
    </div>

    <div class="container grid-lg public">

      <header class="navbar hide-sm">
        <section class="navbar-section">
          <span class="navbar-brand mr-3">
            <a href="https://chicagotoollibrary.org/">
              <%= image_tag "logo_small.png", alt: "Chicago Tool Library logo" %>
            </a>
          </span>
          <ul class="navbar-links">
            <%= render partial: "shared/navbar_links" %>
          </ul>
        </section>
        <section class="navbar-section search-section">
          <%= render "shared/search", id: "navbarQuery" %>
        </section>
      </header>

      <%= render partial: "shared/time_override" if Rails.env.development? %>

      <main id="content-start">
        <% if content_for? :header %>
          <div class="app-header">
            <div class="header-header">
              <%= yield :header %>
            </div>
          </div>
        <% end %>

        <div class="app-body">
          <%= flash_message :success %>
          <%= flash_message :warning %>
          <%= flash_message :error %>
          <%= flash_message :alert, "error" %>

          <%= render(partial: "account/membership_renewal_message") if user_signed_in? %>

          <%= yield %>
        </div>
      </main>
    </div>

    <%= render partial: "layouts/footer", object: @member, as: :member %>
  <% end %>
</html>
