<!DOCTYPE html>
<html>
  <head>
    <title>Circulate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <% unless request.get? && !form_request? # prevent turbolinks for caching form redisplays, which will often contain validation messages %>
      <meta name="turbolinks-cache-control" content="no-cache">
    <% end %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= tag.body class: @body_class do %>

  <div class="member-nav">
    <%# Mobile Nav Div %>
    <div class="off-canvas" data-controller="sidebar">

      <%# Hamburger Menu Toggle, Positioned Absolutely from Hidden off-canvas div %>
      <a class="off-canvas-toggle btn btn-action show-sm" href="#sidebar-id" data-action="sidebar#open">
        <i class="icon icon-menu"></i>
      </a>

      <%# Mobile Nav Logo %>
      <%# Surrounding div used to create navbar with primary-color %>
      <div class="show-sm mobile-nav">
        <a href="https://chicagotoollibrary.org/">
          <%= image_pack_tag "logo_small.png" %>
        </a>
      </div>

      <%# Sidebar Div %>
      <div id="sidebar-id" class="off-canvas-sidebar" data-target="sidebar.menu">
        <div class="sidebar-list">
          <a href="https://chicagotoollibrary.org/">
            <%= image_pack_tag "logo_small.png" %>
          </a>
          <ul class="nav">
              <%= form_with url: search_path, method: :get, class: "mr-2 search-box", local: true do |form| %>
                <li class="nav-item">
                  <div class="input-group input-inline">
                    <i class="icon icon-search"></i>
                    <%= form.text_field :query, class: "form-input input-sm", placeholder: "search items" %>
                  </div>
                </li>
              <% end %>
            <span class="nav-category">Site Links</span>
            <ul class="nav">
              <li class="nav-item"><%= link_to "View Inventory", items_path %></li>
              <li class="nav-item"><%= link_to "Become a Member", signup_path %></li>
              <% if user_signed_in? && current_user.admin? %>
                <li class="nav-item"><%= link_to "Admin Dashboard", admin_dashboard_path %></li>
              <% end %>
            </ul>

            <%# Member Links -- Displayed if User is Signed in %>
            <% if user_signed_in? %>
              <span class="nav-category">Member Links</span>
              <ul class="nav">
                <li class="nav-item"><%= link_to "My Loans", member_loans_path %></li>
                <li class="nav-item"><%= link_to "View Loan History", member_loan_history_path %></li>
                <li class="nav-item"><%= link_to "Account Settings", member_profile_path %></li>
              </ul>
                <li class="nav-item logout-link"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
            <% else %>
              <span class="nav-category"><i class="icon icon-people mr-1"></i><%= link_to "Member Login", user_session_path %></span>
            <% end %>
          </li>
          </ul>
        </div>
      </div>

      <%# Link to Close Sidebar %>
      <a class="off-canvas-overlay" href="#close" data-action="sidebar#close"></a>
    </div>

    <%# Full Size Nav, Hidden under 600pxs %>
    <div class="hide-sm">
    <div class="container grid-lg public">
      <header class="navbar">
        <section class="navbar-section">
          <span class="navbar-brand mr-2">
            <a href="https://chicagotoollibrary.org/">
            <%= image_pack_tag "logo_small.png" %>
            </a>
          </span>
          <span class="navbar-brand  mr-2 ml-2"><%= link_to "View Inventory", items_path %></span>
          <span class="navbar-brand  mr-2 ml-2"><%= link_to "Become a Member", signup_path %></span>
          <% if user_signed_in? && current_user.admin? %>
            <span class="navbar-brand  mr-2 ml-2"><%= link_to "Admin Dashboard", admin_dashboard_path %></span>
          <% end %>
          |
          <%= form_with url: search_path, method: :get, class: "mr-2", local: true do |form| %>
            <div class="input-group input-inline">
              <%= form.text_field :query, class: "form-input input-sm", placeholder: "search items" %>
            </div>
          <% end %>
        </section>
        <%= render partial: 'layouts/user', object: @member, as: :member %>
      </header>
    </div>
    </div>
  </div>

    <div class="container grid-lg public">


      <%= flash_message :success  %>
      <%= flash_message :warning  %>
      <%= flash_message :error  %>

      <%= yield %>
    </div>

  <% end %>
</html>
