<!DOCTYPE html>
<html>
  <head>
    <title>Circulate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <% unless request.get? && !form_request? # prevent turbolinks for caching form redisplays, which will often contain validation messages %>
      <meta name="turbolinks-cache-control" content="no-preview">
    <% end %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track': "reload" %>

  </head>

  <body class="background-white">

    <div>
      <%= flash_message :success %>
      <%= flash_message :warning %>
      <%= flash_message :error %>
      <%= yield %>
    </div>

  </body>
</html>
