<!DOCTYPE html>
<html>
  <head>
    <title>Circulate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <% unless request.get? && !form_request? # prevent turbolinks for caching form redisplays, which will often contain validation messages %>
      <meta name="turbolinks-cache-control" content="no-preview">
    <% end %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
    <%= stylesheet_pack_tag "styles", media: "all", 'data-turbolinks-track': "reload" %>
    <% if Rails.env.production? %>
      <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
      <script>
          document.addEventListener("turbolinks:load", function() {
              Weglot.initialize({
                  api_key: '<%= ENV.fetch("WEGLOT_API_KEY", "weglot key").to_json %>'
              });
          });
      </script>
    <% end %>
  </head>

  <body>
    <div class="toast toast-warning text-center">
      Chicago Tool Library will be closed until January 2023 while we <a href="https://www.chicagotoollibrary.org/ctl-relocation">move to a new location</a>.<br>
      Continue to sign up today &mdash; your membership won't start until your first visit to the tool library!
    </div>

    <div class="container grid-lg signup app">
      <%= flash_message :success %>
      <%= flash_message :warning %>
      <%= flash_message :error %>

      <div class="columns">
        <div class="column col-12">
          <div class="signup-logo <%= "on-step" if @active_step %>">
            <%= logo(small: true) %>
            <h1><%= @page_title %></h1>
          </div>
          <%= render "shared/steps", steps: @steps unless @hide_steps %>
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
