<% content_for :header do %>
  <%= index_header "Loan History" %>
<% end %>

<table class="table table-scroll">
  <thead>
    <tr>
      <th></th>
      <th>Item</th>
      <th>Checked out</th>
      <th>Due at</th>
      <th>Ended at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td>
        <%= tag.div class: "items-table-image" do %>
          <% if loan.item.image.attached? %>
            <%= link_to item_path(loan.item) do %>
              <%= image_tag url_for(rotated_variant(loan.item.image, resize_to_limit: [200, 140])), class: "p-centered" %>
          <% end %>
          <% else %>
            <div class="image-placeholder"></div>
          <% end %>
        <% end %>
        
        </td>
        <td><%= loan.item.name %></td>
        <td><%= loan.created_at %></td>
        <td><%= loan.due_at %></td>
        <td><%= loan.ended_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
