<%= index_header "Members" do %>
  <%= link_to 'New Member', new_member_path, class: "btn" %>
<% end %>

<div class="responsive-table five-columns">
  <%= tag.div "Full Name", class: "responsive-table-header" %>
  <%= tag.div "Name and Pronoun", class: "responsive-table-header" %>
  <%= tag.div "Email", class: "responsive-table-header" %>
  <%= tag.div "Phone", class: "responsive-table-header" %>
  <%= tag.div "", class: "responsive-table-header" %>

  <% @members.each do |member| %>
    <%= tag.div member.full_name, class: "responsive-table-cell" %>
    <%= tag.div class: "responsive-table-cell" do %>
      <%= member.preferred_name %>
      <%= tag.div member_pronoun(member), class: "label" %>
    <% end %>
    <%= tag.div member.email, class: "responsive-table-cell" %>
    <%= tag.div member.phone_number, class: "responsive-table-cell" %>
    <%= tag.div class: "responsive-table-cell" do %>
      <%= link_to 'Show', member %>
      <%= link_to 'Edit', edit_member_path(member) %>
      <%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>