<%= index_header "Members" do %>
  <%= link_to 'New Member', new_member_path, class: "btn" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Full name</th>
      <th>Preferred name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.full_name %></td>
        <td><%= member.preferred_name %></td>
        <td><%= member.email %></td>
        <td><%= member.phone_number %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>