<% content_for :header do %>
  <%= index_header "Loans" %>
<% end %>

<table class="table table-scroll" id="loans-table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Inventory Number</th>
      <th>Type</th>
      <th>Due at</th>
      <th>Ended at</th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td>
          <%= link_to item_path(loan.item) do %>
            <%= image_tag url_for(rotated_variant(loan.item.image, resize_to_limit: [200, 140])), class: "p-centered" %>
            <%= loan.item.name %>
          <% end %>
        </td>
        <td><%= loan.item.number %></td>
        <td><%= "Tool" %></td>
        <td><%= "Due #{humanize_due_date(loan)}" %></td>
        <td><%= loan.ended_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
