<% content_for :header do %>
  <%= index_header "Loans" %>
<% end %>

<h1>My Loans & Holds</h1>

<h3>Checked-out Items</h3>
<table class="table table-scroll" id="loans-table">
  <thead>
    <tr>
      <th></th>
      <th>Item</th>
      <th>Inventory Number</th>
      <th>Due Date</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td>
          <%= link_to item_path(loan.item) do %>
            <% if loan.item.image.attached? %>
              <%= image_tag url_for(rotated_variant(loan.item.image, resize_to_limit: [200, 140])), class: "p-centered" %>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to loan.item.name %></td>
        <td><%= loan.item.complete_number %></td>
        <td class=<%= loan.due_at - Time.now < 3.days ? "warning" : "" %>><%= "Due #{humanize_due_date(loan)}" %></td>
        <td><%= loan.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Holds</h3>
