<% content_for :header do %>
  <%= index_header "Loans" %>
<% end %>

<h1 class="new_title">My Loans & Holds</h1>

<h3 class="title_bold">Checked-out Items</h3>
<table class="table table-scroll" id="loans-table">
  <thead>
    <tr>
      <th></th>
      <th class="caption">Item</th>
      <th class="caption">Inventory Number</th>
      <th class="caption">Due Date</th>
      <th class="caption">Status</th>
      <th class="caption">Renew</th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td>
          <%= link_to item_path(loan.item) do %>
            <% if loan.item.image.attached? %>
              <%= image_tag url_for(rotated_variant(loan.item.image, resize_to_limit: [200, 140])), class: "p-centered" %>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to loan.item.name, item_path(loan.item) %></td>
        <td><%= loan.item.complete_number %></td>
        <td class=<%= loan.due_at - Time.now < 3.days ? "warning" : "" %>><%= "Due #{humanize_due_date(loan)}" %></td>
        <td><%= loan.status %></td>
        <td>
          <% if loan.item.borrow_policy.member_renewable? && !loan.within_borrow_policy_duration? && loan.renewal? %>
            <%= button_to "Renewed", "#", method: :post, class: "btn btn-sm", disabled: true %>
          <% elsif loan.member_renewable? %>
            <%= button_to 'Renew Loan', member_loans_renew_path(loan), method: :post, class: "btn btn-sm" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1 class="new_title">Holds</h1>

<table class="table table-scroll">
  <thead>
    <tr>
      <th></th>
      <th class="caption">Item</th>
      <th class="caption">Inventory Number</th>
      <th class="caption">Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @holds.each do |hold| %>
      <tr>
        <td>
          <%= link_to item_path(hold.item) do %>
            <% if hold.item.image.attached? %>
              <%= image_tag url_for(rotated_variant(hold.item.image, resize_to_limit: [200, 140])), class: "p-centered" %>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to hold.item.name, item_path(hold.item) %></td>
        <td><%= hold.item.complete_number %></td>
        <td><%= render_place_in_queue(hold) %></td>
        <td><%= link_to "Remove", delete_member_hold_path(hold), method: :delete, data: { confirm: 'Are you sure you want to remove this hold?' } %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="button">
  <% if @holds.present? %>
    <%= button_to 'Schedule a Pick Up', new_appointment_path, class: "btn btn-sm", method: :get %>
  <% end %>
</div>
