<div class="columns">
  <div class="column col-8 col-sm-12 col-mx-auto">
    <h2><%= @document.name %></h2>

    <%= @document.body %>

    <%= form_with(model: @acceptance, url: signup_document_acceptance_url(document_id: @document), builder: SpectreFormBuilder) do |form| %>
      <%= form.errors %>
      <%= form.check_box :terms, class: "input-lg", label: "I have read, understand, and agree to these terms." %>
      <%= form.actions do %>
        <%= form.submit "Continue" %>
      <% end %>
    <% end %>
  </div>
</div>
