<div class="columns">
  <div class="column col-12">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "All Members", admin_members_path %>
      </li>
        <li class="breadcrumb-item">
          <%= link_to @member.preferred_name, admin_member_path(@member) %>
        </li>
        <li class="breadcrumb-item">Account History</li>
    </ul>
  </div>
</div>

<div class="columns">
  <div class="column col-12">
    <h1>Account History</h1>

    <table class="table table-scroll">
      <thead>
        <tr>
          <th>Date</th>
          <th>Amount</th>
          <th>What</th>
        </tr>
      </thead>

      <tbody>
        <% @adjustments.each do |adjustment| %>
          <tr>
            <td><%= adjustment.created_at.to_s(:long_date) %></td>
            <td><%= adjustment.amount.format %></td>
            <td>
              <% if adjustment.payment? %>
                <%= adjustment.payment_source.capitalize %> payment
              <% else %>
                <%= adjustment.kind.capitalize %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>