<h1>Renewal Request</h1>

<p><%= @member.email %></p>

<% if @renewable_loans.any? %>
  <%= form_with(model: @renewal_request, url: account_member_renewal_requests_path(params[:member_id]), method: :post, builder: SpectreFormBuilder) do |f| %>
    <h2>Please select which items you'd like to renew.</h2>
    <%= f.errors %>
    <%= f.collection_check_boxes :loan_ids, @renewable_loans, :latest_loan_id, lambda {|ls| ls.item.name } %>
    <%= f.submit do %>
      <%= feather_icon "repeat" %>Renew selected items
    <% end %>
  <% end %>
<% end %>

<% if @not_renewable_loans.any? %>
  <h2>The following items can't be renewed:</h2>
  <% @not_renewable_loans.each do |summary| %>
    <p>
      <%= summary.item.name %>
    </p>
  <% end %>
<% end %>

<%= link_to "Cancel", account_member_path(params[:member_id]), class: "btn btn-block" %>